.c-top-nav {
  @include ui-link($background: true);
  display: block;
  position: fixed;
  bottom: 8rem;
  right: 0;
  z-index: ($z-index-modal + 1);
  padding: $space-medium;
  box-shadow: 0 -1px 0 $navigation-color--offset;
  opacity: 0;
  transition: opacity 0.5s ease-in;

  &.is-visible {
    @media screen and (min-width: 31.5em) and (min-height: 26.9375em) {
      opacity: 1;
    }
  }
}
