.c-top-nav {
  @include nav();
  color: $color-neutral--light;
  border-top: 1px solid $color-neutral--lightest;
  padding: 0;
  width: 4.5rem; // 72px
  height: 4.5rem; // 72px
  opacity: 0;
  position: fixed;
  bottom: 9rem; // 144px
  right: 0;
  z-index: $z-index-overlay;
  display: none;

  @media screen and (min-width: 31.5em) and (min-height: 26.9375em) {
    display: block;
  }

  &:hover {
    color: $color-neutral;
    background-color: lighten($color-neutral--lightest, 1%);
  }

  &:active {
    color: $color-neutral--dark;
    background-color: darken($color-neutral--lightest, 1%);
  }
}

.c-top-nav__icon {
  padding: 0.75rem;
  display: block;
}

.c-top-nav__label {
  font: 0/0 sans;
  overflow: hidden;
}
