.c-top-nav {
  @include ui-link();
  display: block;
  position: fixed;
  bottom: 9rem; // 144px
  right: 0;
  z-index: ($z-index-modal + 1);
  box-shadow: 0 -1px 0 $color-neutral--lightest;
  padding: spacing(inset);
  opacity: 0;
  transition: opacity 0.5s ease-in;

  &.is-visible {
    @media screen and (min-width: 31.5em) and (min-height: 26.9375em) {
      opacity: 1;
    }
  }
}
