// =========================================================
// Grouping content
// w3c.github.io/html/grouping-content.html
// =========================================================

p,
pre,
blockquote,
ul,
ol,
dl,
figure {
  margin: 0;
}

pre {
  overflow: auto;
  white-space: pre;
  hyphens: none;
  tab-size: 2;
}

blockquote {
  @media print {
    page-break-inside: avoid;
  }
}

// Add the correct display in IE 9-.
figure,
figcaption {
  display: block;
}

// Default to ’bare’ lists (opinionated).
ol,
ul {
  padding: 0;
  list-style: none;
}

// Default to no indenting on defintion data (opinionated).
dd {
  margin: 0;
}
