// =========================================================
// Links
// w3c.github.io/html/links.html
// =========================================================

// 1. Remove grey background on active links in IE 10.
a {
  background-color: transparent; // 1
  text-decoration: none;
  text-decoration-color: rgba($color-link, 0.33);
  color: $color-link;
  transition: all 0.2s ease;
}

// 1. Improve readability when focused and also mouse hovered in all browsers
a:active,
a:hover {
  color: $color-link--hover;
  text-decoration-color: rgba($color-link--hover, 0.33);
  outline: 0; // 1
}

a:active {
  color: $color-link--active;
  text-decoration-color: rgba($color-link--active, 0.33);
}

@media print {
  a,
  a:visited {
    color: black !important;
  }
}
