// =========================================================
// Sections
// w3c.github.io/html/sections.html
// =========================================================

// 1. Prevent adjustment of font size on orientation change.
html {
  box-sizing: border-box;
  height: 100%;
  text-size-adjust: 100%; // 1
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@media print {
  @page {
    margin: 2cm;
  }

  * {
    background-color: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

body {
  color: $color-text;
  font-family: $font-family-sans;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5; // 24px
  background-color: #fff;
  margin: 0;
  height: 100%;

  @media screen and (max-width: 31.4375em) {
    margin-top: 3em; // 48px
  }

  @media screen and (min-width: 31.5em) {
    margin-right: 4.5rem; // 72px
  }

  @media print {
    margin-right: 0;
  }
}

// Add the correct display in IE 9-.
article,
aside,
footer,
header,
main,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-rendering: optimizeLegibility;
  font-size: inherit;
  font-weight: inherit;

  @media print {
    page-break-after: avoid;
  }
}

// 1. Add the correct box sizing in Firefox.
// 2. Show the overflow in Edge and IE.
hr {
  box-sizing: content-box; // 1
  height: 0; // 1
  overflow: visible; // 2
  border: 0;
  font: 0/0 normal;
}
