.c-button {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: $color-link;
  border: 0 none;
  border-radius: 0;
  padding: 1em 1.5em;
  display: inline-block;

  &:hover {
    color: #fff;
    background-color: $color-link--hover;
  }

  &:active {
    color: #fff;
    background-color: $color-link--active;
  }

  @media print {
    display: none;
  }
}

.c-button--more {
  width: 100%;
}
