.c-button {
  @include label();
  color: white;
  text-align: center;
  background-color: $color-link;
  padding: spacing(inset); // SPACE: SQUISHED INSET
  display: inline-block;

  &:hover {
    color: white;
    background-color: $color-link--hover;
  }

  &:active {
    color: white;
    background-color: $color-link--active;
  }

  @media print {
    display: none;
  }
}

.c-button--more {
  width: 100%;
}
