.c-button {
  @apply --typeset-ui;
  display: inline-block;
  padding: map(spaces, medium) map(spaces, large);
  background-color: $color-ui-link;
  text-align: center;
  text-transform: uppercase;
  color: white;

  &:hover {
    background-color: $color-ui-link--hover;
    color: white;
  }

  &:active {
    background-color: $color-ui-link--active;
    color: white;
  }

  @media print {
    display: none;
  }
}

.c-button--more {
  width: 100%;
}
