// ========================================================
//
// Variables
//
// ========================================================

// Import design tokens (from ./src/assets/tokens)
@import 'borders.json';
@import 'breakpoints.json';
@import 'colors.json';
@import 'fonts.json';
@import 'layers.json';
@import 'sizes.json';
@import 'spaces.json';

// Banner
$banner-height--small: $size-large;
$banner-height--large: $size-xlarge;
$banner-duration: 0.1s;

// Navigation
$navigation-width--large: $size-xlarge;
$navigation-duration: 0.2s;
$navigation-color: white;
$navigation-color--offset: palette(neutral, lightest);
$navigation-color--text: palette(neutral, dark);
$navigation-color--shadow: rgba(palette(neutral), 0.25);
$navigation-color--backdrop: rgba(palette(neutral, dark), 0.25);

// Prose
$prose-color--background: rgba(palette(neutral), 0.15);
$prose-color--rule: rgba(palette(neutral), 0.25);
$prose-color--shadow: rgba(palette(neutral), 0.25);

// Color assignments
$color-neutral: palette(neutral);
$color-neutral--lightest: palette(neutral, lightest);
$color-neutral--lighter: palette(neutral, lighter);
$color-neutral--light: palette(neutral, light);
$color-neutral--dark: palette(neutral, dark);
$color-neutral--darker: palette(neutral, darker);
$color-neutral--darkest: palette(neutral, darkest);

$color-link: palette(secondary);
$color-link--hover: palette(secondary, dark);
$color-link--active: palette(secondary, light);

$color-ui-link: palette(primary);
$color-ui-link--hover: palette(primary, light);
$color-ui-link--active: palette(primary, dark);

$color-focus: palette(secondary, light);

$color-text: $color-neutral--darker;

// Fallback theme colours
$color-year: hsl(348, 100%, 16%);
$color-year--dark: hsl(348, 100%, 8%);

$color-day: hsl(360, 80%, 60%);
$color-day--dark: hsl(360, 100%, 24%);
$color-day--light: hsl(360, 60%, 96%);
