/* =====================================================
   Variables
   ===================================================== */

:root {
  /* Banner */
  --banner-height--small: map(sizes, large);
  --banner-height--large: map(sizes, xlarge);
  --banner-duration: 0.1s;

  /* Navigation */
  --navigation-width--large: map(sizes, xlarge);
  --navigation-duration: 0.2s;
  --navigation-color: white;
  --navigation-color--offset: map(colors, neutral, lightest);
  --navigation-color--text: map(colors, neutral, dark);
  --navigation-color--shadow: color(map(colors, neutral, base) a(25%));
  --navigation-color--backdrop: color(map(colors, neutral, dark) a(25%));

  /* Text */
  --color-text: var(--color-neutral--darker);

  /* Prose */
  --prose-color--background: color(map(colors, neutral, base) a(15%));
  --prose-color--rule: color(map(colors, neutral, base) a(25%));
  --prose-color--shadow: color(map(colors, neutral, base) a(25%));

  /* Neutrals */
  --color-neutral: map(colors, neutral, base);
  --color-neutral--lightest: map(colors, neutral, lightest);
  --color-neutral--lighter: map(colors, neutral, lighter);
  --color-neutral--light: map(colors, neutral, light);
  --color-neutral--dark: map(colors, neutral, dark);
  --color-neutral--darker: map(colors, neutral, darker);
  --color-neutral--darkest: map(colors, neutral, darkest);

  /* Links */
  --color-link: map(colors, secondary, base);
  --color-link--hover: map(colors, secondary, dark);
  --color-link--active: map(colors, secondary, light);
  --color-ui-link: map(colors, primary, base);
  --color-ui-link--hover: map(colors, primary, light);
  --color-ui-link--active: map(colors, primary, dark);

  /* Focus */
  --color-focus: map(colors, secondary, light);

  /* Themes */
  --color-year: hsl(348, 100%, 16%);
  --color-year--dark: hsl(348, 100%, 8%);
  --color-day: hsl(360, 80%, 60%);
  --color-day--dark: hsl(360, 100%, 24%);
  --color-day--light: hsl(360, 60%, 96%);
}
