.c-search {
  .js-enhanced & {
    @media screen and (min-width: 31.5em) {
      position: absolute;
      top: 0;
      left: 0;
      right: $navigation-width--large;
      overflow: hidden;
      transition: width $navigation-duration ease-out;
    }
  }

  .c-field__label {
    @include hidden;
  }

  .c-field__input {
    width: 100%;
    background-color: $navigation-color--offset;

    &:not(:focus) {
      box-shadow: none;
    }

    @media screen and (min-width: 31.5em) {
      height: $banner-height--large;
    }
  }

  .c-field__button {
    position: absolute;
    top: 0;
    left: 0;

    @media screen and (min-width: 31.5em) {
      top: $size-small;
      height: $banner-height--large;
    }
  }
}
