.c-search {
  .c-field__input {
    width: 100%;
    background-color: var(--navigation-color--offset);
    padding-left: 3rem;

    &:not(:focus) {
      box-shadow: none;
    }

    @media (--from-medium-screen) {
      height: var(--banner-height--large);
    }
  }

  .c-field__button {
    position: absolute;
    top: 0;
    left: 0;
    padding: map(spaces, xsmall);

    @media (--from-medium-screen) {
      padding: map(spaces, medium) map(spaces, xsmall);
    }
  }
}
