.c-search {
  [data-menu-expanded] & {
    @media screen and (min-width: 31.5em) {
      position: absolute;
      top: 0;
      left: 0;
      right: $navigation-width--large;
      overflow: hidden;
      transition: width $navigation-duration ease-out;
    }
  }

  .c-field__input {
    width: 100%;
    background-color: $navigation-color--offset;
    padding-left: 3rem;

    &:not(:focus) {
      box-shadow: none;
    }

    @media screen and (min-width: 31.5em) {
      height: $banner-height--large;
    }
  }

  .c-field__button {
    position: absolute;
    top: 0;
    left: 0;
    padding: $space-xsmall;

    @media screen and (min-width: 31.5em) {
      padding: $space-medium $space-xsmall;
    }
  }
}
