.c-search {
  .js-enhanced & {
    @media screen and (min-width: 31.5em) {
      position: absolute;
      top: 0;
      left: 0;
      right: 4.5rem; // 72px
      overflow: hidden;
      transition: width 0.2s ease-out;
    }
  }

  .c-field__label {
    @include hidden;
  }

  .c-field__input {
    background-color: $color-neutral--lightest;
    box-shadow: none;
    width: 100%;

    @media screen and (min-width: 31.5em) {
      padding-left: 3.5rem; // 56px
      height: 4.5rem; // 72px
    }

    &:focus {
      box-shadow: inset 0 0 0 2px rgba($color-neutral--lighter, 0.5);
    }
  }

  .c-field__button {
    position: absolute;
    top: 0;
    left: 0;

    @media screen and (min-width: 31.5em) {
      height: 4.5rem; // 72px
    }
  }
}
