{% extends "@page" %}
{% block main %}
<article class="article day-01">
  <header class="article_header">
    <h1 class="article_title p-name"><a href="/pages/YYYY/article/">Starting Your <abbr>HTML5</abbr> Project on the Right Foot (and Keeping It There)</a></h1>
    <a class="article_byline" href="#author">
      <span class="c-avatar"><img src="http://media.24ways.org/authors/drewmclellan280.jpg" width="160" height="160" alt="Drew McLellan"/></span>
      by Drew McLellen
    </a>
  </header>

  <section class="section" id="comments">
    <header class="section__header">
      <h1 class="section__title">11 Comments</h1>
    </header>
    <div class="section__main">
      <p>Comments are ordered by helpfulness, as indicated by you. Help us pick out the gems and discourage asshattery by voting on notable comments.</p>
      <p>Got something to add? You can leave a comment below.</p>

      {% render "@comments-list" %}
    </div>
  </section>

  {% render "@comment-form" %}
</article>
{% endblock %}
