.c-topics-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  height: 100%;
  box-shadow: inset 0 1px 0 $navigation-color--offset;

  @media screen and (min-width: 31.5em) {
    box-shadow: 0 -1px 0 $navigation-color--offset;
  }

  .js-enhanced & {
    overflow: hidden;
  }
}

.c-topics-nav__item {
  flex: 1 0 percentage(1/3);

  @media screen and (min-width: 31.5em) {
    [data-menu] & {
      flex-basis: percentage(1/2);
      min-width: percentage(1/2);
    }
  }

  @media screen and (min-width: 50em) {
    flex-basis: percentage(1/6);
  }

  svg {
    height: $size-medium;
    width: $size-medium;
    margin: 0 auto $space-xsmall;

    @media screen and (min-width: 31.5em) {
      height: $size-large;
      width: $size-large;
    }
  }
}

.c-topics-nav__label {
  @include ui-link($background: true);
  @include typeset(label, 2);
  display: block;
  padding: $space-medium;
  box-shadow: inset -1px -1px 0 $navigation-color--offset;
  text-align: center;
}
