.c-topics-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  height: 100%;
  box-shadow: inset 0 1px 0 $color-neutral--lightest;

  @media screen and (min-width: 31.5em) {
    box-shadow: inset -1px 0 0 $color-neutral--lightest;
  }

  .js-enhanced & {
    overflow: hidden;
  }
}

.c-topics-nav__item {
  flex: 1 0 percentage(1/3);

  @media screen and (min-width: 50em) {
    flex-basis: percentage(1/6);
  }

  .js-enhanced & {
    @media screen and (min-width: 31.5em) {
      flex-basis: percentage(1/2);
      min-width: percentage(1/2);
    }
  }
}

.c-topics-nav__icon {
  margin: 0 auto 0.5rem;

  @media screen and (max-width: 31.4375em) {
    height: 2rem; // 32px
    width: 2rem; // 32px
  }
}

.c-topics-nav__label {
  @include ui-link;
  @include ui-text;
  display: block;
  box-shadow: 1px 1px 0 $color-neutral--lightest;
  padding: spacing(inset);
  text-align: center;
  text-transform: uppercase;
}
