<section class="section">
    <header class="section_header">
        <h1 class="section_title">Years</h1>
    </header>
    <div class="section_main">
        <ul class="list">
            <li class="list_item bb-swatch year-2005">2005</li>
            <li class="list_item bb-swatch year-2006">2006</li>
            <li class="list_item bb-swatch year-2007">2007</li>
            <li class="list_item bb-swatch year-2008">2008</li>
            <li class="list_item bb-swatch year-2009">2009</li>
            <li class="list_item bb-swatch year-2010">2010</li>
            <li class="list_item bb-swatch year-2011">2011</li>
            <li class="list_item bb-swatch year-2012">2012</li>
            <li class="list_item bb-swatch year-2013">2013</li>
            <li class="list_item bb-swatch year-2014">2014</li>
            <li class="list_item bb-swatch year-2015">2015</li>
            <li class="list_item bb-swatch year-2016">2016</li>
            <li class="list_item bb-swatch year-2017">2017</li>
            <li class="list_item bb-swatch year-2018">2018</li>
            <li class="list_item bb-swatch year-2019">2019</li>
            <li class="list_item bb-swatch year-2020">2020</li>
        </ol><!--/.list-->
    </div>
</section><!--/.section-colours-->

<section class="section">
    <header class="section_header">
        <h1 class="section_title">Days</h1>
    </header>
    <div class="section_main">
        <ul class="list">
            <li class="list_item bb-swatch day-1">1</li>
            <li class="list_item bb-swatch day-2">2</li>
            <li class="list_item bb-swatch day-3">3</li>
            <li class="list_item bb-swatch day-4">4</li>
            <li class="list_item bb-swatch day-5">5</li>
            <li class="list_item bb-swatch day-6">6</li>
            <li class="list_item bb-swatch day-7">7</li>
            <li class="list_item bb-swatch day-8">8</li>
            <li class="list_item bb-swatch day-9">9</li>
            <li class="list_item bb-swatch day-10">10</li>
            <li class="list_item bb-swatch day-11">11</li>
            <li class="list_item bb-swatch day-12">12</li>
            <li class="list_item bb-swatch day-13">13</li>
            <li class="list_item bb-swatch day-14">14</li>
            <li class="list_item bb-swatch day-15">15</li>
            <li class="list_item bb-swatch day-16">16</li>
            <li class="list_item bb-swatch day-17">17</li>
            <li class="list_item bb-swatch day-18">18</li>
            <li class="list_item bb-swatch day-19">19</li>
            <li class="list_item bb-swatch day-20">20</li>
            <li class="list_item bb-swatch day-21">21</li>
            <li class="list_item bb-swatch day-22">22</li>
            <li class="list_item bb-swatch day-23">23</li>
            <li class="list_item bb-swatch day-24">24</li>
        </ol><!--/.list-->
    </div>
</section><!--/.section-colours-->
