{
  "rules": {
    "at-rule-empty-line-before": ["always", {
      "except": ["blockless-group", "first-nested"],
      "ignore": ["after-comment"]
    }],
    "value-list-comma-newline-after": "never-multi-line",
    "value-list-comma-space-after": "always-single-line",
    "declaration-colon-newline-after": "always-multi-line",
    "declaration-empty-line-before": "never",
    "indentation": 2,
    "string-quotes": "single"
  }
}
