// Sample container
.sample {
  margin: 0 -0.25em;
  display: flex;
  flex-wrap: wrap;

  code {
    display: inline-block;
    background: none;
    padding: 0.75em 0 0.5em;
    font-weight: bolder;
    line-height: 1.2;
    color: $color-text;
  }

  var {
    display: block;
    font: 0.75em/1em 'Hack', 'Consolas', 'Monaco', monospace;
    font-style: normal;
    color: $color-text;
  }
}

// Styleguide: Colour
.color {
  flex: 1 1 4em;
  margin: 0 0.25em 1em;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 5em;
    background-color: currentColor;
  }
}

.color--base {
  order: -1;
  margin-right: 1em;
}

// Styleguide: Typography
.font {
  width: 100%;
  margin: 0 0.25em 2em;

  span {
    display: block;
    margin-bottom: 0.25rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
    white-space: nowrap;
    color: $color-text;
    border-bottom: 1px solid rgba($color-text, 0.2);

    &::before {
      content: 'Aa';
      display: block;
      font-size: 6rem;
      line-height: 1;
    }

    &::after {
      font-size: 1.75rem;
      line-height: 1;
      content: '24 ways is the advent calendar for web geeks';
    }
  }
}

.typeset-title {
  //@include typeset(title, 1);
}

.typeset-heading {
  //@include typeset(heading, 1);
}

.typeset-lede {
  //@include typeset(lede, 1);
}

.typeset-caption {
  //@include typeset(caption, 1);
}

.typeset-label {
  //@include typeset(label, 1);
}

.typeset-prose {
  //@include typeset(prose, 1);
}

// Styleguide: Iconography
.icons svg {
  height: 3rem;
  width: 3rem;
  margin-right: 0.5em;
  color: $color-text;
}
