.c-search {
  .c-field__input {
    width: 100%;
    box-shadow: inset 0 -1px 0 $navigation-color--offset;
    padding-left: map(spaces, xlarge);
    background-color: $navigation-color--offset;

    &:not(:focus) {
      box-shadow: none;
    }

    .has-js & {
      @media (--from-medium-screen) {
        height: $banner-height--large;
      }
    }

    @media (-ms-high-contrast: active) {
      border: 1px solid;
    }
  }

  .c-field__button {
    @apply --focusable;

    position: absolute;
    top: 0;
    left: 0;
    padding: map(spaces, xsmall) map(spaces, small);

    .has-js & {
      @media (--from-medium-screen) {
        padding: map(spaces, medium) map(spaces, xsmall);
      }
    }
  }
}
