.s-embed {
  position: relative;
  overflow: hidden;
  height: 0;
  max-width: 100%;
  padding-bottom: percentage(3/4); // 4:3, default

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.s-embed--widescreen {
  padding-bottom: percentage(9/16); // 16:9
}
