.menu {
  color: $c-neutral-light;
  font: 0/0 a;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000;
  overflow: hidden;

  @media screen and (max-width: 31.4375em) {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }

  @media screen and (min-width: 31.5em) {
    box-shadow: inset 0 -1px 0 $c-neutral-lightest;
    width: 4.5rem; /* 72px */
    height: 4.5rem; /* 72px */

    &:hover {
      color: $c-neutral;
      background-color: lighten($c-neutral-lightest, 1%);
    }

    &:active {
      color: $c-neutral-dark;
      background-color: darken($c-neutral-lightest, 1%);
    }
  }

  @media print {
    display: none;
  }

  &::before {
    font-size: 3rem; /* 48px */
    display: block;

    @media screen and (min-width: 31.5em) {
      line-height: 1.5;
    }
  }

  .js-enhanced & {
    position: fixed;
  }

  .js-menu-active & {
    @media screen and (max-width: 31.4375em) {
      color: $c-neutral;
    }

    &::before {
      content: "\2573";
    }
  }
}
