<div class="s-gallery">
  <img src="http://media.24ways.org/2013/baxter/indexcards.jpg" alt="Index cards">
  <img src="http://media.24ways.org/2013/baxter/indexcards.jpg" alt="Index cards">
</div>

<div class="s-gallery">
  <img src="http://media.24ways.org/2013/baxter/indexcards.jpg" alt="Index cards">
  <img src="http://media.24ways.org/2013/baxter/indexcards.jpg" alt="Index cards">
  <img src="http://media.24ways.org/2013/baxter/indexcards.jpg" alt="Index cards">
</div>

<div class="s-gallery">
  <img src="http://media.24ways.org/2013/baxter/indexcards.jpg" alt="Index cards">
  <img src="http://media.24ways.org/2013/baxter/indexcards.jpg" alt="Index cards">
  <img src="http://media.24ways.org/2013/baxter/indexcards.jpg" alt="Index cards">
  <img src="http://media.24ways.org/2013/baxter/indexcards.jpg" alt="Index cards">
</div>
