.c-author {
  display: block;
  flex: 1;
  position: relative;
}

.c-author__meta {
  @include typeset(label, 1);
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: $space-small;
  background-color: rgba($color-neutral--darkest, 0.75);
  color: white;

  @media print {
    color: white !important;
    background-color: black !important;
  }
}

.c-author__image {
  display: block;
  height: auto;
  width: 100%;
}
