.c-author {
  display: block;
  position: relative;
  flex: 1;
}

.c-author__meta {
  @include caption();
  color: white;
  background-color: rgba($color-neutral--darkest, 0.75);
  margin: 0;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  @media print {
    color: white !important;
    background-color: black !important;
  }
}

.c-author__image {
  height: auto;
  width: 100%;
  display: block;
}
