.c-author {
  display: block;
  position: relative;
  overflow: hidden;
}

.c-author__meta {
  @apply --typeset-label;

  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: map(spaces, small);
  background-color: color(map(colors, neutral, darkest) a(75%));
  color: white;

  @media print {
    color: white !important;
    background-color: black !important;
  }

  .c-author:hover & {
    text-decoration: underline color(white a(66%));
  }
}

.c-author__image {
  display: block;
  height: auto;
  width: 100%;
  transition: transform $author-duration ease-out;

  .c-author:hover & {
    transform: scale(1.1);

    @media (prefers-reduced-motion) {
      transform: none;
    }
  }
}
