<!DOCTYPE html>
<html lang="en-gb" dir="ltr" class="no-js">
  <head>
    <link rel="dns-prefetch" href="//fonts.googleapis.com"/>
    <link rel="dns-prefetch" href="//themes.googleusercontent.com"/>
    <link rel="dns-prefetch" href="//cloud.24ways.org"/>
    <link rel="dns-prefetch" href="//media.24ways.org"/>

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'has-js');

      function downloadJSAtOnload() {
        var element = document.createElement("script");
        element.src = "{{ '/assets/scripts/app.js' | path }}";
        document.body.appendChild(element);
        document.body.dataset.menuExpanded = 'false';
      }

      window.addEventListener("load", downloadJSAtOnload, false);
    </script>

    <link rel="shortcut icon" href="{{ '/assets/icons/icon.ico' | path }}" type="image/ico"/>
    <link rel="apple-touch-icon" href="{{ '/assets/icons/icon.png' | path }}" type="image/png"/>
    <link rel="mask-icon" href="{{ '/assets/icons/icon.svg' | path }}" color="{{ site.theme_color }}"/>
    <link rel="author" href="/humans.txt"/>
    <link rel="manifest" href="/manifest.json"/>
    <link rel="alternate" href="{{ site.feed }}" type="application/rss+xml"/>
    <link rel="stylesheet" href="{{ '/assets/styles/app.css' | path }}"/>

    <style>
      :root {
        --color-year: hsl({{ theme.year[11] }}, 100%, 16%);
        --color-year--dark: hsl({{ theme.year[11] }}, 100%, 8%);
        --color-day: hsl({{ theme.day[11]}}, 80%, 60%);
        --color-day--dark: hsl({{ theme.day[11]}}, 100%, 24%);
        --color-day--light: hsl({{ theme.day[11]}}, 60%, 96%);
      }
    </style>

    <meta charset="utf-8"/>
    <meta name="robots" content="index, follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="twitter:site" content="@{{ site.handle }}"/>
    <meta name="twitter:title" content="{{ site.title }}"/>
    <meta name="twitter:description" content="{{ site.description }}"/>
    <meta name="twitter:creator" content="@{{ site.handle }}"/>
    <meta name="twitter:card" content="summary"/>

    <title>{{ _target.context.title }} &#9670; 24 ways</title>
  </head>

  <body>
    {{ yield }}
  </body>
</html>
