<!DOCTYPE html>
<!--
    PHP: Check if fonts-loaded cookie has been set.
    If so, add the `fonts-loaded` class to the `html` element.
-->
<html lang="en-gb" dir="ltr" prefix="og: http://ogp.me/ns#" class="no-js fonts-loaded">
  <head>
    <meta charset="utf-8"/>
    <link rel="dns-prefetch" href="https://fonts.gstatic.com"/>
    <link rel="dns-prefetch" href="https://cloud.24ways.org"/>
    <link rel="dns-prefetch" href="https://media.24ways.org"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro%7CSource+Sans+Pro:400,700%7CSource+Serif+Pro:400"/>
    <link rel="stylesheet" href="{{ '/assets/styles/app.css' | path }}"/>
    <link rel="shortcut icon" href="{{ '/assets/icons/icon.ico' | path }}" type="image/ico"/>
    <link rel="apple-touch-icon" href="{{ '/assets/icons/icon.png' | path }}" type="image/png"/>
    <link rel="mask-icon" href="{{ '/assets/icons/icon.svg' | path }}" color="{{ site.theme_color }}"/>
    <link rel="manifest" href="/app.webmanifest"/>
    <link rel="alternate" href="{{ site.feed }}" type="application/rss+xml"/>
    <link rel="author" href="/humans.txt"/>

    <script>
        var docEl = document.documentElement;
        docEl.className = docEl.className.replace('no-js', 'has-js');
    </script>
    <script src="{{ '/assets/scripts/app.js' | path }}" defer></script>
    {%- if _target.context.prism -%}
    <script src="{{ '/assets/scripts/prism.js' | path }}" defer></script>
    {%- endif -%}

    <meta name="referrer" content="origin"/>
    <meta name="robots" content="index, follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="format-detection" content="telephone=no">

    {%- if _target.context.title -%}
      <meta property="og:title" content="{{ _target.context.title }}"/>
    {%- else -%}
      <meta property="og:title" content="{{ site.title }}"/>
    {%- endif -%}
    {%- if _target.context.description -%}
      <meta property="og:description" content="{{ _target.context.description }}"/>
    {%- else -%}
      <meta property="og:description" content="{{ site.description }}"/>
    {%- endif -%}
    {%- if _target.context.url -%}
      <meta property="og:url" content="{{ _target.context.url }}"/>
    {%- else -%}
      <meta property="og:url" content="{{ site.url }}"/>
    {%- endif -%}
    {%- if _target.context.avatar -%}
      <meta property="og:image" content="{{ _target.context.avatar.src }}"/>
    {%- else -%}
      <meta property="og:image" content="{{ '/assets/icons/icon.png' | path }}"/>
    {%- endif -%}
    {%- if _target.context.handle -%}
      <meta name="twitter:creator" content="@{{ _target.context.handle }}"/>
    {%- endif -%}
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@{{ site.handle }}"/>

    <!--
      PHP: Get correct hue value for year and day from array.
    -->
    <style>
      :root {
        --color-year: hsl({{ theme.year[11] }}, 100%, 16%);
        --color-year--dark: hsl({{ theme.year[11] }}, 100%, 8%);
        --color-year--dark-alpha: hsla({{ theme.year[11] }}, 100%, 8%, 0.8);
        --color-day: hsl({{ theme.day[11]}}, 80%, 60%);
        --color-day--light: hsl({{ theme.day[11]}}, 60%, 98%);
        --color-day--dark: hsl({{ theme.day[11]}}, 100%, 24%);
        --color-day--dark-alpha: hsla({{ theme.day[11]}}, 100%, 24%, 0.33);
      }
    </style>

    <title>{{ _target.context.title }} &#9670; 24 ways</title>
  </head>

  <body>
    {{ yield }}
  </body>
</html>
