.s-prose {
  @include typeset(prose, 2);

  .caps {
    font-variant: lining-nums small-caps;
    letter-spacing: 0.0625em;
  }

  .caption {
    @include typeset(caption);
    opacity: 0.9;
  }

  .lede {
    @include typeset(lede);
    position: relative;
    top: ($space-xsmall * -1);
  }

  > * {
    margin-bottom: 0.75em;
  }

  strong,
  dt {
    color: initial;
  }

  ol,
  ul {
    list-style-position: inside;

    @media screen and (min-width: 50em) {
      list-style-position: outside;
    }
  }

  ol li {
    list-style-type: decimal;
  }

  ul li {
    list-style: none outside;
    position: relative;
    padding-left: 1em;

    @media screen and (min-width: 50em) {
      padding-left: 0;
    }

    &::before {
      content: '';
      background-color: $color-text;
      width: 0.4375em;
      height: 0.4375em;
      position: absolute;
      left: 0;
      top: 0.5em;
      transform: rotate(45deg);
      transform-origin: 50% 50%;

      @media screen and (min-width: 50em) {
        left: -1.125em;
      }
    }

    li {
      list-style-type: circle;
    }
  }

  dt {
    font-weight: 700;
  }

  li {
    margin-bottom: 0.25em;
  }

  li li,
  dd {
    margin-left: 2em;
  }

  li > *,
  dd > * {
    margin-top: 0;
  }

  pre,
  code {
    outline: 0.125em solid rgba(white, 0.5);
    margin-right: 0.25em;
    margin-left: 0.25em;
    background-color: rgba(white, 0.5);
  }

  pre {
    outline-width: 0.25em;
    margin-right: 0;
    margin-left: 0;

    code {
      outline: 0;
      margin: 0;
      background-color: transparent;
      padding: 0;
    }
  }
}

.s-prose--article {
  @include typeset(prose, fluid);

  pre {
    font-size: 0.875em;
    line-height: 1.5;
    margin: 1em -0.25em 2em;
    padding: 0 0.25em;
  }

  blockquote {
    border-left: 0.25rem solid $prose-color--rule;
    margin-bottom: 1.5em;
    padding-left: 1em;

    p {
      font-size: 1.25em;
      line-height: 1.25;
      margin-bottom: 0.75em;
    }

    footer,
    cite {
      @include typeset(caption);
    }
  }

  figure,
  p.image { // ! Legacy
    margin: $space-large ($space-large * -1);

    @media screen and (min-width: 50em) {
      margin-left: 0;
      margin-right: -7.6667%;
    }

    @media screen and (min-width: 60em) {
      margin-right: -25%;
    }

    img {
      display: block;
      max-width: 100%;
    }
  }

  figcaption,
  p.image span.caption { // ! Legacy
    @include typeset(caption);
    display: block;
    border-bottom: 1px solid $prose-color--rule;
    margin-right: $space-large;
    margin-left: $space-large;
    padding: $space-medium 0;

    @media screen and (min-width: 50em) {
      margin: 0;
    }
  }

  a {
    border-bottom: 1px solid $prose-color--rule;

    @media print {
      border-bottom: 1px dotted #999;

      &::after {
        font-size: 0.75em;
        content: ' [' attr(href) ']';
      }
    }
  }

  h2,
  h3,
  h4,
  h5 {
    margin: 2em 0 0.25em;
  }

  h2 {
    @include typeset(heading, 3);
    font-weight: 700;
  }

  h3 {
    @include typeset(heading, 2);
    color: palette(primary, dark);
  }

  h4 {
    @include typeset(heading, 1);
    color: rgba(palette(primary, dark), 0.9);
    font-weight: 700;
  }

  h5 {
    @include typeset(heading, 1);
    letter-spacing: 0.025em;
    text-transform: uppercase;
    opacity: 0.9;
  }

  hr {
    text-align: center;
    margin: 2em 0 4em;

    &::after {
      color: rgba($color-text, 0.25);
      content: '\25C6 \25C6 \25C6';
      letter-spacing: $space-medium;
      height: 0;
    }
  }

  table {
    font-size: 1rem;
    margin: 1.5em 0 1.5em -0.5em; // 24px 0 24px -8px

    ol,
    ul {
      margin-left: 1.5em;
    }
  }

  caption {
    @include typeset(caption);
    color: $color-neutral;
    caption-side: bottom;
    text-align: left;
    margin: 1rem 0; // 16px 0
  }

  td,
  th {
    border-bottom: 1px solid $prose-color--rule;
    padding: 0.25em 2em 0.25em 0.5em; // 4px 32px 4px 4px
  }

  th {
    line-height: 1.25;
    background-color: $prose-color--background;
  }

  // Represents key press within user input sequence
  kbd > kbd {
    font-size: 90%;
    background-color: white;
    margin: 0 0.125rem;
    border: 1px solid $prose-color--shadow;
    border-radius: $border-radius-default;
    padding: 0.25rem 0.5rem; // 4px 8px
    box-shadow: 0 1px 0 $prose-color--shadow;
  }

  // Represents menu selection within user input sequence
  kbd > samp {
    font-family: inherit;
    background-color: white;
    margin: -0.375rem -0.625rem; // -6px -10px
    border-radius: 0;
    padding: 0.375rem 0.625rem; // 6px 10px
    box-shadow: none;
  }
}
