.s-prose {
  font-variant: common-ligatures oldstyle-nums;
  hyphens: auto;

  > * {
    // hanging-punctuation: first;
    margin-bottom: 0.75em;
  }

  .caps {
    letter-spacing: 0.0625rem; // 1px
  }

  .caption {
    @include caption;
    opacity: 0.9;

    strong,
    dt {
      opacity: 1;
    }
  }

  .lede {
    @include lede;
  }

  ol,
  ul {
    list-style-position: inside;

    @media screen and (min-width: 50em) {
      list-style-position: outside;
    }
  }

  ol li {
    list-style-type: decimal;
  }

  ul li {
    list-style: none outside;
    position: relative;
    padding-left: 1em;

    @media screen and (min-width: 50em) {
      padding-left: 0;
    }

    &::before {
      content: '';
      background-color: $color-neutral--alpha-5;
      width: 0.4375em;
      height: 0.4375em;
      position: absolute;
      left: 0;
      top: 0.5em;
      transform: rotate(45deg);
      transform-origin: 50% 50%;

      @media screen and (min-width: 50em) {
        left: -1.125em;
      }
    }

    li {
      list-style-type: circle;
    }
  }

  dt {
    font-weight: 700;
  }

  li {
    margin-bottom: 0.25em; // 4px
  }

  li li,
  dd {
    margin-left: 2rem;
  }

  li > *,
  dd > * {
    margin-top: 0;
  }

  pre,
  code,
  samp {
    outline: 0.125em solid rgba(black, 0.05);
    margin-right: 0.25em;
    margin-left: 0.25em;
    background-color: rgba(black, 0.05);
    color: $color-neutral--darker;
  }

  pre {
    outline-width: 0.25em;
    margin-right: 0;
    margin-left: 0;

    code {
      outline: 0;
      margin: 0;
      background-color: transparent;
      padding: 0;
    }
  }
}

.s-prose--article {
  pre {
    font-size: 0.875em; // 14px
    line-height: 1.4286; // 20px
    margin: 1em -0.5em;
    padding: 0 0.5em;

    @media screen and (min-width: 40em) {
      // Base font size now 18px within article body
      line-height: 1.3334; // 24px
    }

    @media screen and (min-width: 40em) {
      // Base font size now 20px within article body
      line-height: 1.4; // 28px
    }
  }

  blockquote {
    border-left: 0.25rem solid rgba($color-text, 0.15);
    margin: 1.5em 0 1.5em -1rem; // 24px 0 24px -16px
    padding-left: 0.75rem; // 12px

    p {
      font-family: 'Merriweather', serif;
      font-weight: 400;
      font-size: 1.125em; // 18px
      line-height: 1.5556; // 28px
      letter-spacing: -0.0625rem; // -1px
      margin: 0.75rem 0; // 12px 0

      @media screen and (min-width: 40em) {
        font-size: 1.25rem; // 20px
        line-height: 1.6; // 32px
      }

      @media screen and (min-width: 60em) {
        font-size: 1.3125rem; // 21px
        line-height: 1.5238; // 32px
      }
    }

    footer,
    cite {
      font-size: 1rem;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      line-height: 1;
      letter-spacing: normal;
    }
  }

  figure,
  p.image { // ! Legacy
    margin: 1.5em -1em; // 24px -16px

    @media screen and (min-width: 50em) {
      margin-left: 0;
      margin-right: -7.6667%;
    }

    @media screen and (min-width: 60em) {
      margin-right: -25.8334%;
    }

    img {
      display: block;
      max-width: 100%;
    }
  }

  figcaption,
  p.image span.caption { // ! Legacy
    @include caption;
    border-bottom: 1px solid rgba($color-text, 0.2);
    padding: 0.75rem 0; // 8px 0
    margin: 0 1rem;
    display: block;

    @media screen and (min-width: 50em) {
      margin: 0;
    }
  }

  a {
    border-bottom: 1px solid $color-neutral--alpha-1;

    @media print {
      border-bottom: 1px dotted #999;

      &::after {
        font-size: 0.75em;
        content: ' [' attr(href) ']';
      }
    }
  }

  h1 {
    font-size: 2rem; // 32px
    font-weight: 400;
    line-height: 1.125; // 36px
    letter-spacing: -0.0625rem;
    margin: 1.5em 0 0.5em; // 24px 0 8px
  }

  h2 {
    color: darken($color-brand, 20%);
    font-size: 1.125em; // 18px
    line-height: 1.1111; // 20px
    font-weight: 700;
    letter-spacing: 0.05rem; // 1px
    text-transform: uppercase;
    margin: 1.7778em 0 0; // 32px 0 0

    @media screen and (min-width: 40em) {
      // Base font size now 20px within article body
      font-size: 1.2em; // 24px
      line-height: 1.2; // 28px
      margin: 2em 0 0; // 48px 0 0
    }
  }

  h3 {
    color: darken($color-text, 25%);
    font-size: 1em; // 16px
    font-weight: 700;
    line-height: 1.25; // 20px
    margin: 2em 0 0; // 32px 0 0

    @media screen and (min-width: 40em) {
      // Base font size now 20px within article body
      font-size: 1em; // 20px
      line-height: 1.2; // 24px
      margin: 1.6em 0 0; // 32px 0 0
    }
  }

  h4 {
    font-size: 1em; // 16px
    font-weight: 400;
    line-height: 1.25; // 20px
    margin: 2rem 0 0.5em; // 32px 0 8px
    opacity: 0.9;
  }

  h5 {
    font-size: 1rem; // 16px
    line-height: 1; // 16px
    margin: 1.5rem 0 0.5em; // 24px 0 8px
  }

  h6 {
    font-size: 0.875rem; // 14px
    line-height: 1.1429; // 16px
    text-transform: uppercase;
    letter-spacing: 0.125rem; // 2px
    margin: 1.5rem 0 0.5em; // 24px 0 8px
  }

  hr {
    text-align: center;
    margin: 2em 0; // 32px 0

    &::after {
      color: rgba($color-text, 0.25);
      content: '\25C6 \25C6 \25C6';
      letter-spacing: 0.75rem; // 12px
      height: 0;
    }
  }

  table {
    font-size: 1rem;
    margin: 1.5em 0 1.5em -0.5em; // 24px 0 24px -8px

    ol,
    ul {
      margin-left: 1.5em;
    }
  }

  caption {
    @include caption;
    color: $color-neutral;
    caption-side: bottom;
    text-align: left;
    margin: 1rem 0; // 16px 0
  }

  td,
  th {
    border-bottom: 1px solid $color-neutral--alpha-1;
    padding: 0.25rem 2rem 0.25rem 0.5rem; // 4px 32px 4px 4px
  }

  th {
    line-height: 1.25;
    background-color: rgba(black, 0.05);
  }

  // Represents key press within user input sequence
  kbd > kbd {
    font-size: 0.875em; // 14px
    line-height: 1.1429; // 16px
    background-color: white;
    margin: 0 0.125rem;
    border: 1px solid rgba(black, 0.15);
    border-radius: 0.25rem; // 4px
    padding: 0.125rem 0.5rem; // 4px 8px
    box-shadow: 0 2px 0 $color-neutral--alpha-1;
  }

  // Represents menu selection within user input sequence
  kbd > samp {
    font-family: inherit;
    background-color: white;
    margin: -0.375rem -0.625rem; // -6px -10px
    border-radius: 0;
    padding: 0.375rem 0.625rem; // 6px 10px
    box-shadow: none;
  }
}
