/* ==========================================================================
   Grouping content
   http://developers.whatwg.org/grouping-content.html
   ========================================================================== */

p, pre, blockquote, ul, ol, dl, figure, table, fieldset, details {
	margin: 0.75rem 0; /* 12px 0 */
}

pre {
	line-height: 1.25; /* 24px */
	white-space: pre;
	tab-size: 4;
	hyphens: none;
	padding: 1em;
	margin: 1em -1em;
	overflow: auto;
}

blockquote {
	border-left: 0.25em solid fade(@text, 20%); /* $color */
	padding-left: 0.75rem; /* 12px */
	margin: 2em 0 2em -1em;

	p {
		font-family: 'Merriweather', serif;
		font-weight: 300;
		font-size: 1.5em; /* 20px */
		line-height: 1.5; /* 24px */
		letter-spacing: -0.0625rem; /* -1px */
		margin: 0.5rem 0; /* 8px 0 */
	}
	p cite {
		font-size: 1rem;
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		font-style: normal;
		line-height: 1;
		letter-spacing: normal;
		display: block;
	}
}

ol {
	list-style-position: inside;
	list-style-type: decimal;
	margin: 1rem 0; /* 16px 0 */
	padding: 0;
}

ul {
	list-style-position: inside;
	list-style-type: square;
	margin: 1rem 0; /* 16px 0 */
	padding: 0;
}
@media screen and (min-width: 50em) {
	ol,
	ul {
		list-style-position: outside;
	}
}

ul li li {
	list-style-type: circle;
}

nav ul {
	list-style-type: none;
	margin: 0;
}

dt {
	font-weight: 700;
}

li li,
dd {
	margin-left: 2rem;
}

li > *,
dd > * {
	margin-top: 0;
}

figure,
p.image {
	margin: 2em 0 1em; /* 32px 0 16px */
	img {
		max-width: 100%;
	}
}
figcaption,
p.image span.caption {
	color: #666; /* $color-caption */
	font-size: 0.875rem; /* 14px */
	line-height: 1.1429; /* 16px */
	border-bottom: 1px solid #ccc;
}