/* ==========================================================================
   Grouping content
   http://developers.whatwg.org/grouping-content.html
   ========================================================================== */

p, pre, blockquote, ul, ol, dl, figure, table, fieldset, details {
	margin: 0.75em 0; /* 12px 0 */
}

pre {
	font-size: 0.875em; /* 14px */
	line-height: 1.7143; /* 24px */
	white-space: pre;
	tab-size: 4;
	hyphens: none;
	margin: 1em -1rem;
	padding: 1em;
	overflow: auto;
}

blockquote {
	border-left: 0.25em solid fade(@c-text, 15%);
	margin: 2em 0;
	padding: 0 0 1px 0.75rem; /* 0 0 1px 12px */

	p {
		color: lighten(@c-text, 15%);
		.font-smoothing-on();
		font-family: 'Merriweather', serif;
		font-weight: 400;
		font-size: 1.25em; /* 20px */
		line-height: 1.4; /* 28px */
		letter-spacing: -0.0625rem; /* -1px */
		margin: 0.5rem 0; /* 8px 0 */
		@media screen and (min-width: 50em) {
			//font-size: 1.5em; /* 24px */
			//line-height: 1.5; /* 36px */
		}
	}
	cite {
		font-size: 1rem;
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		font-style: normal;
		line-height: 1;
		letter-spacing: normal;
		margin: 0.5rem 0; /* 8px 0 */
		display: block;
	}
}

ol {
	list-style-position: inside;
	list-style-type: decimal;
	margin: 1rem 0; /* 16px 0 */
	padding: 0;
}

ul {
	list-style-position: inside;
	list-style-type: square;
	margin: 1rem 0; /* 16px 0 */
	padding: 0;
}
@media screen and (min-width: 50em) {
	ol,
	ul {
		list-style-position: outside;
	}
}

ul li li {
	list-style-type: circle;
}

nav ul {
	list-style-type: none;
	margin: 0;
}

dt {
	font-weight: 700;
}

li li,
dd {
	margin-left: 2rem;
}

li > *,
dd > * {
	margin-top: 0;
}

figure,
p.image {
	margin: 2em 0 1em; /* 32px 0 16px */
	img {
		border: 1px solid rgba(0,0,0,0.075);
		max-width: 100%;
	}
}
figcaption,
p.image span.caption {
	color: #666; /* $color-caption */
	font-size: 0.875rem; /* 14px */
	line-height: 1.1429; /* 16px */
	border-bottom: 1px solid fade(@c-text, 20%);
	padding-bottom: 0.5714em; /* 8px */
	display: block;
}