/* ==========================================================================
   Edits
   http://developers.whatwg.org/edits.html
   ========================================================================== */

mark, ins {
	background-color: #ffc;
	padding: 0 0.125rem; /* 0 2px */
	}
	ins {
		background-color: #e9e9e9;
	}