/* ==========================================================================
   Links
   http://developers.whatwg.org/links.html
   ========================================================================== */

a {
	color: @c-link;
	text-decoration: none;
	// border-bottom: 1px solid;
	-moz-text-decoration-color: fade(@c-link, 33%);
	// border-color: #17d;
	}
	a:focus {
	/*  Address `outline` inconsistency between Chrome and other browsers */
		outline: thin dotted;
	}
	a:active,
	a:hover {
		color: @c-link-hover;
		-moz-text-decoration-color: fade(@c-link-hover, 33%);;
	/*  Improve readability when focused and also mouse hovered in all browsers */
		outline: 0;
		// border-color: @c-link-hover;
	}
	a:link,
	a:visited,
	a:hover {
		//transition: all 0.2s ease;
	}
	a:active {
		color: @c-link-active;
		-moz-text-decoration-color: rgba(119, 17, 170, 0.33);
		// border-color: @c-link-active;
		transition: none;
	}