/* ==========================================================================
   Links
   http://developers.whatwg.org/links.html
   ========================================================================== */

a {
	color: @c-link;
	text-decoration: none;
	-moz-text-decoration-color: fade(@c-link, 33%);
	&:focus {
	/*  Address `outline` inconsistency between Chrome and other browsers */
		outline: thin dotted;
	}
	&:active,
	&:hover {
		color: @c-link-hover;
		-moz-text-decoration-color: fade(@c-link-hover, 33%);
	/*  Improve readability when focused and also mouse hovered in all browsers */
		outline: 0;
	}
	&:active {
		color: @c-link-active;
		-moz-text-decoration-color: fade(@c-link-active, 33%);
	}
}