.c-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: map(layers, backdrop);
  transition: opacity $navigation-duration ease-in;
  background-color: $backdrop-color;
  opacity: 0;
  pointer-events: none;

  [data-menu-expanded=true] & {
    opacity: 1;
    pointer-events: fill;
  }
}
