{% set syntax %}
```html
<video src="mycat.webm" controls>no fallback coz i is lame, innit.</video>
```

```css
selector {
  property: value;
}
```

```js
import express from 'express';
import http from 'http';

const app = express();

app.use(express.static('public'));

app.set('view engine', 'ejs');

app.get('*', (req, res) => {
  res.render('index');
});

const server = http.createServer(app);

server.listen(3003);
server.on('listening', () => {
  console.log('Listening on 3003');
});
```
{% endset %}
{{ syntax | markdown }}
