<!DOCTYPE html>
<html lang="en-gb" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../assets/icons/icon.ico" type="image/ico">

<link rel="stylesheet" href="../../fractal/css/default.css?cachebust=1.4.0" type="text/css">

<link rel="stylesheet" href="../../assets/styles/theme.css?cachebust=1.4.0" type="text/css">

<link rel="stylesheet" href="../../fractal/css/highlight.css?cachebust=1.4.0" type="text/css">


<title>Contentinfo | Bits of 24 ways</title>

</head>
<body>



<div class="Frame" id="frame">

    <div class="Frame-header">
        <div class="Header">
    <button class="Header-button Header-navToggle" data-action="toggle-sidebar">
        <div class="Header-navToggleIcon Header-navToggleIcon--open">
            <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

        </div>
        <div class="Header-navToggleIcon Header-navToggleIcon--closed">
            <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
</svg>

        </div>
    </button>
    <a href="../../.." class="Header-title" data-pjax>Bits of 24 ways</a>
</div>

    </div>

    <div class="Frame-body" data-role="body">

        <div class="Frame-panel Frame-panel--main" data-role="main">
            <div class="Frame-inner" id="pjax-container">
            


    
    

<div class="Pen" data-behaviour="pen" id="pen-e681abb7ed111fa60a4b9f499b50c23b">

    

    <div class="Pen-panel Pen-header">
    <h1 class="Pen-title">
        <a class="Pen-previewLink" href="../preview/contentinfo" title="Component preview">
            Contentinfo
            <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>

        </a>
    </h1>
    


</div>


    <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-e681abb7ed111fa60a4b9f499b50c23b">
    <div class="Preview-wrapper" data-role="resizer">
        <div class="Preview-resizer">
            
             <iframe
                class="Preview-iframe"
                data-role="window"
                src="../preview/contentinfo"
                 style=""
                marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" scrolling="yes">
            </iframe>
        </div>
        <div class="Preview-handle" data-role="resize-handle"></div>
        <div class="Preview-overlay"></div>
    </div>
</div>


    <div class="Pen-handle Pen-handle--browser" data-role="resize-handle"></div>

    <div class="Pen-panel Pen-info" data-role="info">
    <div class="Browser" data-behaviour="browser" id="browser-e681abb7ed111fa60a4b9f499b50c23b">

    

<div class="Browser-controls">
    <ul class="Browser-tabs">
        
        
        <li class="Browser-tab Browser-tab--html is-active " data-role="tab">
            <a href="#browser-e681abb7ed111fa60a4b9f499b50c23b-panel-html">HTML</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--view" data-role="tab">
            <a href="#browser-e681abb7ed111fa60a4b9f499b50c23b-panel-view">View</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--context" data-role="tab">
            <a href="#browser-e681abb7ed111fa60a4b9f499b50c23b-panel-context">Context</a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--resources" data-role="tab">
            <a href="#browser-e681abb7ed111fa60a4b9f499b50c23b-panel-assets">Assets</a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--info" data-role="tab">
            <a href="#browser-e681abb7ed111fa60a4b9f499b50c23b-panel-info">Info</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--notes" data-role="tab">
            <a href="#browser-e681abb7ed111fa60a4b9f499b50c23b-panel-notes">Notes</a>
        </li>
        
        
    </ul>
</div>


    
    
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-e681abb7ed111fa60a4b9f499b50c23b-panel-html">
    <code class="Code Code--lang-html hljs">
        
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">footer</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-contentinfo"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-contentinfo__social"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"https://feeds.feedburner.com/24ways"</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">"alternate"</span>&gt;</span>Grab our RSS feed<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"https://twitter.com/24ways"</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">"me"</span>&gt;</span>Follow us on Twitter<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"https://github.com/24ways"</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">"me"</span>&gt;</span>Contribute on GitHub<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-contentinfo__copyright"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">small</span>&gt;</span><span class="hljs-symbol">&amp;#169;</span> 2005-2016 24 ways and our authors<span class="hljs-tag">&lt;/<span class="hljs-name">small</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">footer</span>&gt;</span></pre>
        
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-e681abb7ed111fa60a4b9f499b50c23b-panel-view">
    <code class="Code Code--lang-html hljs">
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">footer</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-contentinfo"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-contentinfo__social"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"{{ site.feed }}"</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">"alternate"</span>&gt;</span>Grab our RSS feed<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"https://twitter.com/{{ site.handle }}"</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">"me"</span>&gt;</span>Follow us on Twitter<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"https://github.com/{{ site.handle }}"</span> <span class="hljs-attr">rel</span>=<span class="hljs-string">"me"</span>&gt;</span>Contribute on GitHub<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-contentinfo__copyright"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">small</span>&gt;</span><span class="hljs-symbol">&amp;#169;</span> 2005-2016 24 ways and our authors<span class="hljs-tag">&lt;/<span class="hljs-name">small</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">footer</span>&gt;</span></pre>
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-e681abb7ed111fa60a4b9f499b50c23b-panel-context">
    <code class="Code Code--lang-json hljs">
        
            
            <pre>{
  <span class="hljs-attr">"site"</span>: {
    <span class="hljs-attr">"title"</span>: <span class="hljs-string">"24 ways"</span>,
    <span class="hljs-attr">"handle"</span>: <span class="hljs-string">"24ways"</span>,
    <span class="hljs-attr">"description"</span>: <span class="hljs-string">"24 ways is the advent calendar for web geeks. Each day throughout December we publish a daily dose of web design and development goodness to bring you all a little Christmas cheer."</span>,
    <span class="hljs-attr">"url"</span>: <span class="hljs-string">"https://24ways.org"</span>,
    <span class="hljs-attr">"feed"</span>: <span class="hljs-string">"https://feeds.feedburner.com/24ways"</span>,
    <span class="hljs-attr">"theme_color"</span>: <span class="hljs-string">"#f04"</span>
  },
  <span class="hljs-attr">"theme"</span>: {
    <span class="hljs-attr">"year"</span>: [
      <span class="hljs-number">348</span>,
      <span class="hljs-number">344</span>,
      <span class="hljs-number">340</span>,
      <span class="hljs-number">336</span>,
      <span class="hljs-number">332</span>,
      <span class="hljs-number">328</span>,
      <span class="hljs-number">324</span>,
      <span class="hljs-number">320</span>,
      <span class="hljs-number">316</span>,
      <span class="hljs-number">312</span>,
      <span class="hljs-number">308</span>,
      <span class="hljs-number">304</span>,
      <span class="hljs-number">300</span>,
      <span class="hljs-number">296</span>,
      <span class="hljs-number">292</span>,
      <span class="hljs-number">288</span>
    ],
    <span class="hljs-attr">"day"</span>: [
      <span class="hljs-number">360</span>,
      <span class="hljs-number">353</span>,
      <span class="hljs-number">346</span>,
      <span class="hljs-number">339</span>,
      <span class="hljs-number">332</span>,
      <span class="hljs-number">325</span>,
      <span class="hljs-number">318</span>,
      <span class="hljs-number">311</span>,
      <span class="hljs-number">304</span>,
      <span class="hljs-number">297</span>,
      <span class="hljs-number">290</span>,
      <span class="hljs-number">283</span>,
      <span class="hljs-number">276</span>,
      <span class="hljs-number">269</span>,
      <span class="hljs-number">262</span>,
      <span class="hljs-number">255</span>,
      <span class="hljs-number">248</span>,
      <span class="hljs-number">241</span>,
      <span class="hljs-number">234</span>,
      <span class="hljs-number">227</span>,
      <span class="hljs-number">220</span>,
      <span class="hljs-number">213</span>,
      <span class="hljs-number">206</span>,
      <span class="hljs-number">199</span>
    ]
  }
}</pre>
            
        
    </code>
</div>

    
    


<div class="Browser-panel Browser-resources" data-role="tab-panel" id="browser-e681abb7ed111fa60a4b9f499b50c23b-panel-assets">
    <div class="FileBrowser">

        <div class="FileBrowser-selectWrapper">
            <label class="FileBrowser-select-label" for="filebrowser-select">File:</label>
            <select class="FileBrowser-select" id="filebrowser-select">
                
                <option value="file-ca51214dcc467c81c469575222fa4fe6">contentinfo.css</option>
                
            </select>
        </div>

        
        <div class="FileBrowser-item is-active" id="file-ca51214dcc467c81c469575222fa4fe6" data-role="resource-preview">
            <ul class="Meta">
                <li class="Meta-item">
                    <strong class="Meta-key">Content:</strong>
                    <span class="Meta-value">
                        <div class="FileBrowser-itemPreview">
                            
                            <code class="Code Code--lang-CSS FileBrowser-code hljs">
                                <pre>.c-contentinfo {
  @apply --typeset-label;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: map(spaces, small) map(spaces, large);

  .has-js &amp; {
    @media (--from-medium-screen) {
      margin-right: $navigation-width--large;
    }
  }

  @media (--from-large-screen) {
    padding-left: map(spaces, medium);
    padding-right: map(spaces, medium);
  }

  @media (-ms-high-contrast: active) {
    border-top: 1px solid;
  }

  a {
    white-space: nowrap;

    @media print {
      display: none;
    }
  }

  &gt; * {
    @media (--upto-large-screen) {
      line-height: 2;
    }
  }
}

.c-contentinfo__social a {
  margin-right: map(spaces, medium);
}
</pre>
                            </code>
                            
                        </div>
                    </span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">URL:</strong>
                    <span class="Meta-value"><a data-no-pjax href="../raw/contentinfo/contentinfo.css"><span>/components/raw/contentinfo/contentinfo.css</span></a></span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Filesystem Path:</strong>
                    <span class="Meta-value">src/components/global/contentinfo/contentinfo.css</span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Size:</strong>
                    <span class="Meta-value">687 Bytes</span>
                </li>
            </ul>
        </div>
        
    </div>
</div>



    
    <div class="Browser-panel" data-role="tab-panel" id="browser-e681abb7ed111fa60a4b9f499b50c23b-panel-info">
    <ul class="Meta">
        <li class="Meta-item">
            <strong class="Meta-key">Handle:</strong>
            <span class="Meta-value">@contentinfo</span>
        </li>
        
        
        
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Preview:</strong>
            <span class="Meta-value">
                <ul>
                    <li><a data-no-pjax href="../preview/contentinfo"><span>With layout</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                    <li><a data-no-pjax href="../render/contentinfo"><span>Component only</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                </ul>
            </span>
        </li>
        <li class="Meta-item">
            <strong class="Meta-key">Filesystem Path:</strong>
            <span class="Meta-value">src/components/global/contentinfo/contentinfo.html</span>
        </li>
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Referenced by <em class="Meta-count">(1)</em>:</strong>
            <span class="Meta-value Meta-value--linkList">
            
                <a href="page">@<span>page</span></a>
            
            </span>
        </li>
        
    </ul>
</div>

    
    <div class="Browser-panel Browser-notes" data-role="tab-panel" id="browser-e681abb7ed111fa60a4b9f499b50c23b-panel-notes">
    <div class="Prose Prose--condensed">
        
        <p class="Browser-isEmptyNote">There are no notes for this item.</p>
        
    </div>
</div>

    

</div>

</div>


    

</div>


            </div>
        </div>

        <div class="Frame-handle" data-role="frame-resize-handle"></div>

        <div class="Frame-panel Frame-panel--sidebar" data-role="sidebar">
            <nav class="Navigation">
    
        <div class="Navigation-group Navigation-search">
    <form action="" class="Search" data-behaviour="search">
        <label class="Search-label" for="search-input">Search</label>
        <input class="Search-input" id="search-input" type="search" placeholder="Search…" data-role="input">
        <button type="button" data-behaviour="clear-search" class="Search-clearButton" aria-label="Clear search" hidden>
            <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

        </button>
    </form>
</div>

    
        
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-components">
    <div class="Tree-header">
        <h3 class="Tree-title">components</h3>

        <button type="button" data-behaviour="collapse-tree" class="Tree-collapse" title="Collapse tree" aria-label="Collapse tree" hidden>
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m9 11c-.6 0-1 .4-1 1s.4 1 1 1h6c.6 0 1-.4 1-1s-.4-1-1-1z"/><path d="m19 21h-14c-1.1 0-2-.9-2-2v-14c0-1.1.9-2 2-2h14c1.1 0 2 .9 2 2v14c0 1.1-.9 2-2 2zm-14-16v14h14v-14z"/></svg>

        </button>
    </div>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="og-image" data-pjax>
                <span>OG Image</span>
                
            </a>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-utilities">
            <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-utilities-items">
                Utilities
            </button>
            <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-utilities-items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="hidden" data-pjax>
                <span>Hidden</span>
                
            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-common">
            <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-common-items">
                Common
            </button>
            <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-common-items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="article" data-pjax>
                <span>Article</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="author" data-pjax>
                <span>Author</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="avatar" data-pjax>
                <span>Avatar</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="backdrop" data-pjax>
                <span>Backdrop</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="button" data-pjax>
                <span>Button</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="comment" data-pjax>
                <span>Comment</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="comment-form" data-pjax>
                <span>Comment Form</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="continue" data-pjax>
                <span>Continue</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="field" data-pjax>
                <span>Field</span>
                
            </a>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-listing">
            <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-listing-items">
                Listing
            </button>
            <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-listing-items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="listing--default" data-pjax>
                <span>Default</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="listing--inset" data-pjax>
                <span>Inset</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="listing--authors" data-pjax>
                <span>Authors</span>
                
            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="meta" data-pjax>
                <span>Meta</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="preface" data-pjax>
                <span>Preface</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="promo" data-pjax>
                <span>Promo</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="search-form" data-pjax>
                <span>Search Form</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="section" data-pjax>
                <span>Section</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="summary" data-pjax>
                <span>Summary</span>
                
            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-global">
            <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-global-items">
                Global
            </button>
            <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-global-items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="banner" data-pjax>
                <span>Banner</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity is-current" data-state="current" data-role="item">
            <a class="Tree-entityLink" href="" data-pjax>
                <span>Contentinfo</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="menu" data-pjax>
                <span>Menu</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="search" data-pjax>
                <span>Search</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="site-nav" data-pjax>
                <span>Site Nav</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="topics-nav" data-pjax>
                <span>Topics Nav</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="traverse-nav" data-pjax>
                <span>Traverse Nav</span>
                
            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-scopes">
            <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-scopes-items">
                Scopes
            </button>
            <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-scopes-items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="embed" data-pjax>
                <span>Embed</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="gallery" data-pjax>
                <span>Gallery</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="note" data-pjax>
                <span>Note</span>
                
            </a>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-prose">
            <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-prose-items">
                Prose
            </button>
            <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-prose-items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="prose--default" data-pjax>
                <span>Default</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="prose--article" data-pjax>
                <span>Article</span>
                
            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="syntax" data-pjax>
                <span>Syntax</span>
                
            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-templates">
            <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-templates-items">
                Templates
            </button>
            <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-templates-items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="article-template" data-pjax>
                <span>Article Template</span>
                
            </a>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-content-template">
            <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-content-template-items">
                Content Template
            </button>
            <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-content-template-items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="content-template--about" data-pjax>
                <span>About</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="content-template--404" data-pjax>
                <span>404</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="content-template--sponsorship" data-pjax>
                <span>Sponsorship</span>
                
            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-index-template">
            <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-index-template-items">
                Index Template
            </button>
            <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-index-template-items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="index-template--topics" data-pjax>
                <span>Topics</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="index-template--archives" data-pjax>
                <span>Archives</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="index-template--authors" data-pjax>
                <span>Authors</span>
                
            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-listing-template">
            <button class="Tree-collectionLabel" data-role="toggle" aria-expanded="true" aria-controls="tree-components-collection-listing-template-items">
                Listing Template
            </button>
            <ul class="Tree-collectionItems" data-role="items" id="tree-components-collection-listing-template-items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="listing-template--home" data-pjax>
                <span>Home</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="listing-template--topic" data-pjax>
                <span>Topic</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="listing-template--archive" data-pjax>
                <span>Archive</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="listing-template--author" data-pjax>
                <span>Author</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="listing-template--search-results" data-pjax>
                <span>Search Results</span>
                
            </a>
        </li>
        
    

            </ul>
        </li>
        
    

            </ul>
        </li>
        
    

    </ul>
</div>

</div>


    
        
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-docs">
    <div class="Tree-header">
        <h3 class="Tree-title">documentation</h3>

        <button type="button" data-behaviour="collapse-tree" class="Tree-collapse" title="Collapse tree" aria-label="Collapse tree" hidden>
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m9 11c-.6 0-1 .4-1 1s.4 1 1 1h6c.6 0 1-.4 1-1s-.4-1-1-1z"/><path d="m19 21h-14c-1.1 0-2-.9-2-2v-14c0-1.1.9-2 2-2h14c1.1 0 2 .9 2 2v14c0 1.1-.9 2-2 2zm-14-16v14h14v-14z"/></svg>

        </button>
    </div>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/tokens" data-pjax>
                <span>Design tokens</span>
                
            </a>
        </li>
        
    

    </ul>
</div>

</div>


    
</nav>

        </div>
    </div>
</div>




<script src="../../fractal/js/mandelbrot.js?cachebust=1.4.0"></script>



</body>
</html>
