

<article class="c-comment c-comment--unhelpful h-entry" id="c0002">
  <header class="c-comment__header">
    <h3 class="c-comment__title  p-name h-card">
      <a class="p-author u-url" href="https://paulrobertlloyd.com/">
        <img class="c-avatar  u-photo" src="https://www.gravatar.com/avatar/15091a37bacfa4bdd011282627eaca2b?s=96" width="64" height="64" alt=""/>

        Paul Robert Lloyd
      </a>
    </h3>
    <p class="c-comment__meta">
      <a class="c-comment__permalink" rel="bookmark" href="#c0002" title="Permalink to this comment"><time class="dt-published" datetime="2012-12-12T12:24:48-00:00">12 December 2012</time></a>
    </p>
  </header>
  <div class="c-comment__main s-prose  e-content">
    <p>You fool! Everything you’ve written here is wrong!</p>

  </div>
  <footer class="c-comment__footer">
    <p>This comment was <a href="/vote/up/c0002/">helpful</a> / <a href="/vote/down/c0002/">unhelpful</a></p>
  </footer>
</article>

