

<!-- Start: @field--default -->
<p class="c-field c-field--input">
  <label class="c-field__label" for="commentName">Name</label>
  <input class="c-field__input" id="commentName" name="commentName" type="text" autocorrect="off" required="required"/>
</p>
<!-- End: @field--default -->

<!-- Start: @field--combined -->
<p class="c-field c-field--combined">
  <label class="c-field__label c-field__label--icon" for="q"><svg class="c-field__icon" width="20" height="20" viewBox="0 0 200 200" focusable="false" role="img" aria-label="Search">
  <path role="presentation" d="M129 121C136 113 140 102 140 90c0-28-22-50-50-50S40 63 40 90s22 50 50 50c12 0 24-4 32-12L158 164l7-7-36-36zM90 130c-22 0-40-18-40-40s18-40 40-40 40 18 40 40-18 40-40 40z"/>
</svg>
</label>
  <input class="c-field__input" type="search" name="q" placeholder="e.g. CSS, Design, Research&#8230;"/>
  <button class="c-button" type=&quot;submit&quot;>Search</button>
</p>
<!-- End: @field--combined -->

<!-- Start: @field--textarea -->
<p class="c-field c-field--textarea">
  <label class="c-field__label" for="commentHTML">Message</label>
  <textarea class="c-field__input" id="commentHTML" name="commentHTML" cols="25" rows="12" required="required"></textarea>
</p>
<!-- End: @field--textarea -->

