

<ol class="c-listing c-listing--summaries c-listing--inset"><li><article class="c-summary h-entry day-15">
  <header class="c-summary__header">
    <h3 class="c-summary__title  p-name"><a class="u-url" rel="bookmark" href="/2015/grid-flexbox-box-alignment-our-new-system-for-layout/">Grid, Flexbox, Box Alignment: Our New System for Layout</a></h3><p class="c-summary__author  p-author h-card">
      <a class="c-summary__author-url  u-url" href="/authors/rachelandrew/">
        <img class="u-photo" src="https://cloud.24ways.org/authors/rachelandrew160.jpg" width="72" height="72" alt=""/>
        <span class="p-name">Rachel Andrew</span>
      </a>
    </p></header>
  <div class="c-summary__main">
    <p class="p-summary"><a href="https://rachelandrew.co.uk/">Rachel Andrew</a> unwraps the new paradigms of web layout, comparing their features and showing how they can free us from grid-based, <code>div</code>-infested frameworks. Beautifully wrapped boxes look lovely under the Christmas tree, but we need to think and break out of them.
</p>
  </div><footer class="c-summary__footer">
    <p class="c-summary__meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">
        15 <span>December 2010</span>
      </time>
    </p>
  </footer></article>
</li><li><article class="c-summary h-entry day-15">
  <header class="c-summary__header">
    <h3 class="c-summary__title  p-name"><a class="u-url" rel="bookmark" href="/2015/grid-flexbox-box-alignment-our-new-system-for-layout/">Grid, Flexbox, Box Alignment: Our New System for Layout</a></h3><p class="c-summary__author  p-author h-card">
      <a class="c-summary__author-url  u-url" href="/authors/rachelandrew/">
        <img class="u-photo" src="https://cloud.24ways.org/authors/rachelandrew160.jpg" width="72" height="72" alt=""/>
        <span class="p-name">Rachel Andrew</span>
      </a>
    </p></header>
  <div class="c-summary__main">
    <p class="p-summary"><a href="https://rachelandrew.co.uk/">Rachel Andrew</a> unwraps the new paradigms of web layout, comparing their features and showing how they can free us from grid-based, <code>div</code>-infested frameworks. Beautifully wrapped boxes look lovely under the Christmas tree, but we need to think and break out of them.
</p>
  </div><footer class="c-summary__footer">
    <p class="c-summary__meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">
        15 <span>December 2010</span>
      </time>
    </p>
  </footer></article>
</li><li><article class="c-summary h-entry day-15">
  <header class="c-summary__header">
    <h3 class="c-summary__title  p-name"><a class="u-url" rel="bookmark" href="/2015/grid-flexbox-box-alignment-our-new-system-for-layout/">Grid, Flexbox, Box Alignment: Our New System for Layout</a></h3><p class="c-summary__author  p-author h-card">
      <a class="c-summary__author-url  u-url" href="/authors/rachelandrew/">
        <img class="u-photo" src="https://cloud.24ways.org/authors/rachelandrew160.jpg" width="72" height="72" alt=""/>
        <span class="p-name">Rachel Andrew</span>
      </a>
    </p></header>
  <div class="c-summary__main">
    <p class="p-summary"><a href="https://rachelandrew.co.uk/">Rachel Andrew</a> unwraps the new paradigms of web layout, comparing their features and showing how they can free us from grid-based, <code>div</code>-infested frameworks. Beautifully wrapped boxes look lovely under the Christmas tree, but we need to think and break out of them.
</p>
  </div><footer class="c-summary__footer">
    <p class="c-summary__meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">
        15 <span>December 2010</span>
      </time>
    </p>
  </footer></article>
</li><li><article class="c-summary h-entry day-15">
  <header class="c-summary__header">
    <h3 class="c-summary__title  p-name"><a class="u-url" rel="bookmark" href="/2015/grid-flexbox-box-alignment-our-new-system-for-layout/">Grid, Flexbox, Box Alignment: Our New System for Layout</a></h3><p class="c-summary__author  p-author h-card">
      <a class="c-summary__author-url  u-url" href="/authors/rachelandrew/">
        <img class="u-photo" src="https://cloud.24ways.org/authors/rachelandrew160.jpg" width="72" height="72" alt=""/>
        <span class="p-name">Rachel Andrew</span>
      </a>
    </p></header>
  <div class="c-summary__main">
    <p class="p-summary"><a href="https://rachelandrew.co.uk/">Rachel Andrew</a> unwraps the new paradigms of web layout, comparing their features and showing how they can free us from grid-based, <code>div</code>-infested frameworks. Beautifully wrapped boxes look lovely under the Christmas tree, but we need to think and break out of them.
</p>
  </div><footer class="c-summary__footer">
    <p class="c-summary__meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">
        15 <span>December 2010</span>
      </time>
    </p>
  </footer></article>
</li></ol>

