

<section class="c-section" id="2013">
  <header class="c-section__header">
    <h2 class="c-section__title"><a href="/2013/">2013</a></h2>
  </header>
  <div class="c-section__main"><div class="s-prose">
      <p>Scourge of browser vendors everywhere, WaSP buzzed its last in March. Dave Shea’s CSS Zen Garden celebrated its tenth anniversary in May, and Google Glass was released. Ever broad in its interests, 24 ways tamed Grunt, URLs and GitHub Pages, encouraged readers to write and publish books, and leavened all that with goodies on project management, web typography and SVG.</p>

    </div></div>
</section>

