

<section class="c-section" id="a">
  <header class="c-section__header">
    <h2 class="c-section__title">A</h2>
  </header>
  <div class="c-section__main"><ol class="c-listing c-listing--authors"><li><a class="c-author  h-card u-url" href="/authors/drewmclellan/">
  <img class="c-author__image  u-photo" src="https://cloud.24ways.org/authors/drewmclellan160.jpg" width="160" height="160" alt=""/>
  <span class="c-author__meta  p-name">Drew McLellan</span>
</a>
</li><li><a class="c-author  h-card u-url" href="/authors/drewmclellan/">
  <img class="c-author__image  u-photo" src="https://cloud.24ways.org/authors/drewmclellan160.jpg" width="160" height="160" alt=""/>
  <span class="c-author__meta  p-name">Drew McLellan</span>
</a>
</li><li><a class="c-author  h-card u-url" href="/authors/drewmclellan/">
  <img class="c-author__image  u-photo" src="https://cloud.24ways.org/authors/drewmclellan160.jpg" width="160" height="160" alt=""/>
  <span class="c-author__meta  p-name">Drew McLellan</span>
</a>
</li><li><a class="c-author  h-card u-url" href="/authors/drewmclellan/">
  <img class="c-author__image  u-photo" src="https://cloud.24ways.org/authors/drewmclellan160.jpg" width="160" height="160" alt=""/>
  <span class="c-author__meta  p-name">Drew McLellan</span>
</a>
</li></ol>
</div>
</section>

