

<section class="c-section" id="author">
  <header class="c-section__header">
    <h2 class="c-section__title">About the author</h2>
  </header>
  <div class="c-section__main"><div class="s-prose">
      <p>Drew McLellan is lead developer on your favourite content management systems, <a href="https://grabaperch.com/">Perch and Perch Runway</a>. He is Director and Senior Developer at edgeofmyseat.com in Bristol, England, and is formerly Group Lead at the Web Standards Project. When not publishing 24 ways, Drew keeps a <a href="http://allinthehead.com/">personal site</a> covering web development issues and themes, <a href="https://flickr.com/drewm/">takes photos</a>, <a href="https://twitter.com/drewm">tweets a lot</a> and tries to stay upright on his bicycle.</p>
<p><span class="caption">Photo: <a href="http://duncandavidson.com/">James Duncan Davidson</a></span></p>
<p><a class="c-continue" href="/authors/drewmclellan/">More articles by Drew</a></p>

    </div></div>
</section>

