$_comment-avatar--small: $size-large;
$_comment-avatar--large: $size-xlarge;

.c-comment {
  position: relative;
  margin-bottom: $space-large;
  padding: $space-large;
  padding-left: $_comment-avatar--small;
  background-color: white;
  box-shadow: 1px 1px 0 $prose-color--shadow;

  @media screen and (min-width: 40em) {
    padding-left: $_comment-avatar--large;
  }

  &.c-comment--unhelpful {
    background-color: transparent;
    box-shadow: 0 0 0 1px $prose-color--shadow;
  }

  .c-avatar {
    position: absolute;
    top: 0;
    left: ($space-large * -1);
    width: $size-large;

    @media screen and (min-width: 40em) {
      width: $size-xlarge;
    }
  }
}

.c-comment__header {
  margin-bottom: $space-large;

  @media print {
    border-top: 1px solid black;
    padding-top: $space-small;
  }
}

.c-comment__title {
  @include typeset(title, 1);
}

.c-comment__meta {
  @include typeset(label, 1);

  @media screen and (min-width: 30em) {
    position: absolute;
    top: 1.75rem;
    right: $space-large;
  }

  a.c-comment__permalink {
    @include ui-link;
  }
}

.c-comment__main {
  margin-bottom: $space-large;
}

.c-comment__footer {
  @include typeset(label, 1);
  border-top: 1px solid $prose-color--shadow;
  padding-top: $space-medium;
  text-align: right;
}
