.c-comment {
  background-color: white;
  padding-left: 2.5rem;
  position: relative;
  margin-bottom: 0.75rem;

  @media screen {
    box-shadow: 1px 1px 0 rgba($color-neutral, 0.15);
  }

  @media screen and (min-width: 40em) {
    padding-left: 5.5rem;
  }

  &.c-comment--unhelpful {
    background-color: transparent;
    box-shadow: 0 0 0 1px rgba($color-neutral, 0.15);
  }

  .c-avatar {
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
    width: 2.5rem;

    @media screen and (min-width: 40em) {
      width: 5.5rem;
    }
  }
}

.c-comment__header {
  padding: 0.5rem 0.75rem 0.5rem 0;

  @media print {
    border-top: 1px solid black;
    padding-top: 0.5rem;
  }
}

.c-comment__title {
  @include title();
}

.c-comment__meta {
  @include caption();

  @media screen and (min-width: 30em) {
    position: absolute;
    top: 1.3125rem;
    right: 1rem;
  }

  a.c-comment__permalink {
    color: $color-neutral;

    &:hover {
      color: $color-neutral--dark;
    }
  }
}

.c-comment__main {
  padding: 0.5rem 0.75rem 0.5rem 0;
}

.c-comment__footer {
  @include caption();
  border-top: 1px solid $color-neutral--lightest;
  padding: 0.5rem 0.75rem 0.5rem 0;
  text-align: right;
}
