<article class="c-comment{% for mod in mods %} c-comment--{{ mod }}{% endfor %} h-entry" id="{{ id }}">
  <header class="c-comment__header">
    <h3 class="c-comment__title  p-name h-card">
      <a class="p-author u-url" href="{{ href }}">
        {% render "@avatar", avatar %}
        {{ author | title }}
      </a>
    </h3>
    <p class="c-comment__meta">
      <a class="c-comment__permalink" rel="bookmark" href="#{{ id }}" title="Permalink to this comment"><time class="dt-published" datetime="{{ datetime }}">{{ datetime | date('D MMMM YYYY') }}</time></a>
    </p>
  </header>
  <div class="c-comment__main s-prose  e-content">
    {{ content | markdown }}
  </div>
  <footer class="c-comment__footer">
    <p>This comment was <a href="/vote/up/{{ id }}/">helpful</a> / <a href="/vote/down/{{ id }}/">unhelpful</a></p>
  </footer>
</article>
