.s-gallery {
  display: flex;

  @media (--upto-medium-screen) {
    flex-direction: column;
  }

  img {
    display: block;
    max-width: 100%;
  }

  > * {
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
  }

  > *:not(:last-of-type) {
    @media (--upto-medium-screen) {
      margin-bottom: 2%;
    }

    @media (--from-medium-screen) {
      margin-right: 2%;
    }
  }

  > *:nth-last-of-type(2):first-child,
  > *:nth-last-of-type(2):first-child ~ * {
    @media (--from-medium-screen) {
      width: 48%;
    }
  }

  > *:nth-last-of-type(3):first-child,
  > *:nth-last-of-type(3):first-child ~ * {
    @media (--from-medium-screen) {
      width: 31.3334%;
    }
  }

  > *:nth-last-of-type(4):first-child,
  > *:nth-last-of-type(4):first-child ~ * {
    @media (--from-medium-screen) {
      width: 23%;
    }
  }
}
