.c-continue {
  @apply --typeset-ui;

  font-weight: 700;

  &::after {
    display: inline-block;
    vertical-align: middle;
    height: 0.375em;
    width: 0.375em;
    border: 0.1875em solid;
    border-color: currentColor currentColor transparent transparent;
    transform: rotate(45deg);
    content: '';
  }
}

.c-continue--ajax {
  &::after {
    content: '\2026';
  }
}
