.lede {
  @include font-smoothing-on();
  color: $c-neutral-darkest;
  font-family: $f-serif;
  font-weight: 400;
  font-size: 1.125em; /* 18px */
  line-height: 1.3334; /* 24px */
  letter-spacing: -0.0625rem; /* -1px */
  margin: 0.75em 0; /* 12px 0 */
  text-rendering: optimizeLegibility;

  @media screen and (min-width: 40em) {
    font-size: 1.25rem; /* 20px */
    line-height: 1.4; /* 28px */
    margin: 0.7em 0; /* 14px 0 */
  }

  @media screen and (min-width: 60em) {
    font-size: 1.5rem; /* 24px */
    line-height: 1.3334; /* 32px */
    margin: 0.6667em 0; /* 16px 0 */
  }

  strong {
    font-weight: normal;
  }
}
