{% include "@banner" %}
{% include "@menu" %}

<main class="main" role="main">
  <section class="index">
    {% include "@preface" %}

    <ol class="list list-articles">
      <li class="list_item">
        {% include "@summary-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-article" %}
      </li>
    </ol>
    {% include "@button--more" %}
  </section>
</main>

{% include "@navigation" %}
{% include "@contentinfo" %}
