.c-avatar {
  display: block;
  height: auto;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  shape-outside: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%)  content-box;
  shape-margin: 10%;
}
