.c-avatar {
  line-height: 1;
  border: 1px solid rgba(0,0,0,0.1);

  @media screen, print {
    display: block;
    overflow: hidden;
    transform: rotate(45deg);
    transform-origin: 50% 50%;

    img {
      margin: -25%;
      width: 150%;
      height: auto;
      transform: rotate(-45deg);
    }
  }
}
