/* Label */
.label {
	
}

/* Inputs */
.input {
	border: 0 none;
	padding: 1em 0.5em;
}
.input[type="text"] {
	height: 3rem;
}

/* Buttons */
.button {
	color: #fff;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	background-color: #333;
	border: 0 none;
	padding: 1em 1.5em;
	display: inline-block;
}

.button-more {
	width: 100%;
}

/* Field */
.field {
	margin: 0.75rem 0; /* 12px 0 */
	position: relative;
}

.field_label {
	line-height: 1;
	padding: 1em 0.5em;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 5em;
}

.field_input {
	padding-left: 6em;
	width: 100%;
}

/* Field > Search */
.field-search {
	position: relative;
	.field_label {
		font: 0/0 a;
		&::before {
			color: lightgrey;
			content: "\26B2";
			speak: none;
			.icon-font();
			font-size: 3rem; /* 48px */
			line-height: 1;
			position: absolute;
			left: 0;
			top: 0;
			display: block;
		}
	}
	.field_input {
		padding-left: 3rem;
		width: 100%;
	}
	.field_button {
		position: absolute;
		top: 0;
		right: 0;
	}
}