/* Field */
.field {
    margin-bottom: 0.5em; /* 8px */
    position: relative;
}
.field_label {
    line-height: 1;
    padding: 1em 0.5em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 5em;
}
.field_input {
    border: 0 none;
    padding: 1em 0.5em 1em 6em;
    width: 100%;
}

/* Buttons */
.button {
    color: #fff;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    background-color: #333;
    border: 0 none;
    padding: 1em 1.5em;
    display: block;
}
.button-more {
    width: 100%;
}

/* Options list */
.select legend {
    font-weight: 700;
}
.select label {
    font-weight: 400;
}