/* All lists: clear floats and remove bullets */
.list {
	list-style-type: none;
	margin: 0;
	.clear();
	overflow: hidden;
}

/* List > Comments */
.list-comments .list_item {
	padding: 1px 1px 0 0;
}

/* List > Authors */
.list-authors .list_item {
	padding: 1px 1px 0 0;
	width: 33.3334%;
	float: left;
	@media screen and (min-width: 60em) {
		width: 25%;
	}
	@media screen and (min-width: 80em) {
		width: 20%;
	}
}

/* List > Articles */
.list-articles {
	background-color: white;
}
.list-articles .list_item {
	margin-bottom: 1px;
	@media screen and (min-width: 31.5em) {
		margin-bottom: 0;
		min-height: 20em;
		position: relative;
		.summary-article {
			position: absolute;
			top: 1px;
			left: 1px;
			bottom: 0;
		}
	}
	@media screen and (min-width: 31.5em) and (max-width: 49.9375em) {
		min-height: 24em;
		width: 50%;
		float: left;
		&:nth-child(2n+1) {
			clear: left;
		}
	}
	@media screen and (min-width: 50em) and (max-width: 59.9375em) {
		min-height: 32em;
		width: 33.3334%;
		float: left;
		&:nth-child(3n+1) {
			clear: left;
		}
	}
	@media screen and (min-width: 60em) {
		width: 25%;
		float: left;
		&:nth-child(4n+1) {
			clear: left;
		}
	}
}

/* List > Articles and authors within a section */
.section {
	.list-articles,
	.list-authors {
		@media screen and (min-width: 50em) {
			margin-right: -7%;
		}
		@media screen and (min-width: 60em) {
			margin-right: -25%;
		}
	}
	.list-articles {
		.list_item {
			@media screen and (min-width: 50em) {
				width: 50%;
			}
			@media screen and (min-width: 60em) {
				width: 33.3334%;
			}
		}
	}
}