/* All lists: clear floats and remove bullets */
.list {
    list-style-type: none;
    margin: 0;
    .clear();
}

/* Metadata list */
.list-metadata {
    dt {
        border-bottom: thin solid transparent;
        padding-top: 0.5em; /* 8px */
    }
    dd {
        margin-left: 0;
        border-bottom: thin solid lightgrey;
        padding-bottom: 0.5em; /* 8px */
    }
    @media screen and (min-width: 40em) {
        dt {
            padding: 0.5em 0; /* 8px */
            width: 25%;
            float: left;
            clear: left;
            display: block;
        }
        dd {
            margin-left: -25%;
            padding: 0.5em 0 0.5em 25%; /* 8px 0 8px 25% */
            width: 75%;
            float: right;
        }
    }
}

/* Stats list */
.list-stats {
    .list_item {
        margin: 0 0.75em 0 0; /* 0 12px 0 0 */
        padding: 0 0.75em 0 0; /* 0 12px 0 0 */
        border-right: thin solid lightgrey;
        float: left;
    }
    .list_item:last-child {
        margin: 0;
        padding: 0;
        border: none;
    }
    a {
        font-weight: 700;
        font-size: 18px;
        font-size: 1.125em;
        line-height: 1.3334; /* 24 */
        border: 0 none;
        display: block;
        float: left;
    }
    span {
        display: block;
    }
    a:hover span {
        color: inherit;
    }
}

/* Tags list */
.list-tags .list_item {
    list-style: none;
    margin: 0 0.3334em 0 0;
    display: inline;
    white-space: nowrap;
}
.list-tags [data-rank="6"] { font-size: 1.2500em; line-height: 1.0000; } /* 20px/20px */
.list-tags [data-rank="5"] { font-size: 1.1250em; line-height: 1.1111; } /* 18px/20px */
.list-tags [data-rank="4"] { font-size: 1.0000em; line-height: 1.2500; } /* 16px/20px */
.list-tags [data-rank="3"] { font-size: 0.8750em; line-height: 1.4286; } /* 14px/20px */
.list-tags [data-rank="2"] { font-size: 0.7500em; line-height: 1.6667; } /* 12px/20px */
.list-tags [data-rank="1"] { font-size: 0.6875em; line-height: 1.8181; } /* 11px/20px */