/* Avatar image */
.avatar {
	line-height: 1;
	border: 1px solid rgba(0,0,0,0.1);
	display: block;
	overflow: hidden;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	img {
		margin: -25%;
		width: 150%;
		height: auto;
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
}