/* Images */
.circular {
    border-radius: 100%;
}
.framed {
    box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
    border: thin solid silver;
    padding: 0.25em;
    display:inline-block;
}
.framed.circular img {
    border-radius: 100%;
    display: block;
}