/* All navigation */
.nav {
	list-style-type: none;
	margin: 0;
	.nav_item a:hover,
	.nav_item:hover {
		background-color: lighten(@c-neutral-lightest, 1%);
	}
	a {
		color: @c-neutral-light;
		&:hover {
			color: @c-neutral;
		}
	}
}


/* ==========================================================================
   Navigate site
   ========================================================================== */
.nav-site {
	overflow: hidden;
	.nav_item {
		text-align: center;
		border: solid @c-neutral-lightest;
		border-width: 0 1px 0 0;
		float: left;
		width: 25%;
		@media screen and (min-width: 31.5em) {
			text-align: left;
			border-width: 1px 0 0 0;
			float: none;
			width: auto;
		}
		&:last-child {
			border-right: 0 none;
		}
	}
	a {
		font-size: 0.8125em; /* 13px */
		line-height: 1.2308; /* 16px */
		padding: 1.2308em 0.6154em; /* 16px 8px */
		display: block;
		@media screen and (min-width: 31.5em) {
			padding: 0.5625rem 0.5rem 0.625rem; /* 9px 8px 10px */
		}
	}

}


/* ==========================================================================
   Navigate topics
   ========================================================================== */
.nav-topics {
	.nav_item {
		float: left;
		width: 33.3333%;
		@media screen and (min-width: 50em) {
			width: 16.6667%;
		}
	}
	a {
		font-size: 0.8125rem; /* 13px */
		line-height: 1.2308; /* 16px */
		text-align: center;
		text-transform: uppercase;
		border: solid @c-neutral-lightest;
		border-width: 0 1px 1px 0;
		padding: 1.5385em 25% 1.4615em; /* 20px 25% 19px */
		display: block;
		&::before {
			color: @c-signature;
			font-size: 32px;
			font-size: 2rem;
			line-height: 1;
			margin-bottom: 0.5rem;
			display: block;
			@media screen and (min-width: 31.5em) {
				font-size: 48px;
				font-size: 3rem;
			}
		}
	}
}


/* ==========================================================================
   Navigate back to top
   ========================================================================== */
.nav-top {
	color: @c-neutral-light;
	font: 0/0 a;
	text-align: center;
	margin: 0;
	border-top: 1px solid @c-neutral-lightest;
	padding: 0;
	width: 4.5rem; /* 72px */
	height: 4.5rem; /* 72px */
	overflow: hidden;
	&::before {
		font-size: 48px;
		font-size: 3rem;
		line-height: 1;
		padding: 0.75rem;
		display: block;
	}
	&:hover {
		color: @c-neutral;
		background-color: lighten(@c-neutral-lightest, 1%);
	}
}


/* ==========================================================================
   Traverse articles and indices
   ========================================================================== */
.nav-traverse {
	@media screen and (min-width: 31.5em) {
		width: 4.5rem;
	}
	.nav_item {
		text-align: left;
		padding: 1em 0.5em;
		width: 50%;
		float: left;
		display: block;
		@media screen and (min-width: 31.5em) {
			text-align: center;
			width: auto;
			height: 4.5rem;
			float: none;
		}
	}
	.nav_prev,
	.nav_next {
		position: relative;
		@media screen and (min-width: 31.5em) {
			font: 0/0 a;
			&::before {
				font-size: 48px;
				font-size: 3rem;
				line-height: 1.5;
				background-color: #fff;
				box-shadow: inset 0 -1px 0 @c-neutral-lightest;
				display: block;
				position: relative;
				z-index: 1;
			}
			&::after {
				content: "Previous: \A"attr(data-sequence-title);
				color: #fff;
				.font-smoothing-on();
				font: 0.875rem/1.4286 @f-sans;
				text-align: left;
				white-space: pre-wrap;
				background-color: fade(@c-neutral-darkest, 90%);
				padding: 0.5em 0.75rem;
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				width: 18rem;
				z-index: 0;
				overflow: hidden;
				transition: all .3s ease-out;
			}
			&:hover {
				&::after {
					left: -18rem;
				}
			}
		}
	}
	.nav_next {
		text-align: right;
		@media screen and (min-width: 31.5em) {
			text-align: center;
			&::after {
				content: "Next: \A"attr(data-sequence-title);
			}
		}
	}
}


/* ==========================================================================
   Continue link
   ========================================================================== */
.continue {
	font-weight: 700;
	&::after {
		content: " \203A";
	}
}
.continue-ajax {
	&::after {
		content: " \2026";
	}
}