/* All navigation */
.nav {
    list-style-type: none;
    margin: 0;
    .nav_item a:hover {
        background-color: whitesmoke;
    }
    .is-active a {
        // color: #333;
        // font-weight: 700;
    }
}

/* Back to top link */
.nav-top {
    font: 0/0 a;
    text-align: center;
    margin: 0;
    border-top: 1px solid whitesmoke;
    padding: 0;
    height: 72px;
    height: 4.5rem;
    width: 72px;
    width: 4.5rem;
    position: fixed;
    right: 0;
    bottom: 8rem;
    z-index: 9;
    overflow: hidden;
    &::before {
        font-size: 48px;
        font-size: 3rem;
        line-height: 1;
        padding: 0.75rem;
        display: block;
    }
}

.js-menu-active {
    .nav-top {
        @media screen and (min-width: 31.5em) {
            right: 288px;
            right: 18rem;
        }
    }
}

/* Traverse */
.nav-traverse {
    margin: 0;
    overflow: hidden;
    transition: right .2s ease-out;
    @media screen and (max-width: 31.4375em) {
        border-top: 1px solid whitesmoke;
    }
    @media screen and (min-width: 31.5em) {
        position: fixed;
        right: 0;
        top: 72px;
        top: 4.5rem;
        z-index: 999;
    }
    .nav_item {
        display: block;
        @media screen and (max-width: 31.4375em) {
            padding: 1rem 0.5rem;
            width: 50%;
            float: left;
        }
        @media screen and (min-width: 31.5em) {
            text-align: center;
            border-bottom: 1px solid whitesmoke;
            height: 72px;
            height: 4.5rem;
            width: 72px;
            width: 4.5rem;
        }
    }
    .nav_prev,
    .nav_next {
        @media screen and (min-width: 31.5em) {
            font: 0/0 a;
        }
        &::before {
            @media screen and (min-width: 31.5em) {
                font-size: 48px;
                font-size: 3rem;
                line-height: 1.5;
                display: block;
            }
        }
    }
    .nav_next {
        @media screen and (max-width: 31.4375em) {
            text-align: right;
        }
    }
}

.js-menu-active {
    .nav-traverse {
        right: 288px;
        right: 18rem;
    }
}