/* ==========================================================================
   Banner
   ========================================================================== */
.banner {
    text-transform: uppercase;
    background-color: lightgrey;
    padding: 0.5rem 1rem;
    height: 48px;
    height: 3rem;
    @media screen and (max-width: 31.4375em) {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 9;
    }
    @media screen and (min-width: 31.5em) {
        padding: 1rem;
        height: 72px;
        height: 4.5rem;
    }
    @media screen and (min-width: 50em) {
        padding-left: 25%;
    }
}

.banner_logo {
    font-size: 1.25em;
    @media screen and (min-width: 31.5em) {
        font-size: 1.5em;
    }
    span {
        font-size: 0.6667em;
        text-transform: lowercase;
        opacity: 0.6;
    }
}


/* ==========================================================================
   Menu
   ========================================================================== */
.menu {
    color: #fff;
    font: 0/0 a;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    overflow: hidden;
    @media screen and (min-width: 31.5em) {
        border: 12px solid;
        border: 0.75rem solid;
        height: 72px;
        height: 4.5rem;
        width: 72px;
        width: 4.5rem;
    }
    &::before {
        font-size: 48px;
        font-size: 3rem;
        display: block;
        overflow: hidden;
    }
}

.js-enhanced {
    .menu {
        position: fixed;
    }
}


/* ==========================================================================
   Main
   ========================================================================== */
[role="main"] {
    background-color: #f3f3f3;
    @media screen and (min-width: 31.5em) {
        margin-right: 72px;
        margin-right: 4.5rem;
    }
}

.js-enhanced [role="banner"],
.js-enhanced [role="main"],
.js-enhanced [role="contentinfo"] {
    transition: all .25s;
}

.js-menu-active [role="banner"],
.js-menu-active [role="main"],
.js-menu-active [role="contentinfo"] {
    -webkit-filter: brightness(0.75);
    // filter: brightness(0.75);
}


/* ==========================================================================
   Navigation
   ========================================================================== */
.navigation {
    @media screen and (min-width: 31.5em) {
        margin-right: 72px;
        margin-right: 4.5rem;
    }
    a {
        .caption();
        text-transform: uppercase;
        &:hover {
            background-color: whitesmoke;
        }
    }
    li {
        float: left;
        text-align: center;
        width: 33.3333%;
        @media screen and (min-width: 50em) {
            width: 16.6667%;
        }
        a {
            display: block;
            &::before {
                font-size: 48px;
                font-size: 3rem;
                line-height: 1;
                margin-bottom: 8px;
                margin-bottom: 0.5rem;
                display: block;
            }
        }
    }
}

.navigation_topics {
    overflow: hidden;
    a {
        padding: 25%;
    }
}

.navigation_site {
    overflow: hidden;
    a {
        padding: 8px 0;
        padding: 0.5rem 0;
    }
    li {
        width: 50%;
        @media screen and (min-width: 50em) {
            width: 25%;
        }
    }
}

.js-enhanced {
    .navigation {
        @media screen and (min-width: 31.5em) {
            background-color: #fff;
            margin: 0;
            padding: 0 0 0 4.5em;
            width: 22.5em;
            position: fixed;
            top: 72px;
            top: 4.5rem;
            right: -18em;
            bottom: 0;
            transition: all .25s;
        }
        li {
            @media screen and (min-width: 31.5em) {
                width: 144px;
                width: 9rem;
            }
        }
    }
    .navigation_topics {
        @media screen and (max-width: 31.4375em) {
            background-color: #fff;
            position: fixed;
            top: 3rem;
            max-height: 0;
            width: 100%;
            transition: all .25s;
        }
    }
    .navigation_site {
        @media screen and (min-width: 31.5em) {
            position: absolute;
            bottom: 48px;
            bottom: 3rem;
        }
        a[href="#top"] {
            display: none;
        }
    }
}

.js-menu-active {
    .navigation {
        right: 0;
        z-index: 9;
        @media screen and (min-width: 31.5em) {
            box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
        }
    }
    .navigation_topics {
        @media screen and (max-width: 31.4375em) {
            box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
            max-height: 320px;
            max-height: 20rem;
            width: 100%;
        }
    }
}


/* ==========================================================================
   Content Info
   ========================================================================== */
.contentinfo {
    .caption();
    background-color: #e3e3e3;
    padding: 16px;
    padding: 1rem;
    clear: left;
    overflow: hidden;
    @media screen and (min-width: 31.5em) {
        margin-right: 72px;
        margin-right: 4.5rem;
    }
    small {
        font-size: 100%;
    }
}

.contentinfo_copyright {
    @media screen and (min-width: 31.5em) {
        margin: 0;
        float: left;
    }
}

.contentinfo_social {
    @media screen and (min-width: 31.5em) {
        margin: 0;
        float: right;
    }
    a {
        margin: 0 1em 0 0;
        @media screen and (min-width: 31.5em) {
            margin: 0 0 0 1em;
            float: right;
        }
    }
}