/* ==========================================================================
   Banner
   ========================================================================== */
.banner {
    text-transform: uppercase;
    background-color: lightgrey;
    padding: 1rem;
    height: 72px;
    height: 4.5rem;
    @media screen and (min-width: 50em) {
        padding-left: 25%;
    }
}
.banner_logo {
    font-size: 1.5em;
    @media screen and (min-width: 50em) {
        margin-left: 16px;
        margin-left: 1rem;
    }
    span {
        font-size: 0.6667em;
        text-transform: lowercase;
        opacity: 0.6;
    }
}


/* ==========================================================================
   Menu
   ========================================================================== */
.menu {
    color: #fff;
    font: 0/0 a;
    border: 12px solid;
    height: 72px;
    height: 4.5rem;
    width: 72px;
    width: 4.5rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    overflow: hidden;

    &::before {
        font-size: 48px;
        font-size: 3rem;
        display: block;
        height: 49px;
        overflow: hidden;
    }
}

.js-enhanced {
    .menu {
        position: fixed;
    }
}


/* ==========================================================================
   Main
   ========================================================================== */
[role="main"] {
    background-color: #f3f3f3;
    margin-right: 72px;
    margin-right: 4.5rem;
}
.js-enhanced [role="main"] {
    transition: all .25s;
}
.js-menu-active [role="banner"],
.js-menu-active [role="main"],
.js-menu-active [role="contentinfo"] {
    // -webkit-filter: blur(0.5px) brightness(0.75);
    // filter: blur(0.5px) brightness(0.75);
}


/* ==========================================================================
   Navigation
   ========================================================================== */
.navigation {
    margin-right: 72px;
    margin-right: 4.5rem;

    a {
        .caption();
        text-transform: uppercase;
        
        &:hover {
            background-color: whitesmoke;
        }
    }
}

.navigation_topics,
.navigation_site {
    overflow: hidden;

    li {
        float: left;
        text-align: center;
        border: solid whitesmoke;
        border-width: 0 1px 1px 0;
        margin-right: -1px;
    }
    a {
        padding: 36px 24px;
        padding: 2.25rem 1.5rem;
        width: 143px;
        width: 8.9375rem;
        display: block;

        &::before {
            font-size: 48px;
            font-size: 3rem;
            line-height: 1;
            margin-bottom: 8px;
            margin-bottom: 0.5rem;
            display: block;
        }
    }
}

.navigation_topics {
    a {
        height: 143px;
        height: 8.9375rem;
    }
}

.navigation_site {
    a {
        font-size: 12px;
        font-size: 0.75em;
        padding: 8px 0;
        padding: 0.5rem 0;
        display: block;
    }
}

.js-enhanced {
    .navigation {
        background-color: #fff;
        margin: 0;
        padding: 0 0 0 4.5em;
        width: 22.5em;
        position: fixed;
        top: 72px;
        top: 4.5rem;
        right: -18em;
        bottom: 0;
        transition: all .25s;
    }
    .navigation_topics {
        border: solid whitesmoke;
        border-width: 1px 0 0 1px;
    }
    .navigation_site {
        border: solid whitesmoke;
        border-width: 1px 0 0 1px;
        position: absolute;
        bottom: 48px;
        bottom: 3rem;

        a[href="#top"] {
            display: none;
        }
    }
    .js-menu-active .navigation {
        right: 0;
        //box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
        z-index: 9;
    }
}


/* ==========================================================================
   Content Info
   ========================================================================== */
.contentinfo {
    .caption();
    margin-right: 72px;
    margin-right: 4.5rem;
    padding: 16px;
    padding: 1rem;
    clear: left;
    overflow: hidden;

    small {
        font-size: 100%;
    }
}
.contentinfo_copyright {
    margin: 0;
    float: left;
}
.contentinfo_social {
    margin: 0;
    float: right;
    display: none;
}