/* ==========================================================================
   Years
   ========================================================================== */
.year-2005 {
	background-color: darken(@c-year-2005, 25%);
	.banner {
		background-color: darken(@c-year-2005, 30%);
	}
	h2 {
		color: darken(@c-year-2005, 20%);
	}
}
.year-2006 {
	background-color: darken(@c-year-2006, 25%);
	.banner {
		background-color: darken(@c-year-2006, 30%);
	}
	h2 {
		color: darken(@c-year-2006, 20%);
	}
}
.year-2007 {
	background-color: darken(@c-year-2007, 25%);
	.banner {
		background-color: darken(@c-year-2007, 30%);
	}
	h2 {
		color: darken(@c-year-2007, 20%);
	}
}
.year-2008 {
	background-color: darken(@c-year-2008, 25%);
	.banner {
		background-color: darken(@c-year-2008, 30%);
	}
	h2 {
		color: darken(@c-year-2008, 20%);
	}
}
.year-2009 {
	background-color: darken(@c-year-2009, 25%);
	.banner {
		background-color: darken(@c-year-2009, 30%);
	}
	h2 {
		color: darken(@c-year-2009, 20%);
	}
}
.year-2010 {
	background-color: darken(@c-year-2010, 25%);
	.banner {
		background-color: darken(@c-year-2010, 30%);
	}
	h2 {
		color: darken(@c-year-2010, 20%);
	}
}
.year-2011 {
	background-color: darken(@c-year-2011, 25%);
	.banner {
		background-color: darken(@c-year-2011, 30%);
	}
	h2 {
		color: darken(@c-year-2011, 20%);
	}
}
.year-2012 {
	background-color: darken(@c-year-2012, 25%);
	.banner {
		background-color: darken(@c-year-2012, 30%);
	}
	h2 {
		color: darken(@c-year-2012, 20%);
	}
}
.year-2013 {
	.preface {
		background-color: darken(@c-year-2013, 25%);
	}
	.banner {
		background-color: darken(@c-year-2013, 30%);
	}
	h2 {
		color: darken(@c-year-2013, 20%);
	}
}
.year-2014 {
	background-color: darken(@c-year-2014, 25%);
	.banner {
		background-color: darken(@c-year-2014, 30%);
	}
	h2 {
		color: darken(@c-year-2014, 20%);
	}
}
.year-2015 {
	background-color: darken(@c-year-2015, 25%);
	.banner {
		background-color: darken(@c-year-2015, 30%);
	}
	h2 {
		color: darken(@c-year-2015, 20%);
	}
}
.year-2016 {
	background-color: darken(@c-year-2016, 25%);
	.banner {
		background-color: darken(@c-year-2016, 30%);
	}
	h2 {
		color: darken(@c-year-2016, 20%);
	}
}
.year-2017 {
	background-color: darken(@c-year-2017, 25%);
	.banner {
		background-color: darken(@c-year-2017, 30%);
	}
	h2 {
		color: darken(@c-year-2017, 20%);
	}
}
.year-2018 {
	background-color: darken(@c-year-2018, 25%);
	.banner {
		background-color: darken(@c-year-2018, 30%);
	}
	h2 {
		color: darken(@c-year-2018, 20%);
	}
}
.year-2019 {
	background-color: darken(@c-year-2019, 25%);
	.banner {
		background-color: darken(@c-year-2019, 30%);
	}
	h2 {
		color: darken(@c-year-2019, 20%);
	}
}
.year-2020 {
	background-color: darken(@c-year-2020, 25%);
	.banner {
		background-color: darken(@c-year-2020, 30%);
	}
	h2 {
		color: darken(@c-year-2020, 20%);
	}
}


/* ==========================================================================
   Days
   ========================================================================== */
.day-01 {
	background-color: lighten(@c-day-01, 48%);
	a {
		color: @c-day-01;
	}
}
.day-02 {
	background-color: lighten(@c-day-02, 48%);
	a {
		color: @c-day-02;
	}
}
.day-03 {
	background-color: lighten(@c-day-03, 48%);
	a {
		color: @c-day-03;
	}
}
.day-04 {
	background-color: lighten(@c-day-04, 48%);
	a {
		color: @c-day-04;
	}
}
.day-05 {
	background-color: lighten(@c-day-05, 48%);
	a {
		color: @c-day-05;
	}
}
.day-06 {
	background-color: lighten(@c-day-06, 48%);
	a {
		color: @c-day-06;
	}
}
.day-07 {
	background-color: lighten(@c-day-07, 48%);
	a {
		color: @c-day-07;
	}
}
.day-08 {
	background-color: lighten(@c-day-08, 48%);
	a {
		color: @c-day-08;
	}
}
.day-09 {
	background-color: lighten(@c-day-09, 48%);
	a {
		color: @c-day-09;
	}
}
.day-10 {
	background-color: lighten(@c-day-10, 48%);
	a {
		color: @c-day-10;
	}
}
.day-11 {
	background-color: lighten(@c-day-11, 48%);
	a {
		color: @c-day-11;
	}
}
.day-12 {
	background-color: lighten(@c-day-12, 48%);
	a {
		color: @c-day-12;
	}
}
.day-13 {
	background-color: lighten(@c-day-13, 48%);
	a {
		color: @c-day-13;
	}
}
.day-14 {
	background-color: lighten(@c-day-14, 48%);
	a {
		color: @c-day-14;
	}
}
.day-15 {
	background-color: lighten(@c-day-15, 48%);
	a {
		color: @c-day-15;
	}
}
.day-16 {
	background-color: lighten(@c-day-16, 48%);
	a {
		color: @c-day-16;
	}
}
.day-17 {
	background-color: lighten(@c-day-17, 48%);
	a {
		color: @c-day-17;
	}
}
.day-18 {
	background-color: lighten(@c-day-18, 48%);
	a {
		color: @c-day-18;
	}
}
.day-19 {
	background-color: lighten(@c-day-19, 48%);
	a {
		color: @c-day-19;
	}
}
.day-20 {
	background-color: lighten(@c-day-20, 48%);
	a {
		color: @c-day-20;
	}
}
.day-21 {
	background-color: lighten(@c-day-21, 48%);
	a {
		color: @c-day-21;
	}
}
.day-22 {
	background-color: lighten(@c-day-22, 48%);
	a {
		color: @c-day-22;
	}
}
.day-23 {
	background-color: lighten(@c-day-23, 48%);
	a {
		color: @c-day-23;
	}
}
.day-24 {
	background-color: lighten(@c-day-24, 48%);
	a {
		color: @c-day-24;
	}
}


/* ==========================================================================
   Syntax highlighting
   ========================================================================== */
pre[class*="language-"] {
	text-align: left;
	direction: ltr;
	white-space: pre;
	word-spacing: normal;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	overflow: auto;
	code {
		background-color: transparent;
	}
}

.namespace {
	opacity: .7;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #a67f59;
	background: hsla(0,0%,100%,.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.regex,
.token.important {
	color: #e90;
}

.token.important {
	font-weight: bold;
}

.token.entity {
	cursor: help;
}