/* ==========================================================================
   Years
   ========================================================================== */
.year-2005 {
	h2 {
		color: darken(@c-year-2005, 20%);
	}
	.article_main .lede {
		color: darken(@c-year-2005, 30%);
	}
	.preface {
		background-color: darken(@c-year-2005, 25%);
	}
	.banner {
		background-color: darken(@c-year-2005, 30%);
	}
	.nav-traverse {
		.nav_item.nav_prev,
		.nav_item.nav_next {
			&::after {
				background-color: fade(darken(@c-year-2005, 30%), 75%);
			}
		}
	}
}

.year-2006 {
	h2 {
		color: darken(@c-year-2006, 20%);
	}
	.article_main .lede {
		color: darken(@c-year-2006, 30%);
	}
	.preface {
		background-color: darken(@c-year-2006, 25%);
	}
	.banner {
		background-color: darken(@c-year-2006, 30%);
	}
	.nav-traverse {
		.nav_item.nav_prev,
		.nav_item.nav_next {
			&::after {
				background-color: fade(darken(@c-year-2006, 30%), 75%);
			}
		}
	}
}

.year-2007 {
	h2 {
		color: darken(@c-year-2007, 20%);
	}
	.article_main .lede {
		color: darken(@c-year-2007, 30%);
	}
	.preface {
		background-color: darken(@c-year-2007, 25%);
	}
	.banner {
		background-color: darken(@c-year-2007, 30%);
	}
	.nav-traverse {
		.nav_item.nav_prev,
		.nav_item.nav_next {
			&::after {
				background-color: fade(darken(@c-year-2007, 30%), 75%);
			}
		}
	}
}

.year-2008 {
	h2 {
		color: darken(@c-year-2008, 20%);
	}
	.article_main .lede {
		color: darken(@c-year-2008, 30%);
	}
	.preface {
		background-color: darken(@c-year-2008, 25%);
	}
	.banner {
		background-color: darken(@c-year-2008, 30%);
	}
	.nav-traverse {
		.nav_item.nav_prev,
		.nav_item.nav_next {
			&::after {
				background-color: fade(darken(@c-year-2008, 30%), 75%);
			}
		}
	}
}

.year-2009 {
	h2 {
		color: darken(@c-year-2009, 20%);
	}
	.article_main .lede {
		color: darken(@c-year-2009, 30%);
	}
	.preface {
		background-color: darken(@c-year-2009, 25%);
	}
	.banner {
		background-color: darken(@c-year-2009, 30%);
	}
	.nav-traverse {
		.nav_item.nav_prev,
		.nav_item.nav_next {
			&::after {
				background-color: fade(darken(@c-year-2009, 30%), 75%);
			}
		}
	}
}

.year-2010 {
	h2 {
		color: darken(@c-year-2010, 20%);
	}
	.article_main .lede {
		color: darken(@c-year-2010, 30%);
	}
	.preface {
		background-color: darken(@c-year-2010, 25%);
	}
	.banner {
		background-color: darken(@c-year-2010, 30%);
	}
	.nav-traverse {
		.nav_item.nav_prev,
		.nav_item.nav_next {
			&::after {
				background-color: fade(darken(@c-year-2010, 30%), 75%);
			}
		}
	}
}

.year-2011 {
	h2 {
		color: darken(@c-year-2011, 20%);
	}
	.article_main .lede {
		color: darken(@c-year-2011, 30%);
	}
	.preface {
		background-color: darken(@c-year-2011, 25%);
	}
	.banner {
		background-color: darken(@c-year-2011, 30%);
	}
	.nav-traverse {
		.nav_item.nav_prev,
		.nav_item.nav_next {
			&::after {
				background-color: fade(darken(@c-year-2011, 30%), 75%);
			}
		}
	}
}

.year-2012 {
	h2 {
		color: darken(@c-year-2012, 20%);
	}
	.article_main .lede {
		color: darken(@c-year-2012, 30%);
	}
	.preface {
		background-color: darken(@c-year-2012, 25%);
	}
	.banner {
		background-color: darken(@c-year-2012, 30%);
	}
	.nav-traverse {
		.nav_item.nav_prev,
		.nav_item.nav_next {
			&::after {
				background-color: fade(darken(@c-year-2012, 30%), 75%);
			}
		}
	}
}

.year-2013 {
	h2 {
		color: darken(@c-year-2013, 20%);
	}
	.article_main .lede {
		color: darken(@c-year-2013, 30%);
	}
	.preface {
		background-color: darken(@c-year-2013, 25%);
	}
	.banner {
		background-color: darken(@c-year-2013, 30%);
	}
	.nav-traverse {
		.nav_item.nav_prev,
		.nav_item.nav_next {
			&::after {
				background-color: fade(darken(@c-year-2013, 30%), 75%);
			}
		}
	}
}

// .year-2014 {
// 	h2 {
// 		color: darken(@c-year-2014, 20%);
// 	}
// .article_main .lede {
// 		color: darken(@c-year-2014, 30%);
// }
// 	.preface {
// 		background-color: darken(@c-year-2014, 25%);
// 	}
// 	.banner {
// 		background-color: darken(@c-year-2014, 30%);
// 	}
// 	.nav-traverse {
// 		.nav_item.nav_prev,
// 		.nav_item.nav_next {
// 			&::after {
// 				background-color: fade(darken(@c-year-2014, 30%), 75%);
// 			}
// 		}
// 	}
// }
// 
// .year-2015 {
// 	h2 {
// 		color: darken(@c-year-2015, 20%);
// 	}
// .article_main .lede {
// 		color: darken(@c-year-2015, 30%);
// }
// 	.preface {
// 		background-color: darken(@c-year-2015, 25%);
// 	}
// 	.banner {
// 		background-color: darken(@c-year-2015, 30%);
// 	}
// 	.nav-traverse {
// 		.nav_item.nav_prev,
// 		.nav_item.nav_next {
// 			&::after {
// 				background-color: fade(darken(@c-year-2015, 30%), 75%);
// 			}
// 		}
// 	}
// }
// 
// .year-2016 {
// 	h2 {
// 		color: darken(@c-year-2016, 20%);
// 	}
// .article_main .lede {
// 		color: darken(@c-year-2016, 30%);
// }
// 	.preface {
// 		background-color: darken(@c-year-2016, 25%);
// 	}
// 	.banner {
// 		background-color: darken(@c-year-2016, 30%);
// 	}
// 	.nav-traverse {
// 		.nav_item.nav_prev,
// 		.nav_item.nav_next {
// 			&::after {
// 				background-color: fade(darken(@c-year-2016, 30%), 75%);
// 			}
// 		}
// 	}
// }
// 
// .year-2017 {
// 	h2 {
// 		color: darken(@c-year-2017, 20%);
// 	}
// .article_main .lede {
// 		color: darken(@c-year-2017, 30%);
// }
// 	.preface {
// 		background-color: darken(@c-year-2017, 25%);
// 	}
// 	.banner {
// 		background-color: darken(@c-year-2017, 30%);
// 	}
// 	.nav-traverse {
// 		.nav_item.nav_prev,
// 		.nav_item.nav_next {
// 			&::after {
// 				background-color: fade(darken(@c-year-2017, 30%), 75%);
// 			}
// 		}
// 	}
// }
// 
// .year-2018 {
// 	h2 {
// 		color: darken(@c-year-2018, 20%);
// 	}
// .article_main .lede {
// 		color: darken(@c-year-2018, 30%);
// }
// 	.preface {
// 		background-color: darken(@c-year-2018, 25%);
// 	}
// 	.banner {
// 		background-color: darken(@c-year-2018, 30%);
// 	}
// 	.nav-traverse {
// 		.nav_item.nav_prev,
// 		.nav_item.nav_next {
// 			&::after {
// 				background-color: fade(darken(@c-year-2018, 30%), 75%);
// 			}
// 		}
// 	}
// }
// 
// .year-2019 {
// 	h2 {
// 		color: darken(@c-year-2019, 20%);
// 	}
// .article_main .lede {
// 		color: darken(@c-year-2019, 30%);
// }
// 	.preface {
// 		background-color: darken(@c-year-2019, 25%);
// 	}
// 	.banner {
// 		background-color: darken(@c-year-2019, 30%);
// 	}
// 	.nav-traverse {
// 		.nav_item.nav_prev,
// 		.nav_item.nav_next {
// 			&::after {
// 				background-color: fade(darken(@c-year-2019, 30%), 75%);
// 			}
// 		}
// 	}
// }
// 
// .year-2020 {
// 	h2 {
// 		color: darken(@c-year-2020, 20%);
// 	}
// .article_main .lede {
// 		color: darken(@c-year-2020, 30%);
// }
// 	.preface {
// 		background-color: darken(@c-year-2020, 25%);
// 	}
// 	.banner {
// 		background-color: darken(@c-year-2020, 30%);
// 	}
// 	.nav-traverse {
// 		.nav_item.nav_prev,
// 		.nav_item.nav_next {
// 			&::after {
// 				background-color: fade(darken(@c-year-2020, 30%), 75%);
// 			}
// 		}
// 	}
// }


/* ==========================================================================
   Days
   ========================================================================== */
.article.day-01 {
	background-color: lighten(@c-day-01, 48%);
	a {
		color: @c-day-01;
		border-color: fade(@c-day-01, 20%);
		&:hover {
			color: darken(@c-day-01, 10%);
			border-color: fade(darken(@c-day-01, 10%), 33%);
		}
	}
}
.article.day-02 {
	background-color: lighten(@c-day-02, 48%);
	a {
		color: @c-day-02;
		border-color: fade(@c-day-02, 20%);
		&:hover {
			color: darken(@c-day-02, 10%);
			border-color: fade(darken(@c-day-02, 10%), 33%);
		}
	}
}
.article.day-03 {
	background-color: lighten(@c-day-03, 48%);
	a {
		color: @c-day-03;
		border-color: fade(@c-day-03, 20%);
		&:hover {
			color: darken(@c-day-03, 10%);
			border-color: fade(darken(@c-day-03, 10%), 33%);
		}
	}
}
.article.day-04 {
	background-color: lighten(@c-day-04, 48%);
	a {
		color: @c-day-04;
		border-color: fade(@c-day-04, 20%);
		&:hover {
			color: darken(@c-day-04, 10%);
			border-color: fade(darken(@c-day-04, 10%), 33%);
		}
	}
}
.article.day-05 {
	background-color: lighten(@c-day-05, 48%);
	a {
		color: @c-day-05;
		border-color: fade(@c-day-05, 20%);
		&:hover {
			color: darken(@c-day-05, 10%);
			border-color: fade(darken(@c-day-05, 10%), 33%);
		}
	}
}
.article.day-06 {
	background-color: lighten(@c-day-06, 48%);
	a {
		color: @c-day-06;
		border-color: fade(@c-day-06, 20%);
		&:hover {
			color: darken(@c-day-06, 10%);
			border-color: fade(darken(@c-day-06, 10%), 33%);
		}
	}
}
.article.day-07 {
	background-color: lighten(@c-day-07, 48%);
	a {
		color: @c-day-07;
		border-color: fade(@c-day-07, 20%);
		&:hover {
			color: darken(@c-day-07, 10%);
			border-color: fade(darken(@c-day-07, 10%), 33%);
		}
	}
}
.article.day-08 {
	background-color: lighten(@c-day-08, 48%);
	a {
		color: @c-day-08;
		border-color: fade(@c-day-08, 20%);
		&:hover {
			color: darken(@c-day-08, 10%);
			border-color: fade(darken(@c-day-08, 10%), 33%);
		}
	}
}
.article.day-09 {
	background-color: lighten(@c-day-09, 48%);
	a {
		color: @c-day-09;
		border-color: fade(@c-day-09, 20%);
		&:hover {
			color: darken(@c-day-09, 10%);
			border-color: fade(darken(@c-day-09, 10%), 33%);
		}
	}
}
.article.day-10 {
	background-color: lighten(@c-day-10, 48%);
	a {
		color: @c-day-10;
		border-color: fade(@c-day-10, 20%);
		&:hover {
			color: darken(@c-day-10, 10%);
			border-color: fade(darken(@c-day-10, 10%), 33%);
		}
	}
}
.article.day-11 {
	background-color: lighten(@c-day-11, 48%);
	a {
		color: @c-day-11;
		border-color: fade(@c-day-11, 20%);
		&:hover {
			color: darken(@c-day-11, 10%);
			border-color: fade(darken(@c-day-11, 10%), 33%);
		}
	}
}
.article.day-12 {
	background-color: lighten(@c-day-12, 48%);
	a {
		color: @c-day-12;
		border-color: fade(@c-day-12, 20%);
		&:hover {
			color: darken(@c-day-12, 10%);
			border-color: fade(darken(@c-day-12, 10%), 33%);
		}
	}
}
.article.day-13 {
	background-color: lighten(@c-day-13, 48%);
	a {
		color: @c-day-13;
		border-color: fade(@c-day-13, 20%);
		&:hover {
			color: darken(@c-day-13, 10%);
			border-color: fade(darken(@c-day-13, 10%), 33%);
		}
	}
}
.article.day-14 {
	background-color: lighten(@c-day-14, 48%);
	a {
		color: @c-day-14;
		border-color: fade(@c-day-14, 20%);
		&:hover {
			color: darken(@c-day-14, 10%);
			border-color: fade(darken(@c-day-14, 10%), 33%);
		}
	}
}
.article.day-15 {
	background-color: lighten(@c-day-15, 48%);
	a {
		color: @c-day-15;
		border-color: fade(@c-day-15, 20%);
		&:hover {
			color: darken(@c-day-15, 10%);
			border-color: fade(darken(@c-day-15, 10%), 33%);
		}
	}
}
.article.day-16 {
	background-color: lighten(@c-day-16, 48%);
	a {
		color: @c-day-16;
		border-color: fade(@c-day-16, 20%);
		&:hover {
			color: darken(@c-day-16, 10%);
			border-color: fade(darken(@c-day-16, 10%), 33%);
		}
	}
}
.article.day-17 {
	background-color: lighten(@c-day-17, 48%);
	a {
		color: @c-day-17;
		border-color: fade(@c-day-17, 20%);
		&:hover {
			color: darken(@c-day-17, 10%);
			border-color: fade(darken(@c-day-17, 10%), 33%);
		}
	}
}
.article.day-18 {
	background-color: lighten(@c-day-18, 48%);
	a {
		color: @c-day-18;
		border-color: fade(@c-day-18, 20%);
		&:hover {
			color: darken(@c-day-18, 10%);
			border-color: fade(darken(@c-day-18, 10%), 33%);
		}
	}
}
.article.day-19 {
	background-color: lighten(@c-day-19, 48%);
	a {
		color: @c-day-19;
		border-color: fade(@c-day-19, 20%);
		&:hover {
			color: darken(@c-day-19, 10%);
			border-color: fade(darken(@c-day-19, 10%), 33%);
		}
	}
}
.article.day-20 {
	background-color: lighten(@c-day-20, 48%);
	a {
		color: @c-day-20;
		border-color: fade(@c-day-20, 20%);
		&:hover {
			color: darken(@c-day-20, 10%);
			border-color: fade(darken(@c-day-20, 10%), 33%);
		}
	}
}
.article.day-21 {
	background-color: lighten(@c-day-21, 48%);
	a {
		color: @c-day-21;
		border-color: fade(@c-day-21, 20%);
		&:hover {
			color: darken(@c-day-21, 10%);
			border-color: fade(darken(@c-day-21, 10%), 33%);
		}
	}
}
.article.day-22 {
	background-color: lighten(@c-day-22, 48%);
	a {
		color: @c-day-22;
		border-color: fade(@c-day-22, 20%);
		&:hover {
			color: darken(@c-day-22, 10%);
			border-color: fade(darken(@c-day-22, 10%), 33%);
		}
	}
}
.article.day-23 {
	background-color: lighten(@c-day-23, 48%);
	a {
		color: @c-day-23;
		border-color: fade(@c-day-23, 20%);
		&:hover {
			color: darken(@c-day-23, 10%);
			border-color: fade(darken(@c-day-23, 10%), 33%);
		}
	}
}
.article.day-24 {
	background-color: lighten(@c-day-24, 48%);
	a {
		color: @c-day-24;
		border-color: fade(@c-day-24, 20%);
		&:hover {
			color: darken(@c-day-24, 10%);
			border-color: fade(darken(@c-day-24, 10%), 33%);
		}
	}
}


/* ==========================================================================
   Syntax highlighting
   ========================================================================== */
pre[class*="language-"] {
	text-align: left;
	direction: ltr;
	white-space: pre;
	word-spacing: normal;
	tab-size: 4;
	hyphens: none;
	padding: 1em;
	overflow: auto;
	code {
		background-color: transparent;
	}
}

.namespace {
	opacity: .7;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #a67f59;
	background: hsla(0,0%,100%,.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.regex,
.token.important {
	color: #e90;
}

.token.important {
	font-weight: bold;
}

.token.entity {
	cursor: help;
}