/* Heading */
.heading {
	//.antialiased();
	font-family: 'Merriweather', serif;
	font-size: 2rem; /* 32px */
	font-weight: 300;
	line-height: 1.125; /* 36px */
	letter-spacing: -0.0625rem; /* -1px */
	@media screen and (min-width: 40em) {
		font-size: 3rem; /* 48px */
		line-height: 1.1667; /* 56px */
	}
	@media screen and (min-width: 50em) {
		font-size: 3.5rem; /* 56px */
		line-height: 1.1429; /* 64px */
	}
}

/* Lede */
.lede {
	color: #333;
	//.antialiased();
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-size: 1.125em; /* 18px */
	line-height: 1.5556; /* 28px */
	letter-spacing: -0.0625rem; /* -1px */
	margin: 0.75em 0; /* 12px 0 */
	text-rendering: optimizeLegibility;
	@media screen and (min-width: 40em) {
		font-size: 1.25rem; /* 20px */
		line-height: 1.6; /* 32px */
		margin: 0.8em 0; /* 16px 0 */
	}
	strong {
		color: #333;
		letter-spacing: 0;
	}
}

/* Caption */
.caption {
	font-size: 0.75rem; /* 12px */
	font-weight: 400;
	line-height: 1.3334; /* 16px */
	@media screen and (min-width: 40em) {
		font-size: 0.8125rem; /* 13px */
		line-height: 1.2308; /* 16px */
	}

	strong,
	dt {
		color: #333;
	}
}