.promo {
  margin: 0.75rem 0;
  display: block;
}

.promo_image {
  height: auto;
  max-width: 100%;
  display: inline-block;
}

.promo_message {
  color: #444;
  margin: 0.25rem 0;
}

.promo_url {
  @include caption();
  margin: 0.25rem 0;
}
