.c-field {
  @include typeset(label, 2);
  position: relative;

  &:not(:last-of-type) {
    margin-bottom: $space-medium;
  }

  @media print {
    display: none;
  }
}

.c-field__icon {
  height: 2.5rem;
  width: 2.5rem;
}

.c-field__input {
  width: 100%;
  border: 0;
  border-radius: 0;
  padding: $space-medium;
  box-shadow: inset 1px 1px 0 $prose-color--rule;

  &:focus {
    outline: 0 none;
    box-shadow: inset 0 0 0 2px $color-focus;
  }
}

.c-field__label {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: $size-xlarge;
  padding: $space-medium;
  font-weight: 700;

  + .c-field__input {
    padding-left: ($size-xlarge + $space-medium);
  }
}

.c-field__label--icon {
  padding: $space-small;

  + .c-field__input {
    padding-left: $size-large;
  }
}

.c-field--combined {
  display: flex;
}
