.c-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 50em) {
    flex-direction: row;
  }
}

.c-section__header {
  padding: $space-medium $space-large;

  @media screen and (min-width: 50em) {
    flex: 1 0 20%;
    padding-right: 0;
    box-shadow: 0 -1px 0 $prose-color--rule;
    text-align: right;
  }

  @media print {
    border-top: 2px solid black;
    padding-bottom: 0;
  }
}

.c-section__title {
  @include typeset(label, 2);
  text-transform: uppercase;
}

.c-section__main {
  margin-bottom: $space-large;
  padding: $space-medium $space-large;
  box-shadow: 0 -1px 0 $prose-color--rule;

  @media screen and (min-width: 50em) {
    flex: 1 0 75%;
    margin-left: 5%;
    padding-right: 5%;
    padding-left: 0;
  }

  @media screen and (min-width: 60em) {
    padding-right: 15%;
  }

  @media screen and (min-width: 80em) {
    padding-right: 25%;
  }
}

// Section - Sponsor
.c-article .c-section--sponsor {
  @media screen and (min-width: 50em) {
    flex-direction: column;
    position: absolute;
    top: 56rem;
    left: 0;
    width: 20%;
    padding: 0;

    .c-section__title {
      @include typeset(label, 2);
    }

    .c-section__main {
      padding-right: 0;
      box-shadow: none;
    }

    .c-promo {
      @include typeset(caption);
      text-align: right;
    }
  }
}

// Section - Topic
.c-section--topic {
  .c-section__main {
    display: flex;
    flex-direction: row;
  }

  svg {
    flex-shrink: 0;
    width: $size-xlarge;
    height: $size-xlarge;
    margin: $space-small $space-large 0 0;
  }
}

// Section - Related
.c-section--related {
  .c-section__main {
    padding-right: 0;
  }
}
