.c-meta {
  @include typeset(label, 1);
  display: flex;
  flex-flow: row wrap;
  margin-bottom: $space-medium;
  border-top: 1px solid $prose-color--rule;
  padding: $space-small 0 $space-large;

  @media screen and (min-width: 50em) {
    @include typeset(label, 2);
    flex-flow: column nowrap;
    border: 0;
    padding: 0;
  }
}

.c-meta__item {
  flex: 0 0 auto;

  @media screen and (max-width: 24.9375em) {
    .dt-published span {
      display: none;
    }
  }

  @media print, screen and (max-width: 49.9375em) {
    &:not(:last-child)::after {
      content: '•';
      margin: 0 $space-small;
      opacity: 0.5;
    }
  }

  @media screen and (min-width: 50em) {
    display: block;
    border-top: 1px solid $prose-color--rule;
    padding: $space-small 0 $space-large;
    text-align: right;
  }
}
