.c-site-nav {
  @media (--from-medium-screen) {
    margin-top: auto;
  }
}

.c-site-nav__items {
  display: flex;
  flex-direction: row;

  .has-js & {
    @media (--from-medium-screen) {
      flex-direction: column;
    }
  }
}

.c-site-nav__item {
  flex: 1 0 33.3334%;
}

.c-site-nav__label {
  @apply --focusable;
  @apply --navigation-link;
  @apply --typeset-label;

  display: block;
  box-shadow: 1px 0 0 $navigation-color--offset;
  padding: map(spaces, small);
  text-align: center;

  &:focus {
    position: relative; /* Fix border overlap on focus */
  }

  .no-js & {
    box-shadow: 1px 0 0 $navigation-color--offset;
  }

  @media (--from-shallow-screen) {
    padding: map(spaces, medium);
  }

  @media (--from-medium-screen) {
    box-shadow: 0 -1px 0 $navigation-color--offset;
    text-align: left;
  }

  @media (-ms-high-contrast: active) {
    border: 1px solid;
  }
}
