.year-2005 {
  h2 {
    color: darken($c-year-2005, 20%);
  }
  .article_main .lede {
    color: darken($c-year-2005, 30%);
  }
  .preface {
    background-color: darken($c-year-2005, 25%);
  }
  .banner {
    background-color: darken($c-year-2005, 30%);
  }
  .nav-traverse {
    .nav_item.nav_prev,
    .nav_item.nav_next {
      &::after {
        background-color: rgba(darken($c-year-2005, 30%), 75%);
      }
    }
  }
}

.year-2006 {
  h2 {
    color: darken($c-year-2006, 20%);
  }
  .article_main .lede {
    color: darken($c-year-2006, 30%);
  }
  .preface {
    background-color: darken($c-year-2006, 25%);
  }
  .banner {
    background-color: darken($c-year-2006, 30%);
  }
  .nav-traverse {
    .nav_item.nav_prev,
    .nav_item.nav_next {
      &::after {
        background-color: rgba(darken($c-year-2006, 30%), 75%);
      }
    }
  }
}

.year-2007 {
  h2 {
    color: darken($c-year-2007, 20%);
  }
  .article_main .lede {
    color: darken($c-year-2007, 30%);
  }
  .preface {
    background-color: darken($c-year-2007, 25%);
  }
  .banner {
    background-color: darken($c-year-2007, 30%);
  }
  .nav-traverse {
    .nav_item.nav_prev,
    .nav_item.nav_next {
      &::after {
        background-color: rgba(darken($c-year-2007, 30%), 75%);
      }
    }
  }
}

.year-2008 {
  h2 {
    color: darken($c-year-2008, 20%);
  }
  .article_main .lede {
    color: darken($c-year-2008, 30%);
  }
  .preface {
    background-color: darken($c-year-2008, 25%);
  }
  .banner {
    background-color: darken($c-year-2008, 30%);
  }
  .nav-traverse {
    .nav_item.nav_prev,
    .nav_item.nav_next {
      &::after {
        background-color: rgba(darken($c-year-2008, 30%), 75%);
      }
    }
  }
}

.year-2009 {
  h2 {
    color: darken($c-year-2009, 20%);
  }
  .article_main .lede {
    color: darken($c-year-2009, 30%);
  }
  .preface {
    background-color: darken($c-year-2009, 25%);
  }
  .banner {
    background-color: darken($c-year-2009, 30%);
  }
  .nav-traverse {
    .nav_item.nav_prev,
    .nav_item.nav_next {
      &::after {
        background-color: rgba(darken($c-year-2009, 30%), 75%);
      }
    }
  }
}

.year-2010 {
  h2 {
    color: darken($c-year-2010, 20%);
  }
  .article_main .lede {
    color: darken($c-year-2010, 30%);
  }
  .preface {
    background-color: darken($c-year-2010, 25%);
  }
  .banner {
    background-color: darken($c-year-2010, 30%);
  }
  .nav-traverse {
    .nav_item.nav_prev,
    .nav_item.nav_next {
      &::after {
        background-color: rgba(darken($c-year-2010, 30%), 75%);
      }
    }
  }
}

.year-2011 {
  h2 {
    color: darken($c-year-2011, 20%);
  }
  .article_main .lede {
    color: darken($c-year-2011, 30%);
  }
  .preface {
    background-color: darken($c-year-2011, 25%);
  }
  .banner {
    background-color: darken($c-year-2011, 30%);
  }
  .nav-traverse {
    .nav_item.nav_prev,
    .nav_item.nav_next {
      &::after {
        background-color: rgba(darken($c-year-2011, 30%), 75%);
      }
    }
  }
}

.year-2012 {
  h2 {
    color: darken($c-year-2012, 20%);
  }
  .article_main .lede {
    color: darken($c-year-2012, 30%);
  }
  .preface {
    background-color: darken($c-year-2012, 25%);
  }
  .banner {
    background-color: darken($c-year-2012, 30%);
  }
  .nav-traverse {
    .nav_item.nav_prev,
    .nav_item.nav_next {
      &::after {
        background-color: rgba(darken($c-year-2012, 30%), 75%);
      }
    }
  }
}

.year-2013 {
  h2 {
    color: darken($c-year-2013, 20%);
  }
  .article_main .lede {
    color: darken($c-year-2013, 30%);
  }
  .preface {
    background-color: darken($c-year-2013, 25%);
  }
  .banner {
    background-color: darken($c-year-2013, 30%);
  }
  .nav-traverse {
    .nav_item.nav_prev,
    .nav_item.nav_next {
      &::after {
        background-color: rgba(darken($c-year-2013, 30%), 75%);
      }
    }
  }
}

.year-2014 {
  h2 {
    color: darken($c-year-2014, 20%);
  }
.article_main .lede {
    color: darken($c-year-2014, 30%);
  }
  .preface {
    background-color: darken($c-year-2014, 25%);
  }
  .banner {
    background-color: darken($c-year-2014, 30%);
  }
  .nav-traverse {
    .nav_item.nav_prev,
    .nav_item.nav_next {
      &::after {
        background-color: rgba(darken($c-year-2014, 30%), 75%);
      }
    }
  }
}

.year-2015 {
  h2 {
    color: darken($c-year-2015, 20%);
  }
.article_main .lede {
    color: darken($c-year-2015, 30%);
  }
  .preface {
    background-color: darken($c-year-2015, 25%);
  }
  .banner {
    background-color: darken($c-year-2015, 30%);
  }
  .nav-traverse {
    .nav_item.nav_prev,
    .nav_item.nav_next {
      &::after {
        background-color: rgba(darken($c-year-2015, 30%), 75%);
      }
    }
  }
}

.year-2016 {
  h2 {
    color: darken($c-year-2016, 20%);
  }
.article_main .lede {
    color: darken($c-year-2016, 30%);
  }
  .preface {
    background-color: darken($c-year-2016, 25%);
  }
  .banner {
    background-color: darken($c-year-2016, 30%);
  }
  .nav-traverse {
    .nav_item.nav_prev,
    .nav_item.nav_next {
      &::after {
        background-color: rgba(darken($c-year-2016, 30%), 75%);
      }
    }
  }
}

.year-2017 {
  h2 {
    color: darken($c-year-2017, 20%);
  }
.article_main .lede {
    color: darken($c-year-2017, 30%);
  }
  .preface {
    background-color: darken($c-year-2017, 25%);
  }
  .banner {
    background-color: darken($c-year-2017, 30%);
  }
  .nav-traverse {
    .nav_item.nav_prev,
    .nav_item.nav_next {
      &::after {
        background-color: rgba(darken($c-year-2017, 30%), 75%);
      }
    }
  }
}

.year-2018 {
  h2 {
    color: darken($c-year-2018, 20%);
  }
.article_main .lede {
    color: darken($c-year-2018, 30%);
  }
  .preface {
    background-color: darken($c-year-2018, 25%);
  }
  .banner {
    background-color: darken($c-year-2018, 30%);
  }
  .nav-traverse {
    .nav_item.nav_prev,
    .nav_item.nav_next {
      &::after {
        background-color: rgba(darken($c-year-2018, 30%), 75%);
      }
    }
  }
}

.year-2019 {
  h2 {
    color: darken($c-year-2019, 20%);
  }
.article_main .lede {
    color: darken($c-year-2019, 30%);
  }
  .preface {
    background-color: darken($c-year-2019, 25%);
  }
  .banner {
    background-color: darken($c-year-2019, 30%);
  }
  .nav-traverse {
    .nav_item.nav_prev,
    .nav_item.nav_next {
      &::after {
        background-color: rgba(darken($c-year-2019, 30%), 75%);
      }
    }
  }
}

.year-2020 {
  h2 {
    color: darken($c-year-2020, 20%);
  }
.article_main .lede {
    color: darken($c-year-2020, 30%);
  }
  .preface {
    background-color: darken($c-year-2020, 25%);
  }
  .banner {
    background-color: darken($c-year-2020, 30%);
  }
  .nav-traverse {
    .nav_item.nav_prev,
    .nav_item.nav_next {
      &::after {
        background-color: rgba(darken($c-year-2020, 30%), 75%);
      }
    }
  }
}
