@import url("http://fonts.googleapis.com/css?family=Inconsolata|Lato:400,400italic,700|Merriweather:400");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bb-swatch.year-2005 {
  background-color: #cc1133;
}
.bb-swatch.year-2006 {
  background-color: #cc113f;
}
.bb-swatch.year-2007 {
  background-color: #cc114c;
}
.bb-swatch.year-2008 {
  background-color: #cc1158;
}
.bb-swatch.year-2009 {
  background-color: #cc1165;
}
.bb-swatch.year-2010 {
  background-color: #cc1171;
}
.bb-swatch.year-2011 {
  background-color: #cc117e;
}
.bb-swatch.year-2012 {
  background-color: #cc118a;
}
.bb-swatch.year-2013 {
  background-color: #cc1197;
}
.bb-swatch.year-2014 {
  background-color: #cc11a3;
}
.bb-swatch.year-2015 {
  background-color: #cc11b0;
}
.bb-swatch.year-2016 {
  background-color: #cc11bc;
}
.bb-swatch.year-2017 {
  background-color: #cc11c9;
}
.bb-swatch.year-2018 {
  background-color: #c311cc;
}
.bb-swatch.year-2019 {
  background-color: #b611cc;
}
.bb-swatch.year-2020 {
  background-color: #aa11cc;
}
.hidden {
  clip: rect(0 0 0 0);
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}
.clear::before,
.clear::after {
  content: " ";
  display: table;
}
.clear::after {
  clear: both;
}
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-font {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: icons;
  font-weight: normal;
  line-height: 1;
}
.avatar {
  display: block;
  overflow: hidden;
  -webkit-transform: rotate(45deg);
  -webkit-transform-origin: 50% 50%;
}
.avatar img {
  margin: -25%;
  width: 150%;
  height: auto;
  -webkit-transform: rotate(-45deg);
}
@font-face {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  src: url("fonts/icons.ttf") format('truetype');
}
[data-icon]::before {
  content: attr(data-icon);
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: icons;
  font-weight: normal;
  line-height: 1;
}
html {
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  position: relative;
}
body {
  color: #494949;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
  background-color: #fff;
  margin: 0;
  height: 100%;
}
@media screen and (max-width: 31.4375em) {
  body {
    margin-top: 3em;
  }
}
.js-enhanced body {
  background-color: #e3e3e3;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
h1 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.125;
  letter-spacing: -0.0625em;
  text-rendering: optimizeLegibility;
  margin: 1.5em 0 0.5em;
}
h2 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.05em;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  margin: 3rem 0 0.5em;
}
h3 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.3125em;
  font-weight: 400;
  line-height: 1.1429;
  text-rendering: optimizeLegibility;
  margin: 1.5rem 0 0.5em;
}
h4 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1.3334;
  text-rendering: optimizeLegibility;
  margin: 1.5rem 0 0.5em;
}
h5 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  line-height: 1;
  text-rendering: optimizeLegibility;
  margin: 1.5rem 0 0.5em;
}
h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.875rem;
  line-height: 1.1429;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  margin: 1.5rem 0 0.5em;
}
hr {
  font-size: 2rem;
  line-height: 0;
  text-align: center;
  margin: 2rem 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: 0;
  height: 0;
}
hr::after {
  content: "···";
  letter-spacing: 0.75rem;
  height: 0;
}
p,
pre,
blockquote,
ul,
ol,
dl,
figure,
table,
fieldset,
details {
  margin: 0.75rem 0;
}
pre {
  line-height: 1.25;
  white-space: pre;
  tab-size: 4;
  hyphens: none;
  padding: 1em;
  margin: 1em -1em;
  overflow: auto;
}
blockquote {
  border-left: 0.25em solid #ccc;
  padding-left: 0.75rem;
  margin-left: -1em;
}
blockquote p {
  line-height: 1.5;
  margin: 0.5rem 0;
}
ol {
  list-style-position: inside;
  list-style-type: decimal;
  margin: 1rem 0;
  padding: 0;
}
ul {
  list-style-position: inside;
  list-style-type: square;
  margin: 1rem 0;
  padding: 0;
}
@media screen and (min-width: 50em) {
  ol,
  ul {
    list-style-position: outside;
  }
}
ul li li {
  list-style-type: circle;
}
nav ul {
  list-style-type: none;
  margin: 0;
}
dt {
  font-weight: 700;
}
li li,
dd {
  margin-left: 2rem;
}
li > *,
dd > * {
  margin-top: 0;
}
figure {
  margin: 1rem 0;
}
figure img {
  max-width: 100%;
}
figcaption {
  color: #666;
  font-size: 0.875rem;
  line-height: 1.1429;
}
blockquote + figcaption: before {
  content: "\2014";
}
b,
strong {
  font-weight: 700;
}
small {
  font-size: 80%;
}
:lang(en-gb)>q {
  quotes: "\2018" "\2019" "\201c" "\201d";
}
dfn {
  font-style: italic;
}
abbr {
  -webkit-font-feature-settings: "c2sc" 1;
  -moz-font-feature-settings: "c2sc" 1;
  -ms-font-feature-settings: "c2sc" 1;
  -o-font-feature-settings: "c2sc" 1;
  font-feature-settings: "c2sc" 1;
  letter-spacing: 1px;
}
abbr[title] {
  border-bottom: 1px dotted #ccc;
  cursor: help;
}
code,
kbd,
pre,
samp {
  color: #666;
  font-family: 'Inconsolata', Consolas, Monaco, monospace, serif;
  font-size: 1em;
  background-color: #fcfcfc;
  border-radius: 0.25rem;
  padding: 0.125rem 0.25rem;
}
kbd {
  font-family: inherit;
  font-size: 0.875em;
  line-height: 1.1429;
  background-color: #eee;
  margin: 0 0.25rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  box-shadow: inset 0 1px 0 #fff;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
mark {
  background: #ffc;
}
mark,
ins {
  background-color: #ffc;
  padding: 0 0.125rem;
}
ins {
  background-color: #e9e9e9;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
video {
  max-width: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption {
  color: #666;
  caption-side: bottom;
  font-size: 0.875rem;
  line-height: 1.1429;
  text-align: left;
  margin: 1rem 0;
}
td,
th {
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  padding: 0.25rem 2rem 0.25rem 0;
}
abbr[title="Required"] {
  color: #c33;
  border: 0;
}
fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}
legend {
  border: 0;
  padding: 0;
}
label {
  display: block;
  font-weight: 700;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border-radius: 0;
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  border-radius: 0;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
::-webkit-input-placeholder {
  color: #999;
}
:focus::-webkit-input-placeholder {
  color: #ccc;
}
:-moz-placeholder {
  color: #999;
}
:focus:-moz-placeholder {
  color: #ccc;
}
:-ms-input-placeholder {
  color: #999;
}
:focus:-ms-input-placeholder {
  color: #ccc;
}
summary {
  outline: 0;
  cursor: pointer;
}
a {
  color: #17d;
  text-decoration: none;
  -moz-text-decoration-color: rgba(17,119,221,0.33);
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  color: #0d5dae;
  -moz-text-decoration-color: rgba(13,93,174,0.33);
  outline: 0;
}
a:active {
  color: #3291ef;
  -moz-text-decoration-color: rgba(119,17,170,0.33);
  transition: none;
}
button[disabled],
input[disabled] {
  cursor: default;
}
.alert {
  background-color: #fff9d9;
  border-left: 0.25em solid #ed8;
  border-radius: 0 0.25em 0.25em 0;
  margin: 0;
  padding: 1em 1em 0.75em;
}
.alert li {
  list-style-position: inside;
}
.alert *:last-child {
  margin-bottom: 0;
}
.alert_title {
  font-size: 16px;
  font-size: 1rem;
  margin: 0;
}
.alert-success {
  background-color: #f0f6e9;
  border-left-color: #b3d98c;
}
.alert-failure {
  background-color: #fcecec;
  border-left-color: #dd6969;
}
.preface {
  color: #222;
  min-height: 12rem;
  background-color: grey;
  padding: 1rem;
  overflow: hidden;
}
@media screen and (min-width: 50em) {
  .preface {
    padding-left: 25%;
  }
}
.preface a {
  color: white;
}
.preface_title {
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Merriweather', serif;
  font-size: 32px;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.125;
  letter-spacing: -0.041666667em;
  position: relative;
}
@media screen and (min-width: 40em) {
  .preface_title {
    font-size: 48px;
    font-size: 3rem;
    line-height: 1.1667;
  }
}
.preface_title::before {
  float: left;
  margin-right: 0.25em;
}
@media screen and (min-width: 50em) {
  .preface_title {
    margin-left: 1rem;
  }
  .preface_title::before {
    font-size: 2em;
    position: absolute;
    left: -1.25em;
    top: 0;
  }
}
@media screen and (min-width: 50em) {
  .preface_main {
    margin-left: 1rem;
  }
}
@media screen and (max-width: 49.9375em) {
  .preface_main .avatar {
    width: 25%;
    float: right;
    margin: 0.5rem -0.5rem 1.5rem 2rem;
  }
}
@media screen and (min-width: 50em) {
  .preface_main .avatar {
    width: 20%;
    max-width: 16rem;
    position: absolute;
    top: 6rem;
    left: 0;
  }
}
.section {
  margin: 2rem 0 0 0;
  padding-bottom: 2rem;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 50em) {
  .section {
    padding-left: 1rem;
  }
}
.section_header {
  border-top: 1px solid #ddd;
  padding: 1.5rem 0 1.5rem 1rem;
  width: 100%;
}
@media screen and (min-width: 50em) {
  .section_header {
    text-align: right;
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.section_title {
  font-size: 1rem;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.0625em;
  margin: 0;
  display: block;
}
.section_main {
  border-top: 1px solid #ddd;
  padding-top: 0.5rem;
  padding: 0.5rem 1rem;
}
@media screen and (min-width: 50em) {
  .section_main {
    margin-left: 25%;
    padding-right: 5%;
    padding-left: 0;
    width: 75%;
  }
}
@media screen and (min-width: 60em) {
  .section_main {
    padding-right: 15%;
  }
}
.section_main .list-articles,
.section_main .list-authors {
  margin: -0.5rem -1rem;
}
@media screen and (min-width: 50em) {
  .section_main .list-articles,
  .section_main .list-authors {
    margin: -0.5rem 0 0 0;
  }
}
.section_main [data-icon] {
  padding-left: 5.5rem;
  position: relative;
}
.section_main [data-icon]::before {
  font-size: 4em;
  position: absolute;
  left: 0rem;
  top: 0;
  margin: 0.25rem;
}
.section_meta {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.3334;
}
@media screen and (min-width: 40em) {
  .section_meta {
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 1.2308;
  }
}
.section_meta strong,
.section_meta dt {
  color: #333;
}
.section_image {
  margin-right: 1rem;
  float: left;
}
@media screen and (min-width: 50em) {
  .article {
    margin-top: -1px;
    padding: 9rem 0 2rem;
  }
}
.article_header {
  margin-bottom: 2rem;
  padding: 0 1rem;
  position: relative;
}
.article_header::before,
.article_header::after {
  content: " ";
  display: table;
}
.article_header::after {
  clear: both;
}
@media screen and (min-width: 50em) {
  .article_header {
    border-top: 1px solid #ccc;
    padding-left: 25%;
    padding-right: 5%;
    min-height: 16rem;
  }
}
@media screen and (min-width: 60em) {
  .article_header {
    padding-right: 15%;
  }
}
.article_title {
  color: #222;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Merriweather', serif;
  font-size: 32px;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.125;
  letter-spacing: -0.041666667em;
  margin: 1rem 0 0.5rem;
}
@media screen and (min-width: 40em) {
  .article_title {
    font-size: 48px;
    font-size: 3rem;
    line-height: 1.1667;
  }
}
@media screen and (min-width: 50em) {
  .article_title {
    padding-left: 1rem;
  }
}
@media screen and (max-width: 49.9375em) {
  .article_byline {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 50em) {
  .article_byline {
    padding-left: 1rem;
  }
}
@media screen and (max-width: 49.9375em) {
  .article_byline .avatar {
    margin-right: 0.75rem;
    width: 1.75rem;
    height: 1.75rem;
    float: left;
  }
}
@media screen and (min-width: 50em) {
  .article_byline .avatar {
    width: 20%;
    max-width: 16rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    display: block;
  }
}
.article_main {
  padding: 0 1rem;
}
@media screen and (min-width: 50em) {
  .article_main {
    margin-left: 25%;
    padding-right: 5%;
    width: 75%;
  }
}
@media screen and (min-width: 60em) {
  .article_main {
    padding-right: 15%;
  }
}
@media screen and (min-width: 40em) {
  .article_main p,
  .article_main li {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.6;
  }
}
@media screen and (min-width: 50em) {
  .article_footer {
    width: 20%;
    float: left;
  }
}
@media screen and (max-width: 49.9375em) {
  .article_footer .list {
    margin: 1rem;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 0.5rem 0;
  }
}
.article_footer .list_item {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.3334;
}
@media screen and (min-width: 40em) {
  .article_footer .list_item {
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 1.2308;
  }
}
.article_footer .list_item strong,
.article_footer .list_item dt {
  color: #333;
}
@media screen and (max-width: 49.9375em) {
  .article_footer .list_item {
    line-height: 2;
    margin-right: -0.25rem;
    display: inline;
  }
  .article_footer .list_item::after {
    content: "•";
    margin: 0 0.5rem;
  }
  .article_footer .list_item:last-child::after {
    content: none;
  }
}
@media screen and (min-width: 50em) {
  .article_footer .list_item {
    text-align: right;
    border-top: 1px solid #ccc;
    padding: 0.4375rem 0 1.5rem 0;
    display: block;
  }
}
.summary {
  background-color: white;
  padding: 1em;
  position: relative;
}
.summary_title {
  font-family: 'Merriweather', serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.25;
  margin: 0;
}
@media screen and (min-width: 40em) {
  .summary_title {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.2;
  }
}
.summary_title .avatar {
  width: 1.75rem;
  height: 1.75rem;
}
@media screen and (min-width: 40em) {
  .summary_title .avatar {
    width: 3rem;
    height: 3rem;
  }
}
.summary_main {
  font-size: 0.875em;
  line-height: 1.4286;
}
@media screen and (min-width: 40em) {
  .summary_main {
    font-size: 16px;
    font-size: 1em;
    line-height: 1.5;
  }
}
.summary_main a {
  color: inherit;
  font-weight: 700;
}
.summary_meta,
.summary_vote {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.3334;
}
@media screen and (min-width: 40em) {
  .summary_meta,
  .summary_vote {
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 1.2308;
  }
}
.summary_meta strong,
.summary_meta dt,
.summary_vote strong,
.summary_vote dt {
  color: #333;
}
.summary_meta a,
.summary_vote a {
  color: grey;
}
.summary-comment {
  margin: 0.5em 0;
  padding-left: 2.5rem;
}
@media screen and (min-width: 40em) {
  .summary-comment {
    padding-left: 5.5rem;
  }
}
.summary-comment .avatar {
  position: absolute;
  top: 0.6667em;
  left: 0;
}
@media screen and (min-width: 40em) {
  .summary-comment .avatar {
    left: 0.6667em;
  }
}
.summary-comment .summary_meta {
  position: absolute;
  top: 1em;
  right: 1em;
}
@media screen and (min-width: 40em) {
  .summary-article {
    min-height: 20em;
  }
}
.summary-article .summary_author {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.summary-article .summary_author::before {
  content: " ";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  border: 2.25em solid;
  border-color: rgba(0,0,0,0.02) rgba(0,0,0,0.02) transparent transparent;
}
.summary-article .summary_author img {
  width: 4.5em;
  height: 4.5em;
  display: none;
}
.summary-article:hover .summary_author::before {
  border-color: transparent transparent lightgrey lightgrey;
}
.summary-article:hover .summary_author img {
  display: block;
}
.summary-article .summary_header {
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 40em) {
  .summary-article .summary_header {
    min-height: 6.5em;
  }
}
.summary-author {
  background-color: #eee;
  padding: 0;
  position: relative;
  display: block;
}
.summary-author .summary_meta {
  color: #fff;
  background-color: #000;
  padding: 0.25rem 0.5rem;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.summary-author .u-photo {
  height: auto;
  width: 100%;
  display: block;
}
.summary-topic {
  background-color: #eee;
  min-height: 22em;
}
.list-comments .list_item {
  padding: 1px 1px 0 0;
}
.list-authors .list_item {
  padding: 1px 1px 0 0;
  width: 33.3334%;
  float: left;
}
@media screen and (min-width: 60em) {
  .list-authors .list_item {
    width: 25%;
  }
}
@media screen and (min-width: 80em) {
  .list-authors .list_item {
    width: 20%;
  }
}
.list-articles .list_item {
  padding: 1px 1px 0 0;
}
@media screen and (min-width: 40em) {
  .list-articles .list_item {
    width: 50%;
    float: left;
  }
}
@media screen and (min-width: 50em) {
  .list-articles .list_item {
    width: 33.3334%;
  }
}
@media screen and (min-width: 60em) {
  .list-articles .list_item {
    width: 25%;
  }
}
@media screen and (min-width: 50em) {
  .section .list-articles,
  .section .list-authors {
    margin-right: -7%;
  }
}
@media screen and (min-width: 60em) {
  .section .list-articles,
  .section .list-authors {
    margin-right: -25%;
  }
}
@media screen and (min-width: 50em) {
  .section .list-articles .list_item {
    width: 50%;
  }
}
@media screen and (min-width: 60em) {
  .section .list-articles .list_item {
    width: 33.3334%;
  }
}
.input {
  border: 0 none;
  padding: 1em 0.5em;
}
input[type="text"] {
  height: 3rem;
}
.button {
  color: #fff;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  background-color: #333;
  border: 0 none;
  padding: 1em 1.5em;
}
.button-more {
  width: 100%;
  display: block;
}
.field {
  margin: 0.75rem 0;
  position: relative;
}
.field_label {
  line-height: 1;
  padding: 1em 0.5em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 5em;
}
.field_input {
  padding-left: 6em;
  width: 100%;
}
.select legend {
  font-weight: 700;
}
.select label {
  font-weight: 400;
}
.search {
  position: relative;
}
.search_label {
  font: 0/0 a;
}
.search_label::before {
  color: lightgrey;
  content: "\e60a";
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: icons;
  font-weight: normal;
  line-height: 1;
  font-size: 48px;
  font-size: 3rem;
  line-height: 1;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
}
.search_input {
  padding-left: 3rem;
  width: 100%;
}
.search_button {
  position: absolute;
  top: 0;
  right: 0;
}
.list {
  list-style-type: none;
  margin: 0;
}
.list::before,
.list::after {
  content: " ";
  display: table;
}
.list::after {
  clear: both;
}
.list-metadata dt {
  border-bottom: thin solid transparent;
  padding-top: 0.5em;
}
.list-metadata dd {
  margin-left: 0;
  border-bottom: thin solid lightgrey;
  padding-bottom: 0.5em;
}
@media screen and (min-width: 40em) {
  .list-metadata dt {
    padding: 0.5em 0;
    width: 25%;
    float: left;
    clear: left;
    display: block;
  }
  .list-metadata dd {
    margin-left: -25%;
    padding: 0.5em 0 0.5em 25%;
    width: 75%;
    float: right;
  }
}
.list-stats .list_item {
  margin: 0 0.75em 0 0;
  padding: 0 0.75em 0 0;
  border-right: thin solid lightgrey;
  float: left;
}
.list-stats .list_item:last-child {
  margin: 0;
  padding: 0;
  border: none;
}
.list-stats a {
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125em;
  line-height: 1.3334;
  border: 0 none;
  display: block;
  float: left;
}
.list-stats span {
  display: block;
}
.list-stats a:hover span {
  color: inherit;
}
.list-tags .list_item {
  list-style: none;
  margin: 0 0.3334em 0 0;
  display: inline;
  white-space: nowrap;
}
.list-tags [data-rank="6"] {
  font-size: 1.2500em;
  line-height: 1.0000;
}
.list-tags [data-rank="5"] {
  font-size: 1.1250em;
  line-height: 1.1111;
}
.list-tags [data-rank="4"] {
  font-size: 1.0000em;
  line-height: 1.2500;
}
.list-tags [data-rank="3"] {
  font-size: 0.8750em;
  line-height: 1.4286;
}
.list-tags [data-rank="2"] {
  font-size: 0.7500em;
  line-height: 1.6667;
}
.list-tags [data-rank="1"] {
  font-size: 0.6875em;
  line-height: 1.8181;
}
.circular {
  border-radius: 100%;
}
.framed {
  box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
  border: thin solid silver;
  padding: 0.25em;
  display: inline-block;
}
.framed.circular img {
  border-radius: 100%;
  display: block;
}
.nav .nav_item a:hover {
  background-color: whitesmoke;
}
.nav-traverse {
  margin: 0;
  overflow: hidden;
  transition: right .2s ease-out;
}
@media screen and (max-width: 31.4375em) {
  .nav-traverse {
    border-top: 1px solid whitesmoke;
  }
}
@media screen and (min-width: 31.5em) {
  .nav-traverse {
    position: fixed;
    right: 0;
    top: 72px;
    top: 4.5rem;
    z-index: 999;
  }
}
.nav-traverse .nav_item {
  display: block;
}
@media screen and (max-width: 31.4375em) {
  .nav-traverse .nav_item {
    padding: 1rem 0.5rem;
    width: 50%;
    float: left;
  }
}
@media screen and (min-width: 31.5em) {
  .nav-traverse .nav_item {
    text-align: center;
    border-bottom: 1px solid whitesmoke;
    height: 72px;
    height: 4.5rem;
    width: 72px;
    width: 4.5rem;
  }
}
@media screen and (min-width: 31.5em) {
  .nav-traverse .nav_prev,
  .nav-traverse .nav_next {
    font: 0/0 a;
  }
}
@media screen and (min-width: 31.5em) {
  .nav-traverse .nav_prev::before,
  .nav-traverse .nav_next::before {
    font-size: 48px;
    font-size: 3rem;
    line-height: 1.5;
    display: block;
  }
}
@media screen and (max-width: 31.4375em) {
  .nav-traverse .nav_next {
    text-align: right;
  }
}
.js-menu-active .nav-traverse {
  right: 288px;
  right: 18rem;
}
.nav-top {
  font: 0/0 a;
  text-align: center;
  margin: 0;
  border-top: 1px solid whitesmoke;
  padding: 0;
  height: 72px;
  height: 4.5rem;
  width: 72px;
  width: 4.5rem;
  position: fixed;
  right: 0;
  bottom: 8rem;
  z-index: 9;
  overflow: hidden;
}
.nav-top::before {
  font-size: 48px;
  font-size: 3rem;
  line-height: 1;
  padding: 0.75rem;
  display: block;
}
@media screen and (min-width: 31.5em) {
  .js-menu-active .nav-top {
    right: 288px;
    right: 18rem;
  }
}
.nav-page {
  text-align: center;
}
.nav-page .is-active a {
  background-color: white;
  margin-left: -1px;
  border: thin solid lightgrey;
  box-shadow: 2px 2px rgba(0,0,0,0.05);
  position: relative;
  z-index: 1;
}
.nav-h {
  border-bottom: thin solid lightgrey;
  padding: 0;
}
.nav-h .is-active a {
  background-color: white;
  margin-bottom: -1px;
  margin-left: -1px;
  border: thin solid lightgrey;
  border-bottom-color: white;
  box-shadow: 2px 0 rgba(0,0,0,0.05);
  position: relative;
  z-index: 1;
}
.nav-h .is-active a:hover {
  background-color: white;
}
.nav-v {
  border-top: 1px solid lightgrey;
}
.nav-v .nav_item {
  margin: 0;
  display: block;
}
.nav-v .nav_item a {
  border-right: 0;
  border-bottom: 1px solid lightgrey;
  display: block;
}
.nav-v .is-active a {
  background-color: white;
  margin-top: -1px;
  border: thin solid lightgrey;
  box-shadow: 2px 2px rgba(0,0,0,0.05);
  position: relative;
  z-index: 1;
}
.nav-v .is-active a:hover {
  background-color: white;
}
.nav-v .is-active a::after {
  content: "\25B6";
  color: grey;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 2;
  position: absolute;
  right: 1em;
}
.nav-breadcrumb {
  color: grey;
}
.nav-breadcrumb .nav_item {
  margin: 0 0.25em;
}
.nav-breadcrumb .is-active {
  font-weight: normal;
}
.banner {
  text-transform: uppercase;
  background-color: lightgrey;
  padding: 14px 16px;
  padding: 0.875rem 1rem;
  height: 48px;
  height: 3rem;
}
@media screen and (max-width: 31.4375em) {
  .banner {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
  }
}
@media screen and (min-width: 31.5em) {
  .banner {
    margin-right: 72px;
    margin-right: 4.5rem;
    padding: 1.5rem 1rem;
    height: 72px;
    height: 4.5rem;
  }
}
@media screen and (min-width: 50em) {
  .banner {
    padding-left: 25%;
  }
}
.banner_logo {
  font-size: 1.25em;
  line-height: 1;
  letter-spacing: 0;
  margin: 0;
}
@media screen and (min-width: 31.5em) {
  .banner_logo {
    font-size: 1.5em;
  }
}
.banner_logo span {
  font-size: 0.6667em;
  text-transform: lowercase;
  opacity: 0.6;
}
.menu {
  font: 0/0 a;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  overflow: hidden;
}
@media screen and (min-width: 31.5em) {
  .menu {
    border-bottom: 1px solid whitesmoke;
    height: 72px;
    height: 4.5rem;
    width: 72px;
    width: 4.5rem;
  }
}
.menu::before {
  font-size: 48px;
  font-size: 3rem;
  display: block;
}
@media screen and (min-width: 31.5em) {
  .menu::before {
    line-height: 1.5;
  }
}
.js-enhanced .menu {
  position: fixed;
  transition: right .2s ease-out;
}
@media screen and (min-width: 31.5em) {
  .js-menu-active .menu {
    right: 288px;
    right: 18rem;
  }
}
[role="main"] {
  background-color: #f3f3f3;
}
@media screen and (min-width: 31.5em) {
  [role="main"] {
    margin-right: 72px;
    margin-right: 4.5rem;
  }
}
.js-enhanced [role="banner"],
.js-enhanced [role="main"],
.js-enhanced [role="contentinfo"] {
  transition: all .2s ease-in;
}
.js-menu-active [role="banner"],
.js-menu-active [role="main"],
.js-menu-active [role="contentinfo"] {
  -webkit-filter: brightness(0.75);
}
.navigation {
  transition: right .2s ease-out;
  right: 0;
  z-index: 99;
}
@media screen and (min-width: 31.5em) {
  .navigation {
    margin-right: 72px;
    margin-right: 4.5rem;
  }
}
.navigation a {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.3334;
  text-transform: uppercase;
  display: block;
}
@media screen and (min-width: 40em) {
  .navigation a {
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 1.2308;
  }
}
.navigation a strong,
.navigation a dt {
  color: #333;
}
.navigation a:hover {
  background-color: whitesmoke;
}
@media screen and (min-width: 31.5em) {
  .js-enhanced .navigation {
    background-color: #fff;
    margin: 0;
    padding: 4.5rem 0 0 4.5rem;
    width: 22.5em;
    position: fixed;
    top: 72px;
    top: 4.5rem;
    top: 0;
    right: -18em;
    bottom: 0;
  }
}
.nav-topics {
  overflow: hidden;
}
@media screen and (max-width: 31.4375em) {
  .nav-topics {
    border-top: 1px solid whitesmoke;
  }
}
.nav-topics .nav_item {
  float: left;
  text-align: center;
  width: 33.3333%;
}
@media screen and (min-width: 50em) {
  .nav-topics .nav_item {
    width: 16.6667%;
  }
}
.nav-topics a {
  padding: 25%;
}
.nav-topics a::before {
  font-size: 48px;
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 7px;
  display: block;
}
.nav-site {
  transition: right .2s ease-out;
}
@media screen and (max-width: 31.4375em) {
  .nav-site {
    overflow: hidden;
  }
}
@media screen and (min-width: 31.5em) {
  .nav-site {
    width: 4.5rem;
    position: fixed;
    right: 0;
    bottom: 0;
  }
}
@media screen and (max-width: 31.4375em) {
  .nav-site .nav_item {
    text-align: center;
    float: left;
    width: 25%;
  }
}
.nav-site a {
  font-size: 0.75rem;
  line-height: 1.3334;
  padding: 7px 4px 8px;
  padding: 0.4375rem 0.25rem 0.5rem;
}
@media screen and (max-width: 31.4375em) {
  .nav-site a {
    border-right: 1px solid whitesmoke;
  }
}
@media screen and (min-width: 31.5em) {
  .nav-site a {
    border-top: 1px solid whitesmoke;
  }
}
.js-enhanced .navigation a {
  color: lightgrey;
}
.js-enhanced .navigation:hover a {
  color: #17d;
}
@media screen and (max-width: 31.4375em) {
  .js-enhanced .nav-topics {
    background-color: #fff;
    position: fixed;
    top: 3rem;
    max-height: 0;
    width: 100%;
  }
}
@media screen and (min-width: 31.5em) {
  .js-enhanced .nav-topics li {
    width: 144px;
    width: 9rem;
  }
}
@media screen and (min-width: 31.5em) {
  .js-enhanced .nav-topics a {
    border: solid whitesmoke;
    border-width: 0 0 1px 1px;
  }
}
.js-menu-active .navigation {
  right: 0;
  z-index: 9;
}
@media screen and (min-width: 31.5em) {
  .js-menu-active .navigation {
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
  }
}
.js-menu-active .navigation a {
  color: #17d;
}
@media screen and (max-width: 31.4375em) {
  .js-menu-active .nav-topics {
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
    max-height: 320px;
    max-height: 20rem;
    width: 100%;
  }
}
.js-menu-active .nav-site {
  right: 288px;
  right: 18rem;
}
.navigation .search_label::before {
  line-height: 1.5;
  width: 3rem;
  height: 4.5rem;
}
@media screen and (min-width: 31.5em) {
  .js-enhanced .navigation .search {
    width: 18rem;
    position: absolute;
    top: 0;
    right: 0;
  }
}
.navigation .search_input {
  background-color: whitesmoke;
  width: 100%;
  height: 72px;
  height: 4.5rem;
}
.navigation .search_input:focus {
  outline: 0 none;
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,0.25);
}
.navigation .search_button {
  font: 0/0 a;
  background: transparent;
  width: 48px;
  width: 3rem;
  height: 72px;
  height: 4.5rem;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.contentinfo {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.3334;
  background-color: #e3e3e3;
  padding: 16px;
  padding: 1rem;
  clear: left;
  overflow: hidden;
}
@media screen and (min-width: 40em) {
  .contentinfo {
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 1.2308;
  }
}
.contentinfo strong,
.contentinfo dt {
  color: #333;
}
@media screen and (min-width: 31.5em) {
  .contentinfo {
    margin-right: 72px;
    margin-right: 4.5rem;
  }
}
.contentinfo small {
  font-size: 100%;
}
@media screen and (min-width: 31.5em) {
  .contentinfo_copyright {
    margin: 0;
    float: left;
  }
}
@media screen and (min-width: 31.5em) {
  .contentinfo_social {
    margin: 0;
    float: right;
  }
}
.contentinfo_social a {
  margin: 0 1em 0 0;
}
@media screen and (min-width: 31.5em) {
  .contentinfo_social a {
    margin: 0 0 0 1em;
    float: right;
  }
}
.heading {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Merriweather', serif;
  font-size: 32px;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.125;
  letter-spacing: -0.041666667em;
}
@media screen and (min-width: 40em) {
  .heading {
    font-size: 48px;
    font-size: 3rem;
    line-height: 1.1667;
  }
}
.lede {
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  letter-spacing: -0.0625rem;
  margin: 8px 0 24px;
  margin: 0.5rem 0 1.5rem;
  text-rendering: optimizeLegibility;
}
@media screen and (min-width: 40em) {
  .lede {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.6;
  }
}
.lede strong {
  color: #333;
  letter-spacing: 0;
}
.caption {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.3334;
}
@media screen and (min-width: 40em) {
  .caption {
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 1.2308;
  }
}
.caption strong,
.caption dt {
  color: #333;
}
pre[class*="language-"] {
  text-align: left;
  direction: ltr;
  white-space: pre;
  word-spacing: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  overflow: auto;
}
.namespace {
  opacity: .7;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}
.token.punctuation {
  color: #999;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: #905;
}
.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
  color: #690;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #a67f59;
  background: rgba(255,255,255,0.5);
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}
.token.regex,
.token.important {
  color: #e90;
}
.token.important {
  font-weight: bold;
}
.token.entity {
  cursor: help;
}
