/* ==========================================================================
   Preface
   ========================================================================== */
.preface {
    background-color: #999;
    min-height: 12rem;
    padding: 1rem;
    position: relative;
    overflow: hidden;
    @media screen and (min-width: 50em) {
        padding-left: 25%;
    }
    a {
        color: white;
    }
}
.preface_title {
    .heading();
    @media screen and (min-width: 50em) {
        margin-left: 1rem;
    }
}
.preface_main {
    @media screen and (min-width: 50em) {
        margin-left: 1rem;
    }
}

.preface_image {
    height: auto;
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
}


/* ==========================================================================
   Section
   ========================================================================== */
.section {
    margin: 2rem 0 1rem 0;
    padding-bottom: 1rem;
    position: relative;
    overflow: hidden;
    @media screen and (min-width: 50em) {
        padding-left: 1rem;
    }
    &:last-of-type {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}
.section_header {
    border-top: 1px solid #ddd;
    padding: 1.1875rem 0 1.25rem 1rem;
    @media screen and (min-width: 50em) {
        text-align: right;
        width: 20%;
        position: absolute;
        top: 0;
        left: 0;
    }
}
.section_title {
    font-size: 1rem;
    font-weight: 
    line-height 1.5;
    text-transform: uppercase;
    letter-spacing: 0.0625em;
    margin: 0;
    display: block;
}
.section_main {
    border-top: 1px solid #ddd;
    padding-top: 0.5rem;
    padding: 0 1rem;
    @media screen and (min-width: 50em) {
        margin-left: 25%;
        padding: 0.5rem 0;
        width: 75%;
    }
    .list-articles,
    .list-authors {
        margin: 0 -1rem;
        @media screen and (min-width: 50em) {
            margin: -0.5rem 0 0 0;
        }
    }
}
.section_meta {
    .caption();
}
.section_image {
    margin-right: 1rem;
    float: left;
}


/* ==========================================================================
   Article
   ========================================================================== */
.article {
    @media screen and (min-width: 50em) {
        margin-top: -1px;
        padding: 9rem 0 4rem;
    }
}
.article_header {
    margin-bottom: 2rem;
    padding: 0 1rem;
    position: relative;
    overflow: hidden;
    @media screen and (min-width: 50em) {
        border-top: 1px solid #ccc;
        padding-left: 25%;
        min-height: 16rem;
    }
}
.article_title {
    .heading();
    margin: 1rem 0 0.5rem;
    @media screen and (min-width: 50em) {
        padding-left: 1rem;
    }
}
.article_byline {
    @media screen and (min-width: 50em) {
        padding-left: 1rem;
    }
}
.article_image {
    height: auto;
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
}
.article_main {
    padding: 0 1rem;
    @media screen and (min-width: 50em) {
        margin-left: 25%;
        width: 70%;
    }
    @media screen and (min-width: 40em) {
        p,
        li {
            font-size: 20px;
            font-size: 1.25rem;
            line-height: 1.6; /* 32px */
        }
    }
}
.article_footer {
    padding: 1rem;
    @media screen and (min-width: 50em) {
        text-align: right;
        padding: 0;
        width: 20%;
        float: left;
    }
    .list_item {
        .caption();
        margin-right: -0.25rem;
        display: inline;
        
        &::after {
            content: "•";
            margin: 0 0.5rem;
        }
        &:last-child {
            &::after {
                content: none;
            }
        }
    }
    @media screen and (min-width: 50em) {
        .list_item {
            border-top: 1px solid #ccc;
            padding: 0.4375rem 0 1.5rem 0;
            display: block;

            &::after {
                content: none;
            }
        }
    }
}


/* ==========================================================================
   Lists
   ========================================================================== */
/* List > Authors */
.list-authors .list_item {
    padding: 1px 1px 0 0;
    width: 33.3333%;
    float: left;
    @media screen and (min-width: 40em) {
        width: 25%;
    }
    @media screen and (min-width: 50em) {
        width: 20%;
    }
    @media screen and (min-width: 60em) {
        width: 16.6667%;
    }
}

/* List > Articles */
.list-articles .list_item {
    padding: 1px 1px 0 0;
    @media screen and (min-width: 40em) {
        width: 50%;
        float: left
    }
    @media screen and (min-width: 50em) {
        width: 33.3333%;
    }
    @media screen and (min-width: 60em) {
        width: 25%;
    }
}

/* List > Articles with section */
.section {
    .list-articles .list_item {
        @media screen and (min-width: 50em) {
            width: 50%;
        }
        @media screen and (min-width: 60em) {
            width: 33.333%;
        }
    }
}


/* ==========================================================================
   Summary
   ========================================================================== */
.summary {
    background-color: #eee;
    padding: 1em;
}
.summary_title {
    font-family: 'Merriweather', serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.25; /* 20px */
    margin: 0;
    @media screen and (min-width: 40em) {
        font-size: 20px;
        font-size: 1.25rem;
        line-height: 1.2; /* 16px */
    }
}
.summary_main {
    font-size: 0.875em; /* 14px */
    line-height: 1.4286; /* 20px */
    @media screen and (min-width: 40em) {
        font-size: 16px;
        font-size: 1em;
        line-height: 1.5; /* 24px */
    }
    a {
        color: inherit;
        font-weight: 700;
    }
}
.summary_meta {
    .caption();
}

/* Summary > Article */
.summary-article {
    @media screen and (min-width: 40em) {
        min-height: 20em;
    }
    .p-author { // FIX ME!
        display: none;
    }
    .summary_header {
        @media screen and (min-width: 40em) {
            min-height: 6.5em;
        }
    }
}

/* Summary > Day */
.summary-day {
    p {
        font-family: 'Merriweather', serif;
        font-size: 3em;
        line-height: 6;
        text-align: center;
        opacity: 0.2;
    }
}

/* Summary > Author */
.summary-author {
    background-color: #eee;
    padding: 0;
    position: relative;
    display: block;
    
    .summary_meta {
        color: #fff;
        background-color: #000;
        padding: 0.25rem 0.5rem;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .u-photo { // FIX ME!
        height: auto;
        width: 100%;
        display: block;
    }
}

/* Summary > Topic */
.summary-topic {
    background-color: #eee;
    min-height: 22em;
}