/* ==========================================================================
   Preface
   ========================================================================== */
.preface {
    background-color: #999;
    min-height: 12rem;
    padding: 1em 1em 1em 25%;
    position: relative;
    overflow: hidden;
    .preface_title {
        .heading();
        margin-left: 1rem;
    }
    .preface_main {
        margin-left: 1rem;
    }
    .preface_image {
        height: auto;
        width: 20%;
        position: absolute;
        top: 0;
        left: 0;
    }
}


/* ==========================================================================
   Section
   ========================================================================== */
.section {
    padding: 2rem 0 2rem 1rem;
    position: relative;
    overflow: hidden;

    .section_header {
        text-align: right;
        border-top: 1px solid #ddd;
        padding: 1.1875rem 0 1.25rem 1rem;
        width: 20%;
        position: absolute;
        top: 2rem;
        left: 0;
    }
    .section_title {
        font-size: 1rem;
        font-weight: 
        line-height 1.5;
        text-transform: uppercase;
        letter-spacing: 0.0625em;
        margin: 0;
        display: block;
    }
    .section_main {
        border-top: 1px solid #ddd;
        margin-left: 25%;
        padding-top: 0.5rem;
        width: 70%;
        .list {
            margin-top: -0.5rem;
        }
    }
    .section_meta {
        .caption();
    }
    .section--image {
        margin-right: 1rem;
        float: left;
    }
}


/* ==========================================================================
   Article
   ========================================================================== */
.article {
    padding: 9rem 0 4rem;
.article_header {
.article_title {
.article_image {
.article_byline {
.article_main {

        border-top: 1px solid #ccc;
        padding: 0 5% 1rem 25%;
        min-height: 16rem;
        position: relative;
        overflow: hidden;
    }
        .heading();
        margin: 1rem 0 0.5rem;
        padding-left: 1rem;
    }
        margin-left: -1rem;
        height: auto;
        width: 20%;
        position: absolute;
        top: 0;
        left: 0;
    }
        padding-left: 1rem;
    }
        margin-left: 25%;
        padding-left: 1rem;
        width: 70%;

        p,
        li {
            font-size: 20px;
            font-size: 1.25rem;
            line-height: 1.6; /* 32px */
        }
.article_footer {
    }
        text-align: right;
        margin-left: -1rem;
        width: 20%;
        float: left;
        ul {
            margin: 0.5rem 0;
        }
        li {
            .caption();
            border-top: 1px solid #ccc;
            padding: 0.5rem 0 1rem 0;
        }
    }
}


/* ==========================================================================
   Lists
   ========================================================================== */
.list {
    .list_item {
        padding: 1px 1px 0 0;
        width: 100%;
    }
}
.list-years .list_item {
    width: 33.333%;
    float: left
}
.list-articles .list_item {
    width: 25%;
    float: left
}
.list-authors .list_item {
    width: 20%;
    float: left
}
.section {
    .list-articles .list_item {
        width: 33.333%;
    }
}


/* ==========================================================================
   Summary
   ========================================================================== */
.summary {
    background-color: #eee;
    padding: 1em;
    .summary_title {
        font-family: 'Merriweather', serif;
        font-size: 20px;
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.2; /* 16px */
        margin: 0;
    }
    .summary--main {
        a {
            color: inherit;
            font-weight: 700;
        }
    }
    .summary_meta {
        .caption();
    }
}

/* Summary > Article */
.summary-article {
    min-height: 22em;

    .summary_header {
        min-height: 6.5em;
    }
    .p-author {
        display: none;
    }
}

/* Summary > Day */
.summary-day {
    p {
        font-family: 'Merriweather', serif;
        font-size: 3em;
        line-height: 6;
        text-align: center;
        opacity: 0.2;
    }
}

/* Summary > Author */
.summary-author {
    background-color: #eee;
    padding: 0;
    position: relative;
    display: block;
    
    .summary_meta {
        color: #fff;
        background-color: #000;
        padding: 0.25rem 0.5rem;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .u-photo {
        height: auto;
        width: 100%;
        display: block;
    }
}

/* Summary > Topic  */
.summary-topic {
    background-color: #eee;
    min-height: 22em;
}