.c-traverse-nav {
  display: none;

  @media screen and (min-width: 31.5em) {
    width: 4.5rem;
    display: block;
    position: fixed;
    right: 0;
    top: 4.5rem; // 72px
  }
}

.c-traverse-nav__item {
  height: 4.5rem;
  width: auto;
  display: block;
  position: relative;

  &[rel=prev]::after {
    content: 'Previously: \A' attr(data-sequence-title);
  }

  &[rel=next]::after {
    content: 'Next: \A' attr(data-sequence-title);
  }

  .js-enhanced & {
    @media screen and (min-width: 31.5em) {
      &::after {
        color: white;
        font: 0.875rem/1.2857 $font-family-sans; // 14px/18px
        text-align: left;
        white-space: pre-wrap;
        background-color: rgba(darken($color-brand, 20%), 0.75);
        padding: 0.5rem 0.75rem;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 18rem;
        overflow: hidden;
        transition: all 0.3s ease-out;
      }

      &:hover {
        &::after {
          left: -18rem;
        }
      }
    }
  }

  [data-menu=open] & {
    &::after {
      display: none;
    }
  }
}

.c-traverse-nav__icon {
  @include ui-link();
  background-color: white;
  display: block;
  padding: 0.75rem;
  box-shadow: inset 0 -1px 0 $color-neutral--lightest;
  position: relative;
  z-index: $z-index-default;
}

.c-traverse-nav__label {
  @include hidden();
}
