$_traverse-nav__label-width: 18rem; // 288px

.c-traverse-nav {
  display: none;

  @media screen and (min-width: 31.5em) {
    display: initial;
    position: fixed;
    right: 0;
    top: $banner-height--large;
    z-index: ($z-index-modal + 1);
    width: $navigation-width--large;
  }
}

.c-traverse-nav__item {
  @include ui-link($background: true);
  display: block;
  position: relative;
  width: auto;
  padding: $space-medium;
  box-shadow: inset 0 -1px 0 $navigation-color--offset;

  &[rel=prev]::after {
    content: 'Previously: \A' attr(data-sequence-title);
  }

  &[rel=next]::after {
    content: 'Next: \A' attr(data-sequence-title);
  }

  @media screen and (min-width: 31.5em) {
    &::before,
    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &::before {
      content: '';
      z-index: $z-index-underlay;
      background-color: $navigation-color;
    }

    &::after {
      @include typeset(label, 1);
      z-index: ($z-index-underlay - 1);
      width: $_traverse-nav__label-width;
      overflow: hidden;
      background-color: rgba(palette(primary, dark), 0.8);
      padding: $space-xsmall $space-small;
      white-space: pre-wrap;
      color: white;
      transition: all 0.3s ease-out;
    }

    &:hover {
      &::after {
        left: ($_traverse-nav__label-width * -1);
      }
    }
  }

  [data-menu=open] & {
    &::after {
      display: none;
    }
  }
}
