{% if traverse %}
<nav class="c-traverse-nav" aria-label="{{ traverse.type | capitalize }}">
  {%- if traverse.prev -%}
  <a class="c-traverse-nav__item" rel="prev" href="{{ traverse.prev.url }}" aria-label="Previous: {{ traverse.prev.title }}">
    {% include "prev.svg" %}
  </a>
  {%- endif -%}
  {%- if traverse.next -%}
  <a class="c-traverse-nav__item" rel="next" href="{{ traverse.next.url }}" aria-label="Next: {{ traverse.next.title }}">
    {% include "next.svg" %}
  </a>
  {%- endif -%}
</nav>
{% endif %}
