.c-main {
  background-color: var(--navigation-color--offset);

  @media (--upto-medium-screen) {
    margin-top: var(--banner-height--small);
  }

  @media (--from-medium-screen) {
    margin-right: var(--navigation-width--large);
  }
}
