.c-main {
  background-color: $navigation-color--offset;

  @media screen and (max-width: 31.4375em) {
    margin-top: $banner-height--small;
  }

  @media screen and (min-width: 31.5em) {
    margin-right: $navigation-width--large;
  }
}
