.c-main {
  background-color: palette(neutral, lightest);

  @media screen and (max-width: 31.4375em) {
    margin-top: 3em; // 48px
  }

  @media screen and (min-width: 31.5em) {
    margin-right: 4.5rem; // 72px
  }
}
