{% extends "@page" %}
{% block main %}
<section class="index">
  {% render "@preface--author" %}

  <section class="section" id="articles">
    <header class="section__header">
      <h1 class="section__title">Articles by Drew</h1>
    </header>
    <div class="section__main">
      <ul class="list list-articles">
        <li class="list_item">
          {% include "@summary-article" %}
        </li>
        <li class="list_item">
          {% include "@summary-article" %}
        </li>
        <li class="list_item">
          {% include "@summary-article" %}
        </li>
        <li class="list_item">
          {% include "@summary-article" %}
        </li>
        <li class="list_item">
          {% include "@summary-article" %}
        </li>
        <li class="list_item">
          {% include "@summary-article" %}
        </li>
        <li class="list_item">
          {% include "@summary-article" %}
        </li>
        <li class="list_item">
          {% include "@summary-article" %}
        </li>
      </ul>
    </div>
  </section>
</section>
{% endblock %}
