@keyframes loading {
  0% {
    border-top-color: palette(primary);
  }

  25% {
    border-right-color: palette(primary);
  }

  50% {
    border-bottom-color: palette(primary);
  }

  75% {
    border-left-color: palette(primary);
  }
}

.c-activity {
  display: block;
  height: 2rem;
  width: 2rem;
  margin: 0.75rem auto; // SPACE: STACK
  border: $border-width-thicker double $color-neutral--alpha-2;
  animation: 2s loading infinite;
  transform: rotate(45deg);
}
