@keyframes loading {
  0% {
    border-top-color: palette(primary);
  }

  25% {
    border-right-color: palette(primary);
  }

  50% {
    border-bottom-color: palette(primary);
  }

  75% {
    border-left-color: palette(primary);
  }
}

.c-activity {
  display: block;
  height: $size-medium;
  width: $size-medium;
  margin: $space-medium auto;
  border: $border-width-thicker double $prose-color--rule;
  animation: 2s loading infinite;
  transform: rotate(45deg);
}
