{% include "@banner" %}
{% include "@menu" %}

<main class="main" role="main">
  <section class="index">
    {% include "@preface" %}

    <ol class="list list-articles list-articles-countdown" reversed>
      <li class="list_item">
        {% include "@summary-countdown-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-countdown-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-countdown-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-countdown-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-countdown-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-countdown-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-countdown-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-countdown-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-countdown-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-countdown-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-countdown-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-countdown-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-countdown-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-countdown-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-countdown-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-countdown-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-countdown-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-countdown-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-countdown-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-countdown-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-countdown-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-countdown-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-countdown-article" %}
      </li>
      <li class="list_item">
        {% include "@summary-countdown-article" %}
      </li>
    </ol>
  </section>
</main>

{% include "@navigation" %}
{% include "@contentinfo" %}
