<fieldset class="select field">
    <legend>Radios <abbr title="Required">*</abbr></legend>
    <ul class="list">
        <li>
            <label for="radio1"><input id="radio1" name="radio" type="radio" checked/> Option 1</label>
        </li>
        <li>
            <label for="radio2"><input id="radio2" name="radio" type="radio"/> Option 2</label>
        </li>
        <li>
            <label for="radio3"><input id="radio3" name="radio" type="radio"/> Option 3</label>
        </li>
    </ul>
    <small class="caption">Note about these options</small>
</fieldset>