
<fieldset class="select field">
    <legend>Checkboxes <abbr title="Required">*</abbr></legend>
    <ul class="list">
        <li class="list_item">
            <label for="checkbox10"><input id="checkbox10" name="checkbox" type="checkbox" checked/> Choice A</label>
        </li>
        <li class="list_item">
            <label for="checkbox20"><input id="checkbox20" name="checkbox" type="checkbox"/> Choice B</label>
        </li>
        <li class="list_item">
            <label for="checkbox30"><input id="checkbox30" name="checkbox" type="checkbox"/> Choice C</label>
        </li>
    </ul><!--/.list-->
    <small class="caption">Note about these options</small>
</fieldset>
