<fieldset class="select field">
    <legend>Checkboxes with captions <abbr title="Required">*</abbr></legend>
    <ul class="list">
        <li>
            <label for="checkbox11"><input id="checkbox11" name="checkbox" type="checkbox" checked/> Choice A</label>
            <small class="caption">Note about this option</small>
        </li>
        <li>
            <label for="checkbox21"><input id="checkbox21" name="checkbox" type="checkbox"/> Choice B</label>
            <small class="caption">Note about this option</small>
        </li>
        <li>
            <label for="checkbox31"><input id="checkbox31" name="checkbox" type="checkbox"/> Choice C</label>
            <small class="caption">Note about this option</small>
        </li>
    </ul>
</fieldset>