.c-contentinfo {
  @include typeset(label, 1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: $space-small $space-medium;

  @media screen and (min-width: 31.5em) {
    margin-right: $navigation-width--large;
  }

  a {
    @include ui-link;

    @media print {
      display: none;
    }
  }

  > * {
    @media screen and (max-width: 31.4375em) {
      line-height: 2;
    }
  }
}

.c-contentinfo__copyright {
  order: -1;

  @media screen and (max-width: 31.4375em) {
    order: 0;
  }
}

.c-contentinfo__copyright,
.c-contentinfo__social a:not(:last-child) {
  margin-right: $space-medium;
}
