.c-contentinfo {
  @include ui-text;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: spacing(inset, s);

  @media screen and (min-width: 31.5em) {
    margin-right: 4.5rem; // 72px
  }

  @media print {
    a {
      display: none;
    }
  }
}

.c-contentinfo__copyright,
.c-contentinfo__social a:not(:last-child) {
  margin-right: 1em;
}
