<!DOCTYPE html>
<html lang="en-gb" dir="ltr">
  <head>
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//themes.googleusercontent.com">
    <link rel="dns-prefetch" href="//cloud.24ways.org">
    <link rel="dns-prefetch" href="//media.24ways.org">

    <script>
      // Flag support for JS
      document.documentElement.className += ' js';
      if (document.querySelector && window.addEventListener) {
        document.documentElement.className += ' js-enhanced';
        var enhanced = true;
      } else {
        var enhanced = false;
      }

      // Flag support for SVG
      if(document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#BasicStructure", "1.1")) {
        document.documentElement.className += ' svg';
      }

      // Add a script element as a child of the body
      function downloadJSAtOnload() {
        var element = document.createElement("script");
        element.src = "//24ways.org/_assets/js/scripts_v37.js";
        document.body.appendChild(element);
      }

      // Check for browser support of event handling capability
      if (window.addEventListener) {
        window.addEventListener("load", downloadJSAtOnload, false);
      } else if (window.attachEvent) {
        window.attachEvent("onload", downloadJSAtOnload);
      } else {
        window.onload = downloadJSAtOnload;
      }
    </script>

    <link rel="stylesheet" href="{{ '/assets/styles/app.css' | path }}"/>
    <link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/24ways"/>
    <link rel="icon" type="image/x-icon" href="{{ '/assets/icons/favicon.ico' | path }}"/>
    <link rel="apple-touch-icon-precomposed" href="{{ '/assets/icons/apple-touch-icon.png' | path }}"/>
    <link rel="author" href="/humans.txt"/>

    <meta charset="utf-8"/>
    <meta name="robots" content="index, follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="application-name" content="{{ site_title }}"/>
    <meta name="apple-mobile-web-app-title" content="{{ site_title }}"/>
    <meta name="twitter:site" content="@{{ site_handle }}"/>
    <meta name="twitter:title" content="{{ site_title }}"/>
    <meta name="twitter:description" content="{{ site_description }}"/>
    <meta name="twitter:creator" content="@{{ site_handle }}"/>
    <meta name="twitter:card" content="summary"/>

    <title>{{ _target.context.title }} &#9670; 24 ways</title>
  </head>

  <body class="{{ _target.context.theme if _target.context.theme else "year-2015" }}">
    {{ yield }}
  </body>

<!--
  <script src="/_assets/js/vendor/madrobby/zepto/zepto.js"></script>
  <script>jQuery = Zepto;</script>
  <script src="/_assets/js/vendor/adactio/progresponsive/progresponsive.js"></script>
  <script src="/_assets/js/vendor/leaverou/prismjs/prism.js"></script>
  <script src="/_assets/js/vendor/filamentgroup/ajaxinclude/ajaxinclude.js"></script>
  <script>
    // AJAX include comments
    $("a[data-interaction]").addClass("c-continue-ajax");
    $("a[data-interaction]").bind( "click", function(e) {
      e.preventDefault();
      $("#comments").addClass("section-loading");
      $(this).removeAttr("data-interaction").ajaxInclude();
    });

    // Corner animation
    var cornerOver = function(){
      this.className = this.className.replace(' js-mouseout', '');
    };
    var cornerOut = function(){
      this.className += ' js-mouseout';
    };
    var corners = document.querySelectorAll('.summary-article');
    for (var i = corners.length - 1; i >= 0; i--) {
      corners[i].addEventListener('js-mouseover', cornerOver, false);
      corners[i].addEventListener('js-mouseout', cornerOut, false);
    };

    // Equal height grid cells
    // http://css-tricks.com/equal-height-blocks-in-rows/
    if (window.innerWidth > 640) {
      equalheight = function(container){
        var currentTallest = 0,
          currentRowStart = 0,
          rowDivs = new Array(),
          $el,
          topPosition = 0;

        $(container).each(function() {
          $el = $(this);
          $($el).height('auto')
          topPostion = $el.position().top;

          if (currentRowStart != topPostion) {
            for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {
              rowDivs[currentDiv].height(currentTallest);
            }
            rowDivs.length = 0; // empty the array
            currentRowStart = topPostion;
            currentTallest = $el.height();
            rowDivs.push($el);
          } else {
            rowDivs.push($el);
            currentTallest = (currentTallest < $el.height()) ? ($el.height()) : (currentTallest);
          }
          for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {
            rowDivs[currentDiv].height(currentTallest);
          }
        });
      }

      $(document).ready(function() {
        equalheight('.list_item .summary-article');
      });

      $(window).resize(function(){
        equalheight('.list_item .summary-article');
      });
    }

    // Show back to top link when we've scrolled down the page
    if (window.innerWidth > 504) {
      $('.navigation').append('<a class="nav nav-top" href="#top">Return to the top of this page</a>');
      $(function () {
        $(window).scroll(function () {
          if ($(this).scrollTop() > 400) {
            $('.nav-top').animate({ opacity: 1 }, 500, 'ease-in')
          } else {
            $('.nav-top').animate({ opacity: 0 }, 500, 'ease-out')
          }
        });

        // http://austinpray.com/blog/zepto-js-smooth-vertical-scrolling/
        function smoothScroll(el, to, duration) {
          if (duration < 0) {
            return;
          }
          var difference = to - $(window).scrollTop();
          var perTick = difference / duration * 10;
          this.scrollToTimerCache = setTimeout(function() {
            if (!isNaN(parseInt(perTick, 10))) {
              window.scrollTo(0, $(window).scrollTop() + perTick);
              smoothScroll(el, to, duration - 10);
            }
          }.bind(this), 10);
        }

        $('.nav-top').on('click', function(e) {
          e.preventDefault();
          smoothScroll($(window), $($(e.currentTarget).attr('href')).offset().top, 500);
        });
      });
    }
  </script>
-->
</html>
