{% include "@banner" %}
{% include "@menu" %}

<main class="main" role="main">
  <section class="index">
    {% include "@preface" %}

    <section class="section" id="a">
      <header class="section_header">
        <h1 class="section_title">A</h1>
      </header>
      <div class="section_main">
        <ul class="list list-authors">
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
        </ul>
      </div>
    </section>

    <section class="section" id="b">
      <header class="section_header">
        <h1 class="section_title">B</h1>
      </header>
      <div class="section_main">
        <ul class="list list-authors">
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
        </ul>
      </div>
    </section>

    <section class="section" id="c">
      <header class="section_header">
        <h1 class="section_title">C</h1>
      </header>
      <div class="section_main">
        <ul class="list list-authors">
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
        </ul>
      </div>
    </section>

    <section class="section" id="d">
      <header class="section_header">
        <h1 class="section_title">D</h1>
      </header>
      <div class="section_main">
        <ul class="list list-authors">
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
        </ul>
      </div>
    </section>

    <section class="section" id="e">
      <header class="section_header">
        <h1 class="section_title">E</h1>
      </header>
      <div class="section_main">
        <ul class="list list-authors">
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
        </ul>
      </div>
    </section>

    <section class="section" id="f">
      <header class="section_header">
        <h1 class="section_title">F</h1>
      </header>
      <div class="section_main">
        <ul class="list list-authors">
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
        </ul>
      </div>
    </section>

    <section class="section" id="g">
      <header class="section_header">
        <h1 class="section_title">G</h1>
      </header>
      <div class="section_main">
        <ul class="list list-authors">
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
        </ul>
      </div>
    </section>

    <section class="section" id="h">
      <header class="section_header">
        <h1 class="section_title">H</h1>
      </header>
      <div class="section_main">
        <ul class="list list-authors">
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
        </ul>
      </div>
    </section>

    <section class="section" id="i">
      <header class="section_header">
        <h1 class="section_title">I</h1>
      </header>
      <div class="section_main">
        <ul class="list list-authors">
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
        </ul>
      </div>
    </section>

    <section class="section" id="j">
      <header class="section_header">
        <h1 class="section_title">J</h1>
      </header>
      <div class="section_main">
        <ul class="list list-authors">
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
        </ul>
      </div>
    </section>

    <section class="section" id="k">
      <header class="section_header">
        <h1 class="section_title">K</h1>
      </header>
      <div class="section_main">
        <ul class="list list-authors">
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
        </ul>
      </div>
    </section>

    <section class="section" id="l">
      <header class="section_header">
        <h1 class="section_title">L</h1>
      </header>
      <div class="section_main">
        <ul class="list list-authors">
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
        </ul>
      </div>
    </section>

    <section class="section" id="m">
      <header class="section_header">
        <h1 class="section_title">M</h1>
      </header>
      <div class="section_main">
        <ul class="list list-authors">
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
        </ul>
      </div>
    </section>

    <section class="section" id="n">
      <header class="section_header">
        <h1 class="section_title">N</h1>
      </header>
      <div class="section_main">
        <ul class="list list-authors">
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
        </ul>
      </div>
    </section>

    <section class="section" id="o">
      <header class="section_header">
        <h1 class="section_title">O</h1>
      </header>
      <div class="section_main">
        <ul class="list list-authors">
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
        </ul>
      </div>
    </section>

    <section class="section" id="p">
      <header class="section_header">
        <h1 class="section_title">P</h1>
      </header>
      <div class="section_main">
        <ul class="list list-authors">
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
        </ul>
      </div>
    </section>

    <section class="section" id="r">
      <header class="section_header">
        <h1 class="section_title">R</h1>
      </header>
      <div class="section_main">
        <ul class="list list-authors">
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
        </ul>
      </div>
    </section>

    <section class="section" id="s">
      <header class="section_header">
        <h1 class="section_title">S</h1>
      </header>
      <div class="section_main">
        <ul class="list list-authors">
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
        </ul>
      </div>
    </section>

    <section class="section" id="t">
      <header class="section_header">
        <h1 class="section_title">T</h1>
      </header>
      <div class="section_main">
        <ul class="list list-authors">
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
        </ul>
      </div>
    </section>

    <section class="section" id="v">
      <header class="section_header">
        <h1 class="section_title">V</h1>
      </header>
      <div class="section_main">
        <ul class="list list-authors">
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
          <li class="list_item">
            {% include "@summary-author" %}
          </li>
        </ul>
      </div>
    </section>
  </section>
</main>

{% include "@navigation" %}
{% include "@contentinfo" %}
