.c-promo {
  display: block;
  margin-bottom: 0.75rem;
}

.c-promo__image {
  height: auto;
  max-width: 100%;
}

.c-promo__message {
  color: $color-text;
  margin-bottom: 0.5rem;
}

.c-promo__url {
  @include caption();
}
