.c-promo {
  display: block;
  margin-bottom: $space-small;
}

.c-promo__image {
  height: auto;
  max-width: 100%;
}

.c-promo__message {
  margin-bottom: $space-small;
  color: $color-text;
}

.c-promo__url {
  @include typeset(label, 1);
}
