/* =====================================================
   General mixins
   ===================================================== */

:root {
  --hidden: {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
  }

  --navigation-link: {
    color: $navigation-color--text;

    &:hover {
      color: $color-ui-link--hover;
      background-color: color(map(colors, neutral, lightest) a(60%));
    }

    &:active {
      color: $color-ui-link--active;
      background-color: color(map(colors, neutral, lightest) a(80%));
    }
  }

  --focusable: {
    &:focus {
      outline: 0;
      box-shadow: inset 0 0 0 2px $color-focus;
    }
  }
}
