/* =====================================================
   General mixins
   ===================================================== */

:root {
  --hidden: {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
  }

  --ui-link: {
    color: $navigation-color--text;

    &:hover {
      color: $color-ui-link--hover;
      background-color: map(colors, neutral, lightest);
    }

    &:active {
      color: $color-ui-link--active;
      background-color: map(colors, neutral, light);
    }
  }
}
