// =========================================================
//
// Typography mixins
//
// =========================================================

@mixin heading {
  font: 400 2rem/1.125 $font-family-serif; // 32px/36px
  letter-spacing: -0.0625rem; // -1px

  @media screen and (min-width: 31.5em) {
    font-size: 2.5rem; // 40px
    line-height: 1.1; // 44px
  }

  @media screen and (min-width: 50em) {
    font-size: 3rem; // 48px
    line-height: 1.1667; // 56px
  }
}

@mixin title {
  font: 400 1.25em/1.2 $font-family-serif; // 20px/24px
  letter-spacing: -0.03125rem; // -0.5px
}

@mixin lede {
  font: 400 1.125em/1.3334 $font-family-serif; // 18px/24px
  letter-spacing: -0.0625rem; // -1px

  @media screen and (min-width: 40em) {
    font-size: 1.25rem; // 20px
    line-height: 1.4; // 28px
  }

  @media screen and (min-width: 60em) {
    font-size: 1.5rem; // 24px
    line-height: 1.3334; // 32px
  }
}

@mixin summary {
  font-size: 0.875em; // 14px
  line-height: (20/14); // 20px
}

@mixin caption {
  font: 400 0.75rem/#{(16/12)} $font-family-sans; // 12px/16px

  @media screen and (min-width: 40em) {
    font-size: 0.8125rem; // 13px
    line-height: (16/13); // 16px
  }

  @media screen and (min-width: 50em) {
    font-size: 0.875rem; // 14px
    line-height: (16/14); // 16px
  }
}

@mixin label {
  font: 400 1rem/1.5 $font-family-sans; // 16px/20px
  letter-spacing: 0.0625rem; // 1px
  text-transform: uppercase;
}
