// =========================================================
//
// Typography mixins
//
// =========================================================

@mixin fluid($property, $min-vw, $max-vw, $min-value, $max-value) {
  #{$property}: $min-value;

  @media screen and (min-width: $min-vw) {
    #{$property}: calc(#{$min-value} + #{parse-int($max-value - $min-value)} * (100vw - #{$min-vw}) / #{parse-int($max-vw - $min-vw)});
  }

  @media screen and (min-width: $max-vw) {
    #{$property}: $max-value;
  }
}

@mixin typeset($type, $level: 1, $font-weight: null) {
  // Title
  // Typically used on titles of containers and modules
  @if $type == 'title' {
    font-family: $font-family-sans;
    font-weight: if($font-weight, $font-weight, 700);
    font-variant: common-ligatures lining-nums;
    letter-spacing: -0.03125em;
    line-height: 0.95;

    @if $level == 1 {
      font-size: 1.25rem;
    }

    @if $level == fluid {
      @include fluid(font-size, 30rem, 60rem, 1.5rem, 4rem);
    }
  }

  // Heading
  // Typically used for headings within areas of prose content
  @if $type == 'heading' {
    font-family: $font-family-sans;
    font-variant: common-ligatures lining-nums;
    line-height: 1.25;
    letter-spacing: -0.025em;

    @if $level == 1 {
      font-size: 1em;
    }

    @if $level == 2 {
      font-size: 1.25em;
    }

    @if $level == 3 {
      font-size: 1.5em;
    }
  }

  // Lede
  // Typically used for introductory text
  @if $type == 'lede' {
    @include fluid('font-size', 30rem, 60rem, 1.125rem, 1.5rem);
    font-family: $font-family-sans;
    font-weight: if($font-weight, $font-weight, 400);
    font-variant: common-ligatures oldstyle-nums;
    line-height: 1.25;
    letter-spacing: -0.025em;
  }

  // Caption
  // Typically used for supporting text
  @if $type == 'caption' {
    @include fluid('font-size', 30rem, 60rem, 0.875rem, 1rem);
    font-family: $font-family-sans;
    font-weight: if($font-weight, $font-weight, 400);
    font-variant: common-ligatures lining-nums;
    line-height: 1.25;
  }

  // Prose
  // Typically used for running text
  @if $type == 'prose' {
    font-family: $font-family-serif;
    font-weight: if($font-weight, $font-weight, 400);
    font-variant: common-ligatures oldstyle-nums;
    line-height: 1.5;
    letter-spacing: -0.0125em;
    hyphens: auto;
    hanging-punctuation: first;

    @if $level == 1 {
      font-size: 0.875rem;
    }

    @if $level == 2 {
      font-size: 1rem;
    }

    @if $level == fluid {
      @include fluid('font-size', 30rem, 60rem, 0.875rem, 1.25rem);
    }

    strong,
    dt {
      font-family: $font-family-sans;
      opacity: 0.8;
    }
  }

  // Label sizes and styles
  // Typically used on UI labels and controls
  @if $type == 'label' {
    font-family: $font-family-sans;
    font-weight: if($font-weight, $font-weight, 400);

    @if $level == 1 {
      font-size: 0.8125rem;
      line-height: (16/13);
    }

    @if $level == 2 {
      font-size: 1rem;
      line-height: (20/16);
    }
  }
}
