{% extends "@page" %}
{% block main %}
<article class="c-article t-day-01">
  <header class="c-article__header">
    <h1 class="c-article__title  p-name"><a href="{{ href }}">{{ title }}</a></h1>
    <p class="c-article__byline  p-author h-card">
      <a class="u-url" href="#author">
        {% render "@avatar", avatar %}
        <span class="p-name">{{ author }}</span>
      </a>
    </p>
  </header>

  <section class="c-section" id="comments">
    <header class="c-section__header">
      <h1 class="c-section__title">11 Comments</h1>
    </header>
    <div class="c-section__main">
      <div class="s-prose">
        <p>Comments are ordered by helpfulness, as indicated by you. Help us pick out the gems and discourage asshattery by voting on notable comments.</p>
        <p>Got something to add? You can leave a comment below.</p>
      </div>
      {%- for comment in comments -%}
        {% render "@comment", comment %}
      {%- endfor -%}
    </div>
  </section>

  {% render "@comment-form" %}
</article>
{% endblock %}
