@each $name, $color in $color-days {
  .t-#{$name} {
    background-color: lighten($color, 48%);

    a {
      color: $color;
      border-color: rgba($color, 0.2);

      &:hover {
        color: darken($color, 10%);
        border-color: rgba(darken($color, 10%), 0.33);
      }
    }
  }
}
