@each $name, $color-day in $color-days {
  $color-day--dark: scale-color($color-day, $lightness: -40%);
  $color-day--light: scale-color($color-day, $lightness: 94%);

  .t-#{$name} {
    background-color: $color-day--light;

    a {
      color: $color-day--dark;
      border-color: rgba($color-day--dark, 0.2);

      &:hover {
        color: $color-day;
        border-color: rgba($color-day, 0.33);
      }
    }
  }
}
