@each $name, $color-year in $color-years {
  $color-year--dark: scale-color($color-year, $lightness: -56%);
  $color-year--darker: scale-color($color-year, $lightness: -80%);

  .t-#{$name} {
    .c-preface {
      background-color: $color-year--dark;
    }

    .c-banner {
      background-color: $color-year--darker;
    }

    .c-traverse-nav__item::after {
      background-color: rgba($color-year--darker, 0.8);
    }

    .s-prose--article {
      h2 {
        color: $color-year--dark;
      }

      .lede {
        color: $color-year--darker;
      }
    }
  }
}
