{% include "@banner" %}
{% include "@menu" %}

<main class="main" role="main">
  <section class="index">
    {% include "@preface" %}
    {% include "@section-year" %}
    {% include "@section-year" %}
    {% include "@section-year" %}
    {% include "@section-year" %}
    {% include "@section-year" %}
    {% include "@section-year" %}
    {% include "@section-year" %}
    {% include "@section-year" %}
    {% include "@section-year" %}
  </section>
</main>

{% include "@navigation" %}
{% include "@contentinfo" %}
