<div class="c-menu no-transition">
  <button class="c-menu__button" id="menu__button" aria-controls="menu__drawer" aria-expanded="true" aria-label="Menu">
    {% include "menu.svg" %}
  </button>
  <div class="c-menu__drawer" id="menu__drawer" role="region" aria-label="Menu">
    {%- render "@search" -%}
    {%- render "@topics-nav" -%}
    {%- render "@site-nav" -%}
  </div>
  <script class="c-menu__onload">
    document.getElementById('menu__drawer').style.display = 'none';
  </script>
</div>
