.c-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: $z-index-overlay;
  color: $color-neutral--light;

  @media screen and (max-width: 31.4375em) {
    color: white;

    &:hover {
      color: white;
    }
  }

  @media print {
    display: none;
  }

  .js-enhanced & {
    position: fixed;
  }
}

.c-menu__icon {
  @media screen and (min-width: 31.5em) {
    @include ui-link();
    box-shadow: inset 0 -1px 0 $color-neutral--lightest;
    padding: 0.75rem; // 12px
  }

  [data-menu=open] & {
    @media screen and (max-width: 31.4375em) {
      color: $color-neutral;
    }
  }
}

.c-menu__icon-line {
  transform-origin: 50% 50%;

  // Transitions
  &:nth-of-type(1),
  &:nth-of-type(2),
  &:nth-of-type(5),
  &:nth-of-type(6) {
    opacity: 1;
    transition: transform 0.25s cubic-bezier(0.8, 0, 0.4, 1.8) 0.25s, opacity 0.05s linear 0.15s;

    [data-menu=open] & {
      opacity: 0;
      transition: transform 0.25s ease-out, opacity 0.05s linear 0.15s;
    }
  }

  &:nth-of-type(3),
  &:nth-of-type(4) {
    transition: transform 0.25s ease-out;

    [data-menu=open] & {
      transition: transform 0.25s cubic-bezier(0.8, 0, 0.4, 1.8) 0.25s;
    }
  }

  // Transforms
  [data-menu=open] & {
    &:nth-of-type(1) {
      transform: translateY(500%);
    }

    &:nth-of-type(2) {
      transform: translateY(250%);
    }

    &:nth-of-type(3) {
      transform: rotate(45deg) scaleX(1.3334);
    }

    &:nth-of-type(4) {
      transform: rotate(-45deg) scaleX(1.3334);
    }

    &:nth-of-type(5) {
      transform: translateY(-250%);
    }

    &:nth-of-type(6) {
      transform: translateY(-500%);
    }
  }
}

.c-menu__label {
  @include hidden();
}
