/* Resets */
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Variables */
@signature: #c03;

@text: #494949;

@link: #07a;
@link-hover: lighten(@link, 20%);
@link-active: darken(@link-hover, 10%);

@year: @signature;
@year-2005: spin(@year, -000);
@year-2006: spin(@year, -004);
@year-2007: spin(@year, -008);
@year-2008: spin(@year, -012);
@year-2009: spin(@year, -016);
@year-2010: spin(@year, -020);
@year-2011: spin(@year, -024);
@year-2012: spin(@year, -028);
@year-2013: spin(@year, -032);
@year-2014: spin(@year, -036);
@year-2015: spin(@year, -040);
@year-2016: spin(@year, -044);
@year-2017: spin(@year, -048);
@year-2018: spin(@year, -052);
@year-2019: spin(@year, -056);
@year-2020: spin(@year, -060);

@day: hsl(199,60%,50%);
@day-24: spin(@day, 000);
@day-23: spin(@day, 007);
@day-22: spin(@day, 014);
@day-21: spin(@day, 021);
@day-20: spin(@day, 028);
@day-19: spin(@day, 035);
@day-18: spin(@day, 042);
@day-17: spin(@day, 049);
@day-16: spin(@day, 056);
@day-15: spin(@day, 063);
@day-14: spin(@day, 070);
@day-13: spin(@day, 077);
@day-12: spin(@day, 084);
@day-11: spin(@day, 091);
@day-10: spin(@day, 098);
@day-09: spin(@day, 105);
@day-08: spin(@day, 112);
@day-07: spin(@day, 119);
@day-06: spin(@day, 126);
@day-05: spin(@day, 133);
@day-04: spin(@day, 140);
@day-03: spin(@day, 147);
@day-02: spin(@day, 154);
@day-01: spin(@day, 161);

/* Helpers */
.hidden {
	clip: rect(0 0 0 0);
	margin: -1px;
	border: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
}
.clear {
	&::before,
	&::after {
		content: " ";
		display: table;
	}
	&::after {
		clear: both;
	}
}
.antialiased {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-font {
	.antialiased();
	font-family: icons;
	font-weight: normal;
	line-height: 1;
}

/* Icons */
@font-face {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  src: url("fonts/icons.ttf") format('truetype');
}
[data-icon]::before {
	content: attr(data-icon);
	speak: none;
	.icon-font();
}

/* Fonts */
@import url("http://fonts.googleapis.com/css?family=Inconsolata|Lato:400,400italic,700|Merriweather:400");

/* Elements */
@import url("elements/0-sections.less");
@import url("elements/1-grouping.less");
@import url("elements/2-text.less");
@import url("elements/3-edits.less");
@import url("elements/4-embedded.less");
@import url("elements/5-tables.less");
@import url("elements/6-forms.less");
@import url("elements/7-interactive.less");
@import url("elements/8-links.less");
@import url("elements/9-disabled.less");

/* Partials */
@import url("partials/theme.less");
@import url("partials/content.less");
@import url("partials/forms.less");
@import url("partials/lists.less");
@import url("partials/media.less");
@import url("partials/nav.less");
@import url("partials/structure.less");
@import url("partials/type.less");