.s-note {
  line-height: 1.25;
  margin-bottom: 1.5rem;
  border: solid rgba(black, 0.33);
  border-width: 1px 0;
  padding: 0.25rem 0;

  @media screen and (max-width: 50em) {
    &:first-of-type {
      border-top: 0 none;
      padding-bottom: 0.25rem;
    }
  }

  p {
    color: lighten($color-text, 10%);
    font-size: 1rem;
    padding: 0.75rem 0;
  }
}
