.s-note {
  @apply --typeset-caption;
  margin-bottom: map(spaces, large);
  border: solid $prose-color--rule;
  border-width: 1px 0;
  padding: map(spaces, medium) 0;

  p:not(:last-child) {
    margin: map(spaces, medium);
    font-size: 1rem;
  }
}
