<!-- TODO: Review use of microformats for author preface -->
<header class="c-preface  h-card">
  <h1 class="c-preface__title  p-name">
    {%- if titleIcon -%}
      {% include titleIcon + ".svg" %}
    {%- endif -%}
    {{ title }}
  </h1>
  {%- if content -%}
  <div class="c-preface__main  p-note">
    <div class="s-prose">
      {%- if avatar -%}
        {% render "@avatar", { img: avatar.img } %}
      {%- endif -%}
      {{ content | markdown }}
    </div>
  </div>
  {%- endif -%}
</header>
