.c-preface {
  overflow: hidden;
  min-height: 9rem;
  padding: $space-xlarge $space-large $space-medium;
  background-color: palette(primary, dark);
  background-image: inline('diamond.svg');
  background-repeat: repeat;

  @media screen and (min-width: 50em) {
    padding-left: 25%;
  }
}

.c-preface__title {
  @include typeset(title, fluid);
  display: flex;
  align-items: flex-start;
  position: relative;
  margin-bottom: $space-small;
  color: palette(primary, light);

  svg {
    width: 1em;
    height: 1em;
    margin-right: $space-small;
  }
}

.c-preface__main {
  position: relative;
  color: rgba(white, 0.75);

  .s-prose p:first-of-type {
    @include typeset(lede);
  }

  .c-avatar {
    width: 50%;
    float: right;
    margin-top: -7.5%;
    margin-right: -7.5%;

    @media screen and (min-width: 50em) {
      float: left;
      margin-left: -33%;
      margin-right: $space-medium;
    }
  }

  a {
    border-bottom: 1px solid rgba(white, 0.25);
    color: white;

    &:hover {
      border-bottom-color: rgba(white, 0.75);
    }
  }
}
