.c-preface {
  padding: 4.5rem 1rem 1rem;
  background-color: darken($color-brand, 5%);
  background-image: inline('diamond.svg');
  background-repeat: repeat;
  overflow: hidden;

  @media screen and (min-width: 50em) {
    padding-left: 25%;
  }
}

.c-preface__title {
  @include heading();
  color: $color-brand--light;
  position: relative;
  margin-bottom: 0.5rem;

  svg {
    display: inline-block;
    margin-right: 0.25em;

    @media screen and (min-width: 50em) {
      height: 6rem;
      width: 6rem;
      position: absolute;
      left: -2.5em;
      top: 0;
    }
  }
}

.c-preface__main {
  position: relative;
  color: rgba(white, 0.75);

  .s-prose p:first-of-type {
    @include lede;
  }

  .c-avatar {
    width: 50%;
    float: right;
    margin: -7.5% -7.5% 0.75rem 0.75rem;

    @media screen and (min-width: 50em) {
      float: left;
      margin: -7.5% 0.75rem 0.75rem -33%;
    }
  }

  a {
    color: white;
    border-bottom: 1px solid rgba(white, 0.25);

    &:hover {
      border-bottom-color: rgba(white, 0.75);
    }
  }
}
