.c-banner {
  text-transform: uppercase;
  background-color: $color-brand--dark;
  padding: 0.875em 1em; // 14px 16px
  height: 3rem; // 48px

  @media screen and (max-width: 31.4375em) {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $z-index-default;
    transition: background-color 0.1s ease-out;
  }

  @media screen and (min-width: 31.5em) {
    margin-right: 4.5rem; // 72px
    padding: 1.5rem 1rem;
    height: 4.5rem; // 72px
  }

  @media screen and (min-width: 50em) {
    padding-left: calc(25% - 1rem);
  }

  .js-enhanced & {
    @media screen and (min-width: 31.5em) {
      filter: brightness(1);

      a {
        transition: color 0.1s ease-out;
      }
    }
  }

  body[data-menu=open] & {
    @media screen and (max-width: 31.4375em) {
      background-color: white;
      transition: background-color 0.1s ease-out;

      a {
        color: $color-neutral;
        transition: color 0.1s ease-out;
      }
    }

    @media screen and (min-width: 31.5em) {
      filter: brightness(0.75);
    }
  }
}

.c-banner__logo {
  font-size: 1.25em;
  line-height: 1;
  letter-spacing: 0;
  margin: 0;

  @media screen and (min-width: 31.5em) {
    font-size: 1.5em;
  }

  a {
    color: white;
  }

  span {
    color: $color-brand--light;
    font-size: 0.6667em;
    text-transform: lowercase;
  }
}
