.c-banner {
  padding: spacing(inset);
  background-color: palette(primary, dark);
  transition-duration: $duration-banner;
  transition-timing-function: ease-out;

  [data-menu=closed] & {
    transition-delay: $duration-navigation;
  }

  @media screen and (max-width: 31.4375em) {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: ($z-index-modal + 1);
    transition-property: background-color;

    body[data-menu=open] & {
      background-color: white;
    }
  }

  @media screen and (min-width: 31.5em) {
    margin-right: 4.5rem; // 72px
    padding: spacing(inset, l);
  }

  @media screen and (min-width: 50em) {
    padding-left: calc(25% - 1rem);
  }
}

.c-banner__title {
  font-size: 1.25em; // 20px
  line-height: (16/20);

  @media screen and (min-width: 31.5em) {
    font-size: 1.5em; // 24px
    line-height: 1;
  }
}

.c-banner__home {
  color: white;
  text-transform: uppercase;

  &:hover {
    color: white;
  }

  @media screen and (max-width: 31.4375em) {
    transition-property: color $duration-banner ease-out;

    [data-menu=open] & {
      color: palette(neutral);
    }

    [data-menu=closed] & {
      transition-delay: $duration-navigation;
    }
  }

  span {
    color: palette(primary, light);
    font-size: 0.6667em;
    white-space: nowrap;
    text-transform: lowercase;
  }
}
