.summary-list {
  @include list();
  padding: 0.25em 0 0 0.25em;

  @media print {
    padding: 0;
  }
}

.summary-list__item {
  padding: 0 0.25em 0.25em 0;

  @media screen and (min-width: 40em) and (max-width: 54.9375em), print {
    width: 50%;
    float: left;

    &:nth-child(2n+1) {
      clear: left;
    }
  }

  @media screen and (min-width: 55em) and (max-width: 64.9375em) {
    width: 33.3334%;
    float: left;

    &:nth-child(3n+1) {
      clear: left;
    }
  }

  @media screen and (min-width: 65em) {
    width: 25%;
    float: left;

    &:nth-child(4n+1) {
      clear: left;
    }
  }
}

// Lists within a section
.c-section .summary-list {
  margin: -0.5em -1em;

  @media screen and (min-width: 50em) {
    margin: -0.5rem -7% 0 0;
  }

  @media screen and (min-width: 60em) {
    margin-right: -25%;
  }

  @media screen and (min-width: 80em) {
    margin-right: -50%;
  }
}

.c-section .summary-list__item {
  @media screen and (min-width: 55em) and (max-width: 64.9375em) {
    width: 50%;
    float: left;

    &:nth-child(2n+1) {
      clear: left;
    }

    &:nth-child(3n+1) {
      clear: none;
    }
  }

  @media screen and (min-width: 65em) {
    width: 33.3334%;
    float: left;

    &:nth-child(3n+1) {
      clear: left;
    }

    &:nth-child(4n+1) {
      clear: none;
    }
  }
}
