$summary__author-size: map(sizes, xlarge);

.c-summary {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  padding: map(spaces, medium) calc(map(spaces, large) - map(spaces, xsmall));
  background-color: white;
  box-shadow: 1px 1px 0 $prose-color--shadow;

  @media print {
    padding-bottom: 0;
    height: auto !important;
    min-height: 12em;
    page-break-inside: avoid;
  }
}

.c-summary__header {
  min-height: 2em;
  margin-bottom: map(spaces, large);

  @media print {
    border-top: 1px solid black;
    padding-top: map(spaces, medium);
  }
}

.c-summary__title {
  @apply --typeset-summary-title;
  padding-right: calc($summary__author-size - map(spaces, medium));

  a::before {
    content: '';
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: map(layers, default);
    white-space: nowrap;
    text-indent: 200%;
  }

  a:focus {
    outline: none;

    &::before {
      outline: 2px solid $color-focus;
    }
  }
}

.c-summary__main {
  @apply --typeset-prose;
  margin-bottom: map(spaces, medium);
  font-size: 0.875rem;

  a {
    position: relative;
    z-index: calc(map(layers, default) + 1);
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: inherit;
  }
}

.c-summary__footer {
  @media screen {
    margin-top: auto;
  }

  a {
    position: relative;
    z-index: calc(map(layers, default) + 1);
  }
}

.c-summary__meta {
  @apply --typeset-label;
  color: map(colors, neutral, dark);

  .dt-published {
    margin-right: map(spaces, medium);
  }
}

.c-summary__author {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  margin: 0;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: map(layers, default);
    border: solid calc($summary__author-size / 2);
    border-color: transparent transparent white white;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: $summary__author-size;
    width: $summary__author-size;
    background: inline('corner.svg') -0.5em 0 no-repeat;
    background-size: size('corner.svg');
  }

  @media print {
    display: none;
  }

  a {
    position: static;
  }

  img {
    display: block;
    height: $summary__author-size;
    width: $summary__author-size;
    transition: transform $author-duration ease-out;
  }

  span {
    @apply --hidden;
  }
}

@keyframes corner-forward {
  from {
    z-index: map(layers, default);
    background-position: -0.5em;
  }

  to {
    z-index: calc(map(layers, default) + 1);
    background-position: -50.5em;
  }
}

@keyframes corner-reverse {
  from {
    z-index: calc(map(layers, default) + 1);
    background-position: -50.5em;
  }

  to {
    z-index: map(layers, default);
    background-position: -0.5em;
  }
}

.c-summary:hover {
  .c-summary__author {
    img {
      transform: scale(1.2);
      transform-origin: bottom left;
    }

    &::after {
      z-index: calc(map(layers, default) + 1);
      animation: corner-forward 0.15s steps(10);
      animation-fill-mode: forwards;
    }
  }
}

&.js-mouseout {
  .c-summary__author {
    &::before {
      z-index: map(layers, default);
      animation: corner-reverse 0.15s steps(10);
    }
  }
}

.c-summary--countdown {
  .c-summary__header {
    padding-left: calc(map(spaces, large) + map(spaces, xsmall));
  }

  .dt-published {
    @apply --typeset-summary-title;
    font-weight: 400;
    position: absolute;
    top: map(spaces, medium);
    left: calc(map(spaces, medium) + map(spaces, xsmall));

    @media print {
      top: 2rem;
    }

    span {
      @apply --hidden;
    }
  }
}
