.c-summary {
  background-color: white;
  padding: 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;

  @media print {
    padding-bottom: 0;
    height: auto !important;
    min-height: 12em;
    page-break-inside: avoid;
  }

  @media screen {
    box-shadow: 1px 1px 0 rgba($color-neutral, 0.15);
  }

  a {
    position: relative;
    z-index: ($z-index-default + 1);
  }

  a.c-summary__link {
    text-indent: 200%;
    white-space: nowrap;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: $z-index-default;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.c-summary__header {
  min-height: 3rem;
  margin-bottom: 0.75rem;

  @media print {
    border-top: 1px solid black;
    padding-top: 0.5rem;
  }
}

.c-summary__title {
  @include title();
  padding-right: 2.5rem;

  .c-avatar {
    width: 1.75rem;
    height: 1.75rem;

    @media screen and (min-width: 40em) {
      width: 3rem;
      height: 3rem;
    }
  }
}

.c-summary__main {
  @include summary();
  margin-bottom: 0.75rem;

  a {
    font-weight: 700;
    color: inherit;
  }
}

.c-summary__footer {
  margin-top: auto;
}

.c-summary__meta {
  @include caption();
  color: $color-neutral;

  .dt-published {
    margin-right: 1.5em;
  }
}

.c-summary__author {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border: solid 2.25em;
    border-color: transparent transparent white white;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 4.5em;
    width: 4.5em;
    background: inline('corner.svg') -0.5em 0 no-repeat;
    background-size: size('corner.svg');
  }

  @media print {
    display: none;
  }

  a {
    position: static;
  }

  img {
    display: block;
    height: 4.5em;
    width: 4.5em;
  }

  span {
    @include hidden();
  }
}

@keyframes corner-forward {
  from {
    background-position: -0.5em;
    z-index: $z-index-default;
  }

  to {
    background-position: -50.5em;
    z-index: ($z-index-default + 1);
  }
}

@keyframes corner-reverse {
  from {
    background-position: -50.5em;
    z-index: ($z-index-default + 1);
  }

  to {
    background-position: -0.5em;
    z-index: $z-index-default;
  }
}

.c-summary:hover {
  .c-summary__author {
    &::after {
      animation: corner-forward 0.15s steps(10);
      animation-fill-mode: forwards;
      z-index: ($z-index-default + 1);
    }
  }
}

&.js-mouseout {
  .c-summary__author {
    &::before {
      animation: corner-reverse 0.15s steps(10);
      z-index: $z-index-default;
    }
  }
}

.c-summary--countdown {
  .c-summary__header {
    padding-left: 2rem;
  }

  .dt-published {
    @include title();
    position: absolute;
    top: 1rem;
    left: 1rem;

    @media print {
      top: 1.5rem;
    }

    span {
      @include hidden();
    }
  }
}
