<article class="c-summary{% for mod in mods %} c-summary--{{ mod }}{% endfor %} h-entry {{ theme if theme }}">
  <header class="c-summary__header">
    <h3 class="c-summary__title  p-name">
      {%- if href -%}
        <a class="u-url" rel="bookmark" href="{{ href }}">{{ title }}</a>
      {%- else -%}
        {{ title }}
      {%- endif -%}
    </h3>
    {%- if author -%}
    <p class="c-summary__author  p-author h-card">
      <a class="c-summary__author-url  u-url" href="/authors/{{ author | slugify }}/">
        <img class="u-photo" src="https://cloud.24ways.org/authors/{{ author | slugify }}160.jpg" width="72" height="72" alt=""/>
        <span class="p-name">{{ author }}</span>
      </a>
    </p>
    {%- endif -%}
  </header>
  <div class="c-summary__main">
    <p class="p-summary">{{ content | markdownInline }}</p>
  </div>
  {%- if datetime -%}
  <footer class="c-summary__footer">
    <p class="c-summary__meta">
      <time class="dt-published" datetime="{{ datetime }}">
        {{ datetime | date('D') }} <span>{{ datetime | date('MMMM YYYY') }}</span>
      </time>
    </p>
  </footer>
  {%- endif -%}
</article>
