.c-site-nav {
  display: flex;
  flex-direction: row;

  @media screen and (min-width: 31.5em) {
    flex-direction: column;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 4.5rem; // 72px
  }
}

.c-site-nav__item {
  flex: 1;
  box-shadow: 1px 0 0 $color-neutral--lightest;

  @media screen and (min-width: 31.5em) {
    box-shadow: 0 -1px 0 $color-neutral--lightest;
  }
}

.c-site-nav__label {
  @include ui-link();
  font-size: 0.8125em; // 13px
  line-height: 1.2308; // 16px
  text-align: center;
  padding: 1rem 0.5rem; // 16px 8px

  @media screen and (min-width: 31.5em) {
    text-align: left;
    padding: 0.625rem 0.5rem; // 10px 8px
  }
}
