.c-site-nav {
  display: flex;
  flex-direction: row;
  box-shadow: 0 1px 0 $navigation-color--offset;

  @media screen and (min-width: 31.5em) {
    flex-direction: column;
    position: fixed;
    right: 0;
    bottom: 0;
    width: $navigation-width--large;
  }
}

.c-site-nav__item {
  flex: 1;
  box-shadow: 1px 0 0 $navigation-color--offset;

  @media screen and (min-width: 31.5em) {
    box-shadow: 0 -1px 0 $navigation-color--offset;
  }
}

.c-site-nav__label {
  @include ui-link($background: true);
  @include typeset(label, 1);
  display: block;
  padding: $space-medium;
  text-align: center;

  @media screen and (min-width: 31.5em) {
    padding: $space-small;
    text-align: left;
  }
}
