.c-site-nav {
  display: flex;
  flex-direction: row;

  @media screen and (min-width: 31.5em) {
    flex-direction: column;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 4.5rem; // 72px
  }
}

.c-site-nav__item {
  flex: 1;
  box-shadow: 1px 0 0 $color-neutral--lightest;

  @media screen and (min-width: 31.5em) {
    box-shadow: 0 -1px 0 $color-neutral--lightest;
  }
}

.c-site-nav__label {
  @include ui-link;
  @include ui-text;
  display: block;
  text-align: center;
  padding: spacing(inset);

  @media screen and (min-width: 31.5em) {
    padding: spacing(inset, s);
    text-align: left;
  }
}
