<ul class="nav nav-topics">
    <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#xe604;">Business</a></li>
    <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#xe605;">Code</a></li>
    <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#xe606;">Content</a></li>
    <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#xe607;">Design</a></li>
    <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#xe608;">Process</a></li>
    <li class="nav_item"><a href="/pages/topics/topicname" data-icon="&#xe609;">UX</a></li>
</ul><!--/.nav-topics-->
