/* ==========================================================================
   Mixins
   ========================================================================== */

/* Helpers */
@mixin hidden {
  clip: rect(0 0 0 0);
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.hidden {
  @include hidden;
}

@mixin clear {
  &::before,
  &::after {
    content: " ";
    display: table;
  }
  &::after {
    clear: both;
  }
}

@mixin list {
  list-style-type: none;
  margin: 0;
  @include clear();
}

/* Web fonts */
@import url("http://fonts.googleapis.com/css?family=Inconsolata|Lato:400,400italic,700|Merriweather:400");

@mixin font-smoothing-on {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@mixin font-smoothing-off {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

/* Typography */
@mixin heading {
  font-family: $f-serif;
  font-size: 2rem; /* 32px */
  font-weight: 400;
  line-height: 1.125; /* 36px */
  letter-spacing: -0.0625rem; /* -1px */

  @media screen and (min-width: 31.5em) {
    font-size: 2.5rem; /* 40px */
    line-height: 1.1; /* 44px */
  }

  @media screen and (min-width: 50em) {
    font-size: 3rem; /* 48px */
    line-height: 1.1667; /* 56px */
  }
}

@mixin caption {
  font-size: 0.75rem; /* 12px */
  font-weight: 400;
  line-height: 1.3334; /* 16px */
  letter-spacing: 0;

  @media screen and (min-width: 40em) {
    font-size: 0.8125rem; /* 13px */
    line-height: 1.2308; /* 16px */
  }

  strong,
  dt {
    color: #333;
  }
}
