// ========================================================
//
// Fractal theme styles
//
// ========================================================

// Functions
@import 'functions/**/*.scss';

// Config
@import 'config/**/*.scss';

// Documentation styles
@import 'docs/**/*.scss';

// Theme overrides
a {
  color: $color-link;

  &:hover {
    color: $color-link--hover;
  }

  &:active {
    color: $color-link--active;
  }
}

.Pen-previewLink svg {
  fill: currentColor;
}

.Header {
  background-color: darken(map-get($color-years, year-2016), 30%);
  color: $color-brand--light;
}
