.c-grid {
  display: flex;
  flex-wrap: wrap;
  padding-right: map(spaces, xsmall);
  padding-bottom: map(spaces, xsmall);

  .c-section__main & {
    margin-top: calc(map(spaces, medium) * -1);
    margin-left: calc(map(spaces, large) * -1);

    @media (--from-large-screen) {
      margin-left: calc(map(spaces, xsmall) * -1);
    }
  }
}

.c-grid__item {
  display: flex;
  flex-basis: 16em;
  flex-grow: 1;
  flex-shrink: 0;
  margin-top: map(spaces, xsmall);
  margin-left: map(spaces, xsmall);

  .c-grid--authors & {
    flex-basis: 50%;
    flex-grow: 0;

    @media (--from-medium-screen) {
      flex-basis: 33.3334%;
    }

    @media (--from-large-screen) {
      flex-basis: 25%;
    }

    @media (--from-xlarge-screen) {
      flex-basis: 20%;
    }
  }
}
