.l-grid {
  display: flex;
  flex-wrap: wrap;
  padding-right: map(spaces, xsmall);
  padding-bottom: map(spaces, xsmall);

  .c-section__main & {
    margin: calc(map(spaces, medium) * -1) calc(map(spaces, large) * -1);

    @media (--from-large-screen) {
      margin-left: calc(map(spaces, xsmall) * -1);
      margin-right: calc(map(spaces, xsmall) * -1);
    }
  }
}

.l-grid__item {
  display: flex;
  flex-basis: 16em;
  flex-grow: 1;
  flex-shrink: 0;
  margin-top: map(spaces, xsmall);
  margin-left: map(spaces, xsmall);

  .l-grid--authors & {
    flex-basis: calc(50% - map(spaces, xsmall));
    flex-grow: 0;

    @media (--from-medium-screen) {
      flex-basis: calc(33.3334% - map(spaces, xsmall));
    }

    @media (--from-large-screen) {
      flex-basis: calc(25% - map(spaces, xsmall));
    }

    @media (--from-xlarge-screen) {
      flex-basis: calc(20% - map(spaces, xsmall));
    }
  }
}
