.c-article {
  position: relative;
  overflow-x: hidden;

  @media screen and (min-width: 50em) {
    padding-top: 9rem;
    padding-bottom: $space-large;
  }
}

.c-article__header {
  padding: $space-medium $space-large $space-large;
  position: relative;

  @media screen and (min-width: 50em) {
    min-height: 16rem;
    padding-right: 5%;
    padding-bottom: $space-xxlarge;
    padding-left: 25%;
    box-shadow: 0 -1px 0 0 $prose-color--rule;
  }

  @media screen and (min-width: 60em) {
    padding-right: 15%;
  }
}

.c-article__title {
  @include typeset(title, fluid);
  position: relative;
  margin-bottom: $space-small;
  z-index: $z-index-overlay;

  a {
    color: $color-neutral--darkest;
  }
}

.c-article__byline {
  .c-avatar {
    position: absolute;
    margin: 0;

    @media screen and (max-width: 49.9375em) {
      width: percentage(1/2);
      top: percentage(-1/4);
      right: percentage(-1/8);
      opacity: 0.1;
      z-index: $z-index-default;
      filter: saturate(0) contrast(2);
      mix-blend-mode: multiply;
    }

    @media screen and (min-width: 50em) {
      width: 27.5%;
      top: -40%;
      left: -5%;
    }
  }
}

.c-article__main {
  padding: 0 $space-large $space-large;

  @media screen and (min-width: 50em) {
    width: 75%;
    margin-left: 25%;
    padding-left: 0;
    padding-right: 5%;
  }

  @media screen and (min-width: 60em) {
    padding-right: 15%;
  }

  @media screen and (width: 80em) {
    padding-right: 25%;
  }
}

.c-article__footer {
  padding: 0 $space-large;

  @media screen and (min-width: 50em) {
    float: left;
    width: 20%;
    padding: 0;
  }
}
