{% if traverse %}
<div class="nav nav-traverse">
  {% if traverse.prev %}
  <a class="nav_item nav_prev" rel="prev" href="{{ traverse.prev.url }}" data-sequence-title="{{ traverse.prev.title }}">
    <span class="nav_item_icon">{% include "prev.svg" %}</span>
    <span class="nav_item_label">Previous {{ traverse.type }}</span>
  </a>
  {% endif %}
  {% if traverse.next %}
  <a class="nav_item nav_next" rel="next" href="{{ traverse.next.url }}" data-sequence-title="{{ traverse.next.title }}">
    <span class="nav_item_icon">{% include "next.svg" %}</span>
    <span class="nav_item_label">Next {{ traverse.type }}</span>
  </a>
  {% endif %}
</div>
{% endif %}
