<section class="section section-topic" id="topicname" data-href="/pages/topics/topicname/">
    <header class="section_header">
        <h1 class="section_title"><a href="/pages/topics/topicname/">Design</a></h1>
        <p class="section_meta">45 articles</p>
    </header>
    <div class="section_main">
        <p><img class="section_image" src="http://dummyimage.com/160x160/333/666.png" width="160" height="160" alt=""/>Visual communication, art direction. Web layouts and typography. Graphic design, interface design, user experience design, illustration, photography, artwork. Creative, strategic, and technical approaches to crafting great interfaces. Visual styles, influences, and trends.</p>
    </div>
</section><!--/.section-topic-->