<section class="section section-topic" id="topicname" data-href="/pages/topics/topicname/">
    <header class="section_header">
        <h1 class="section_title"><a href="/pages/topics/topicname/">Business</a></h1>
        <p class="section_meta">45 articles</p>
    </header>
    <div class="section_main">
        <p data-icon="&#x2655;">Where there&#8217;s muck, there are clients, deliverables and contracts. Occasionally, there&#8217;s brass. Here are articles on developing and improving relationships with clients; managing projects, both business and personal; writing contracts and presenting your work; and encouraging success and avoiding failure.</p>
    </div>
</section><!--/.section-topic-->
