<article class="summary summary-comment summary-unhelpful h-entry" id="c0000">
	<header class="summary_header">
		<h1 class="summary_title p-name h-card">
			<a class="p-author u-url" href="http://paulrobertlloyd.com/">
				<span class="avatar"><img class="u-photo" src="//www.gravatar.com/avatar/d208a4fdb8295873194546b31a0ab89f?s=96&#38;d=http%3A%2F%2Fmedia.24ways.org%2Fimg%2Fgravatar.png" width="64" height="64"/></span>
				Paul Robert Lloyd
			</a>
		</h1>
		<p class="summary_meta">
			<a rel="bookmark" href="#c0000" title="Permalink to this comment"><time class="dt-published" datetime="2012-12-01T12:24:48-00:00">1 December 2012</time></a>
		</p>
	</header>
	<div class="summary_main e-content">
		<p>You&#8217;re an idiot! Everything you have written here is wrong!</p>
	</div>
	<footer class="summary_footer">
		<p class="summary_vote">
			This comment was <a href="/vote/up/c0000/">helpful</a> / <a href="/vote/down/c0000/">unhelpful</a>
		</p>
	</footer>
</article><!--/.summary-comment-->
