<article class="summary summary-article h-entry day-15" data-href="/pages/YYYY/article/">
	<header class="summary_header">
		<h1 class="summary_title p-name">
			<a class="u-url" rel="bookmark" href="/pages/YYYY/article/">Real Animation Using JavaScript, CSS3, and HTML5 Video</a>
		</h1>
		<p class="summary_meta">
			<time class="dt-published" datetime="2010-12-15T00:00:00-00:00">15 December 2010</time>
		</p>
	</header>
	<div class="summary_main">
		<p class="p-summary">
			<a href="http://danielmall.com/">Dan Mall</a> breathes life into web standards-based animation. By striving for more than just mechanical movement, we can create more believable animated effects to enhance our users&#8217; experience.
		</p>
	</div>
	<footer class="summary_footer">
		<p class="summary_author p-author h-card">
			<a class="u-url" href="/pages/authors/author/"><img class="u-photo" src="http://media.24ways.org/authors/danmall160.jpg" alt=""/><span class="p-name">Dan Mall</span></a>
		</p>
	</footer>
</article><!--/.summary-article-->
