                <article class="summary summary-article h-entry" data-href="/pages/YYYY/article/">
                    <header class="summary--header">
                        <h1 class="summary--title p-name"><a href="/pages/YYYY/article/">Real Animation Using JavaScript, CSS3, and HTML5 Video</a></h1>
                        <time class="summary--meta dt-published" class="pubdate" datetime="2010-12-15T00:00:00-00:00">15 December 2010</time>
                    </header>
                    <p class="summary--content p-summary"><a href="http://danielmall.com/">Dan Mall</a> breathes life into web standards-based animation. By striving for more than just mechanical movement, we can create more believable animated effects to enhance our users&#8217; experience.</p>
                    <footer>
                        <a class="h-card p-author" href="/pages/authors/author/"><img src="http://media.24ways.org/authors/danmall160.jpg" alt=""/></a>
                    </footer>
                </article><!--/.summary-->
