                <section class="summary summary-topic" data-href="/pages/topics/topic/">
                    <header class="summary--header">
                        <h1 class="summary--title"><a href="/pages/topics/topic/">Design</a></h1>
                        <p class="summary--meta">45 articles</p>
                    </header>
                    <p class="summary--content">Visual communication, art direction. Web layouts and typography. Graphic design, interface design, user experience design, illustration, photography, artwork. Creative, strategic, and technical approaches to crafting great interfaces. Visual styles, influences, and trends.</p>
                </section><!--/.summary-->
