<article class="summary summary-comment" id="c00000">
    <header class="summary--header">
        <h1 class="summary--title">
            <a href="http://dracos.co.uk/">
                <img src="//www.gravatar.com/avatar/b179b17bda7c633d497c872c88fa4dfa?s=96&#38;d=http%3A%2F%2Fmedia.24ways.org%2Fimg%2Fgravatar.png" width="64" height="64"/>
                Matthew Somerville
            </a>
        </h1>
    </header>
    <div class="summary--main">
        <p>Hooray, a new year! Nice article, good to see non-frameworked JavaScript :-)</p>
        <p>One regex gotcha:</p>
        <ul>
            <li>&#8220;.&#8221; means any character except newline, and w is alphanumeric+underscore – so if your source src attribute was &#8220;my-cat.mp4&#8221;, then the first line that sets the src attribute would end up putting in &#8220;bumper-in.cat&#8221;. If you don&#8217;t know what your filenames will be apart from the extension, plus you only care about the extension, probably better just to use something like /.(w+)$/</li>
        </ul>
        <p>And a couple of regex typos:</p>
        <ul>
            <li>The &#8220;w&#8221; character classes all appear to be missing their &#8220;&#8221;, unless you only want to match wwwww.www ;)</li>
            <li>The last regex has &#8220;([w]+)&#8221; which also should presumably be w+</li>
        </ul>
        <p>Hope that&#8217;s helpful.</p>
    </div>
    <footer class="summary--footer">
        <p class="summary--meta"><a rel="bookmark" href="#c04962" title="Link to this comment">#</a> <time class="pubdate" datetime="2012-12-01T12:24:48-00:00">12:24pm on 1 December 2012</time>
        <p class="summary--meta">This comment was <a href="/vote/up/c4962/">helpful</a> / <a href="/vote/down/c4962/">unhelpful</a></p>
    </footer>
</article><!--/.summary-comment-->