.c-navigation {
  z-index: map(layers, modal);
  background-color: var(--navigation-color);

  [data-menu-expanded] & {
    position: fixed;
    transition-duration: var(--navigation-duration);
    transition-timing-function: ease-out;
  }

  [data-menu-expanded=true] & {
    transition-delay: var(--banner-duration);
  }

  @media (--upto-medium-screen) {
    [data-menu-expanded] & {
      overflow: hidden;
      top: var(--banner-height--small);
      width: 100%;
      transition-property: max-height;
    }

    [data-menu-expanded=false] & {
      max-height: 0;
    }

    [data-menu-expanded=true] & {
      max-height: 32rem;
      box-shadow: 0 8px 8px 0 var(--navigation-color--shadow);
    }
  }

  @media (--from-medium-screen) {
    .no-js & {
      margin-right: var(--navigation-width--large);
    }

    [data-menu-expanded] & {
      top: 0;
      right: 0;
      bottom: 0;
      padding: 0 var(--navigation-width--large) 0 0;
      transition-property: width;
    }

    [data-menu-expanded=false] & {
      width: var(--navigation-width--large);
    }

    [data-menu-expanded=true] & {
      width: 22.5em;
      box-shadow: 0 0 8px 0 var(--navigation-color--shadow);
    }
  }

  @media print {
    display: none;
  }
}

.c-navigation__drawer {
  display: flex;
  flex-direction: column;

  [data-menu-expanded] & {
    overflow: hidden;
  }

  @media (--from-medium-screen) {
    height: 100%;
    box-shadow: inset -1px 0 0 var(--navigation-color--offset);
  }
}

/* Backdrop */
[data-menu-expanded]::after {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: map(layers, backdrop);
  transition: opacity var(--navigation-duration) ease-in;
  background-color: var(--navigation-color--backdrop);
  backdrop-filter: blur(1px);
  pointer-events: none;
}

[data-menu-expanded=true]::after {
  opacity: 1;
  pointer-events: fill;
}
