.c-navigation {
  z-index: $z-index-modal;
  background-color: $navigation-color;

  [data-menu] & {
    position: fixed;
    transition-duration: $navigation-duration;
    transition-timing-function: ease-out;
  }

  [data-menu=open] & {
    transition-delay: $banner-duration;
  }

  @media screen and (max-width: 31.4375em) {
    [data-menu] & {
      overflow: hidden;
      top: $banner-height--small;
      width: 100%;
      transition-property: max-height;
    }

    [data-menu=closed] & {
      max-height: 0;
    }

    [data-menu=open] & {
      max-height: 32rem;
      box-shadow: 0 8px 8px 0 $navigation-color--shadow;
    }
  }

  @media screen and (min-width: 31.5em) {
    .no-js & {
      margin-right: $navigation-width--large;
    }

    [data-menu] & {
      top: 0;
      right: 0;
      bottom: 0;
      padding: $banner-height--large $navigation-width--large 0 0;
      transition-property: width;
    }

    [data-menu=closed] & {
      width: $navigation-width--large;
    }

    [data-menu=open] & {
      width: 22.5em;
      box-shadow: 0 0 8px 0 $navigation-color--shadow;
    }
  }

  @media print {
    display: none;
  }
}

// Backdrop
[data-menu]::after {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: $z-index-backdrop;
  transition: opacity $navigation-duration ease-in;
  background-color: $navigation-color--backdrop;
  backdrop-filter: blur(1px);
  pointer-events: none;
}

[data-menu=open]::after {
  opacity: 1;
  pointer-events: fill;
}
