.c-navigation {
  z-index: map(layers, modal);
  overflow: hidden;
  background-color: $navigation-color;

  .has-js & {
    position: fixed;
    transition-duration: $navigation-duration;
    transition-timing-function: ease-out;
  }

  [data-menu-expanded=true] & {
    transition-delay: $banner-duration;
  }

  @media (--upto-medium-screen) {
    .has-js & {
      top: $banner-height--small;
      max-height: 0;
      width: 100%;
      transition-property: max-height;
    }

    [data-menu-expanded=false] & {
      max-height: 0;
    }

    [data-menu-expanded=true] & {
      max-height: 32rem;
      box-shadow: 0 8px 8px 0 $navigation-color--shadow;
    }
  }

  @media (--from-medium-screen) {
    .no-js & {
      margin-right: $navigation-width--large;
    }

    .has-js & {
      top: 0;
      right: 0;
      bottom: 0;
      padding: 0 $navigation-width--large 0 0;
      width: $navigation-width--large;
      transition-property: width;
    }

    [data-menu-expanded=false] & {
      width: $navigation-width--large;
    }

    [data-menu-expanded=true] & {
      width: 22.5em;
      box-shadow: 0 0 8px 0 $navigation-color--shadow;
    }
  }

  @media print {
    display: none;
  }
}

.c-navigation__drawer {
  display: flex;
  flex-direction: column;

  .has-js & {
    overflow: hidden;
  }

  @media (--from-medium-screen) {
    height: 100%;
    box-shadow: inset -1px 0 0 $navigation-color--offset;
  }
}

/* Backdrop */
[data-menu-expanded]::after {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: map(layers, backdrop);
  transition: opacity $navigation-duration ease-in;
  background-color: $navigation-color--backdrop;
  backdrop-filter: blur(0);
  opacity: 0;
  pointer-events: none;
}

[data-menu-expanded=true]::after {
  backdrop-filter: blur(2px);
  opacity: 1;
  pointer-events: fill;
}
