.c-navigation {
  background-color: #fff;
  right: 0;
  z-index: 1000;
  position: relative;

  @media print {
    display: none;
  }

  .js-enhanced & {
    @media screen and (max-width: 31.4375em) {
      overflow: hidden;
      position: fixed;
      top: 3rem; // 48px
      width: 100%;
      max-height: 0;
      transition: max-height .2s ease-out;
    }

    @media screen and (min-width: 31.5em) {
      margin: 0;
      padding: 4.5rem 4.5rem 0 0; // 72px 72px 0 0
      width: 4.5em; // 72px
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      transition: width .2s ease-out;
    }
  }

  .js-menu-active & {
    z-index: 1000;

    @media screen and (max-width: 31.4375em) {
      box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
      max-height: 20rem; // 320px
      transition: max-height .2s ease-out;
    }

    @media screen and (min-width: 31.5em) {
      box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
      width: 22.5em; // 360px
      transition: width .2s ease-out;
    }
  }
}
