

<!DOCTYPE html>
<!--
    PHP: Check if fonts-loaded cookie has been set.
    If so, add the `fonts-loaded` class to the `html` element.
-->
<html lang="en-gb" dir="ltr" prefix="og: http://ogp.me/ns#" class="no-js fonts-loaded">
  <head>
    <meta charset="utf-8"/>
    <link rel="dns-prefetch" href="https://fonts.gstatic.com"/>
    <link rel="dns-prefetch" href="https://cloud.24ways.org"/>
    <link rel="dns-prefetch" href="https://media.24ways.org"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro%7CSource+Sans+Pro:400,700%7CSource+Serif+Pro:400"/>
    <link rel="stylesheet" href="../../assets/styles/app.css"/>
    <link rel="shortcut icon" href="../../assets/icons/icon.ico" type="image/ico"/>
    <link rel="apple-touch-icon" href="../../assets/icons/icon.png" type="image/png"/>
    <link rel="mask-icon" href="../../assets/icons/icon.svg" color="#f04"/>
    <link rel="manifest" href="/app.webmanifest"/>
    <link rel="alternate" href="https://feeds.feedburner.com/24ways" type="application/rss+xml"/>
    <link rel="author" href="/humans.txt"/>

    <script>
        var docEl = document.documentElement;
        docEl.className = docEl.className.replace('no-js', 'has-js');
    </script>
    <script src="../../assets/scripts/app.js" defer></script><meta name="referrer" content="origin"/>
    <meta name="robots" content="index, follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="format-detection" content="telephone=no"><meta property="og:title" content="Rachel Andrew"/><meta property="og:description" content="24 ways is the advent calendar for web geeks. Each day throughout December we publish a daily dose of web design and development goodness to bring you all a little Christmas cheer."/><meta property="og:url" content="https://24ways.org"/><meta property="og:image" content="https://cloud.24ways.org/authors/rachelandrew280.jpg"/><meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@24ways"/>

    <!--
      PHP: Get correct hue value for year and day from array.
    -->
    <style>
      :root {
        --color-year: hsl(300, 100%, 16%);
        --color-year--dark: hsl(300, 100%, 8%);
        --color-year--dark-alpha: hsla(300, 100%, 8%, 0.8);
        --color-day: hsl(283, 80%, 60%);
        --color-day--light: hsl(283, 60%, 98%);
        --color-day--dark: hsl(283, 100%, 24%);
        --color-day--dark-alpha: hsla(283, 100%, 24%, 0.33);
      }
    </style>

    <title>Rachel Andrew &#9670; 24 ways</title>
  </head>

  <body>
    <header class="c-preface  h-card">
  <h1 class="c-preface__title  p-name">Rachel Andrew
  </h1><div class="c-preface__main  p-note">
    <div class="s-prose"><img class="c-avatar  u-photo" src="https://cloud.24ways.org/authors/rachelandrew280.jpg" width="280" height="280" alt=""/>
<p><span class="fn n">Rachel Andrew</span> is a Director of edgeofmyseat.com, a UK web development consultancy and creators of the small content management system, <a href="https://grabaperch.com/">Perch</a>. She is the author of a number of <a href="https://rachelandrew.co.uk/books">books</a>, and is a regular columnist for <a href="http://alistapart.com/author/rachelandrew">A List Apart</a>.</p>
<p>She curates a popular <a href="http://csslayout.news/">email newsletter on CSS Layout</a>, and will be launching a <a href="https://thecssworkshop.com/">CSS Layout online workshop</a> in early 2016.</p>
<p>When not writing about business and technology on her blog at <a href="https://rachelandrew.co.uk">rachelandrew.co.uk</a> or <a href="http://lanyrd.com/profile/rachelandrew/">speaking at conferences</a>, you will usually find Rachel running up and down one of the giant hills in Bristol.</p>
<p><span class="caption">Photo: <a href="http://duncandavidson.com/">James Duncan Davidson</a></span></p>

    </div>
  </div></header>

  </body>
</html>

