

<!DOCTYPE html>
<!--
    PHP: Check if fonts-loaded cookie has been set.
    If so, add the `fonts-loaded` class to the `html` element.
-->
<html lang="en-gb" dir="ltr" prefix="og: http://ogp.me/ns#" class="no-js fonts-loaded">
  <head>
    <meta charset="utf-8"/>
    <link rel="dns-prefetch" href="https://fonts.gstatic.com"/>
    <link rel="dns-prefetch" href="https://cloud.24ways.org"/>
    <link rel="dns-prefetch" href="https://media.24ways.org"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro%7CSource+Sans+Pro:400,700%7CSource+Serif+Pro:400"/>
    <link rel="stylesheet" href="../../assets/styles/app.css"/>
    <link rel="shortcut icon" href="../../assets/icons/icon.ico" type="image/ico"/>
    <link rel="apple-touch-icon" href="../../assets/icons/icon.png" type="image/png"/>
    <link rel="mask-icon" href="../../assets/icons/icon.svg" color="#f04"/>
    <link rel="manifest" href="/app.webmanifest"/>
    <link rel="alternate" href="https://feeds.feedburner.com/24ways" type="application/rss+xml"/>
    <link rel="author" href="/humans.txt"/>

    <script>
        var docEl = document.documentElement;
        docEl.className = docEl.className.replace('no-js', 'has-js');
    </script>
    <script src="../../assets/scripts/app.js" defer></script><meta name="referrer" content="origin"/>
    <meta name="robots" content="index, follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="format-detection" content="telephone=no"><meta property="og:title" content="[Code](/topic/code/)"/><meta property="og:description" content="24 ways is the advent calendar for web geeks. Each day throughout December we publish a daily dose of web design and development goodness to bring you all a little Christmas cheer."/><meta property="og:url" content="https://24ways.org"/><meta property="og:image" content="../../assets/icons/icon.png"/><meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@24ways"/>

    <!--
      PHP: Get correct hue value for year and day from array.
    -->
    <style>
      :root {
        --color-year: hsl(300, 100%, 16%);
        --color-year--dark: hsl(300, 100%, 8%);
        --color-year--dark-alpha: hsla(300, 100%, 8%, 0.8);
        --color-day: hsl(283, 80%, 60%);
        --color-day--light: hsl(283, 60%, 98%);
        --color-day--dark: hsl(283, 100%, 24%);
        --color-day--dark-alpha: hsla(283, 100%, 24%, 0.33);
      }
    </style>

    <title>[Code](/topic/code/) &#9670; 24 ways</title>
  </head>

  <body>
    <section class="c-section c-section--topic" id="code">
  <header class="c-section__header">
    <h2 class="c-section__title"><a href="/topic/code/">Code</a></h2>
  </header>
  <div class="c-section__main"><svg width="16" height="16" viewBox="0 0 240 240" focusable="false" aria-hidden="true">
  <path transform="rotate(45 120 120)" d="M115 100H70.5C63 85 47.5 75 30 75 8.5 75-9.5 90-14 110h29l10 10-10 10h-29c4.5 20 22.5 35 44 35 17.5 0 33-10 40.5-25h99.5c7.5 15 22.5 25 40.5 25 21.5 0 39.5-15 44-35h-29l-10-10 10-10h29c-4.5-20-22.5-35-44-35-17.5 0-33 10-40.5 25H125V30h10v-50h-30v50h10v70zm123.5 40c-6.5 9-17 15-28.5 15-16 0-29-10.5-33.5-25H63.5C59 144.5 46 155 30 155c-12 0-22.5-6-28.5-15H20l20-20-20-20H1.5C7.5 91 18 85 30 85c16 0 29 10.5 33.5 25h113c4.5-14.5 17.5-25 33.5-25 12 0 23 6 29 15h-19l-20 20 20 20h19zM115-10h10v30h-10v-30zM99.5 240v-50h-10v-10h25v-40h10v40h25v10H140v50c0 10-7.5 20-20 20-12.5 0-20-10-20.5-20zm11 0c0 7.5 5 10 10 10s10-2.5 10-10v-50h-20v50z"/>
</svg>
<div class="s-prose">
      <p>Poetry? Not likely (though <a href="/2006/gravity-defying-page-corners/">Dan Cederholm wrote some doggerel</a> back in 2006). Here are articles on hypertext markup language, its attributes and other minutiae; crafty <s>hacks</s> tips for your cascading style sheets; JavaScript legerdemain; and tinkering with application programming interfaces.</p>

    </div></div>
</section>

  </body>
</html>

