

<!DOCTYPE html>
<!--
    PHP: Check if fonts-loaded cookie has been set.
    If so, add the `fonts-loaded` class to the `html` element.
-->
<html lang="en-gb" dir="ltr" prefix="og: http://ogp.me/ns#" class="no-js fonts-loaded">
  <head>
    <meta charset="utf-8"/>
    <link rel="dns-prefetch" href="https://fonts.gstatic.com"/>
    <link rel="dns-prefetch" href="https://cloud.24ways.org"/>
    <link rel="dns-prefetch" href="https://media.24ways.org"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro%7CSource+Sans+Pro:400,700%7CSource+Serif+Pro:400"/>
    <link rel="stylesheet" href="../../assets/styles/app.css"/>
    <link rel="shortcut icon" href="../../assets/icons/icon.ico" type="image/ico"/>
    <link rel="apple-touch-icon" href="../../assets/icons/icon.png" type="image/png"/>
    <link rel="mask-icon" href="../../assets/icons/icon.svg" color="#f04"/>
    <link rel="manifest" href="/app.webmanifest"/>
    <link rel="alternate" href="https://feeds.feedburner.com/24ways" type="application/rss+xml"/>
    <link rel="author" href="/humans.txt"/>

    <script>
        var docEl = document.documentElement;
        docEl.className = docEl.className.replace('no-js', 'has-js');
    </script>
    <script src="../../assets/scripts/app.js" defer></script><meta name="referrer" content="origin"/>
    <meta name="robots" content="index, follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="format-detection" content="telephone=no"><meta property="og:title" content="24 ways"/><meta property="og:description" content="24 ways is the advent calendar for web geeks. Each day throughout December we publish a daily dose of web design and development goodness to bring you all a little Christmas cheer."/><meta property="og:url" content="https://24ways.org"/><meta property="og:image" content="../../assets/icons/icon.png"/><meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@24ways"/>

    <!--
      PHP: Get correct hue value for year and day from array.
    -->
    <style>
      :root {
        --color-year: hsl(300, 100%, 16%);
        --color-year--dark: hsl(300, 100%, 8%);
        --color-year--dark-alpha: hsla(300, 100%, 8%, 0.8);
        --color-day: hsl(283, 80%, 60%);
        --color-day--light: hsl(283, 60%, 98%);
        --color-day--dark: hsl(283, 100%, 24%);
        --color-day--dark-alpha: hsla(283, 100%, 24%, 0.33);
      }
    </style>

    <title> &#9670; 24 ways</title>
  </head>

  <body>
    <!-- Start: @section--topic -->
<section class="c-section c-section--topic" id="code">
  <header class="c-section__header">
    <h2 class="c-section__title"><a href="/topic/code/">Code</a></h2>
  </header>
  <div class="c-section__main"><svg width="16" height="16" viewBox="0 0 240 240" focusable="false" aria-hidden="true">
  <path transform="rotate(45 120 120)" d="M115 100H70.5C63 85 47.5 75 30 75 8.5 75-9.5 90-14 110h29l10 10-10 10h-29c4.5 20 22.5 35 44 35 17.5 0 33-10 40.5-25h99.5c7.5 15 22.5 25 40.5 25 21.5 0 39.5-15 44-35h-29l-10-10 10-10h29c-4.5-20-22.5-35-44-35-17.5 0-33 10-40.5 25H125V30h10v-50h-30v50h10v70zm123.5 40c-6.5 9-17 15-28.5 15-16 0-29-10.5-33.5-25H63.5C59 144.5 46 155 30 155c-12 0-22.5-6-28.5-15H20l20-20-20-20H1.5C7.5 91 18 85 30 85c16 0 29 10.5 33.5 25h113c4.5-14.5 17.5-25 33.5-25 12 0 23 6 29 15h-19l-20 20 20 20h19zM115-10h10v30h-10v-30zM99.5 240v-50h-10v-10h25v-40h10v40h25v10H140v50c0 10-7.5 20-20 20-12.5 0-20-10-20.5-20zm11 0c0 7.5 5 10 10 10s10-2.5 10-10v-50h-20v50z"/>
</svg>
<div class="s-prose">
      <p>Poetry? Not likely (though <a href="/2006/gravity-defying-page-corners/">Dan Cederholm wrote some doggerel</a> back in 2006). Here are articles on hypertext markup language, its attributes and other minutiae; crafty <s>hacks</s> tips for your cascading style sheets; JavaScript legerdemain; and tinkering with application programming interfaces.</p>

    </div></div>
</section>
<!-- End: @section--topic -->

<!-- Start: @section--archive -->
<section class="c-section" id="2013">
  <header class="c-section__header">
    <h2 class="c-section__title"><a href="/2013/">2013</a></h2>
  </header>
  <div class="c-section__main"><div class="s-prose">
      <p>Scourge of browser vendors everywhere, WaSP buzzed its last in March. Dave Shea’s CSS Zen Garden celebrated its tenth anniversary in May, and Google Glass was released. Ever broad in its interests, 24 ways tamed Grunt, URLs and GitHub Pages, encouraged readers to write and publish books, and leavened all that with goodies on project management, web typography and SVG.</p>

    </div></div>
</section>
<!-- End: @section--archive -->

<!-- Start: @section--author -->
<section class="c-section" id="author">
  <header class="c-section__header">
    <h2 class="c-section__title">About the author</h2>
  </header>
  <div class="c-section__main"><div class="s-prose">
      <p>Drew McLellan is lead developer on your favourite content management systems, <a href="https://grabaperch.com/">Perch and Perch Runway</a>. He is Director and Senior Developer at edgeofmyseat.com in Bristol, England, and is formerly Group Lead at the Web Standards Project. When not publishing 24 ways, Drew keeps a <a href="http://allinthehead.com/">personal site</a> covering web development issues and themes, <a href="https://flickr.com/drewm/">takes photos</a>, <a href="https://twitter.com/drewm">tweets a lot</a> and tries to stay upright on his bicycle.</p>
<p><span class="caption">Photo: <a href="http://duncandavidson.com/">James Duncan Davidson</a></span></p>
<p><a class="c-continue" href="/authors/drewmclellan/">More articles by Drew</a></p>

    </div></div>
</section>
<!-- End: @section--author -->

<!-- Start: @section--sponsor -->
<section class="c-section c-section--sponsor" id="sponsor">
  <header class="c-section__header">
    <h2 class="c-section__title">Brought to you by</h2>
  </header>
  <div class="c-section__main"><a class="c-promo" href="https://grabaperch.com/?ref=24w01">
  <img class="c-promo__image" src="/assets/images/logo-perch.png" alt="Perch - A really little CMS" width="152" height="64"/>
  <p class="c-promo__message">The easiest way to publish <strong>fast, flexible HTML5 websites</strong> your clients will love.</p>
  <p class="c-promo__url">grabaperch.com</p>
</a>
</div>
</section>
<!-- End: @section--sponsor -->

<!-- Start: @section--comments -->
<section class="c-section" id="comments">
  <header class="c-section__header">
    <h2 class="c-section__title">2 Comments</h2>
  </header>
  <div class="c-section__main"><div class="s-prose">
      <p>Comments are ordered by helpfulness, as indicated by you. Help us pick out the gems and discourage asshattery by voting on notable comments.</p>
<p><a class="c-continue" href="#comment-form">Got something to add? Leave a comment below</a></p>

    </div><article class="c-comment h-entry" id="c0001">
  <header class="c-comment__header">
    <h3 class="c-comment__title  p-name h-card">
      <a class="p-author u-url" href="https://adactio.com/">
        <img class="c-avatar  u-photo" src="https://www.gravatar.com/avatar/5ad82c5ba0264363974af89deb743c20?s=96" width="64" height="64" alt=""/>

        Jeremy Keith
      </a>
    </h3>
    <p class="c-comment__meta">
      <a class="c-comment__permalink" rel="bookmark" href="#c0001" title="Permalink to this comment"><time class="dt-published" datetime="2012-12-01T12:24:48-00:00">1 December 2012</time></a>
    </p>
  </header>
  <div class="c-comment__main s-prose  e-content">
    <p>This is great stuff! I’m terrible at regular expressions—my brain just doesn’t seem to want to remember any of it—but this article contains the clearest description of regular expressions I’ve come across.</p>
<p>I thought I’d share a useful little rewrite rule that I use for cache-busting JavaScript and CSS files. You know the story: you make a change in your JavaScript or CSS and you want to let the browser know that it should grab the new version instead of using what it’s got in its cache.</p>
<p>Now, I could potentially just use a query string when I point to my JS and CSS files ( e.g. /js/myscript.js?20131201 ) …but that can cause issues with proxy servers.</p>
<p>Instead what I what I do is point to files like this: <code>/js/myscript.20131201.js</code></p>
<p>Then I need to tell the server to look for the <strong>actual</strong> file in <code>/js/myscript.js</code></p>
<p>Here’s the rewrite rule I’m using:</p>
<pre><code>RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.).(d).(js|css)$ $1.$3 [L]
</code></pre>
<p>It’s basically telling the server that, if the JS or CSS file doesn’t actually exist and it matches the pattern of having two dots before the file extension (with only numbers after the first dot), to look at the bit before the first dot, and look at the bit after the second dot, but to ignore the bit in between (the numbers).</p>
<p>The server serves up the right file, but browsers fetch the new version because, as far as they’re concerned, this looks like a brand new file that they haven’t got in their cache.</p>
<p>That was a terrible explanation, wasn’t it? I now have even more appreciation for how clearly and concise this article is.</p>

  </div>
  <footer class="c-comment__footer">
    <p>This comment was <a href="/vote/up/c0001/">helpful</a> / <a href="/vote/down/c0001/">unhelpful</a></p>
  </footer>
</article>
<article class="c-comment c-comment--unhelpful h-entry" id="c0002">
  <header class="c-comment__header">
    <h3 class="c-comment__title  p-name h-card">
      <a class="p-author u-url" href="https://paulrobertlloyd.com/">
        <img class="c-avatar  u-photo" src="https://www.gravatar.com/avatar/15091a37bacfa4bdd011282627eaca2b?s=96" width="64" height="64" alt=""/>

        Paul Robert Lloyd
      </a>
    </h3>
    <p class="c-comment__meta">
      <a class="c-comment__permalink" rel="bookmark" href="#c0002" title="Permalink to this comment"><time class="dt-published" datetime="2012-12-12T12:24:48-00:00">12 December 2012</time></a>
    </p>
  </header>
  <div class="c-comment__main s-prose  e-content">
    <p>You fool! Everything you’ve written here is wrong!</p>

  </div>
  <footer class="c-comment__footer">
    <p>This comment was <a href="/vote/up/c0002/">helpful</a> / <a href="/vote/down/c0002/">unhelpful</a></p>
  </footer>
</article>
</div>
</section>
<!-- End: @section--comments -->

<!-- Start: @section--related -->
<section class="c-section c-section--related" id="related">
  <header class="c-section__header">
    <h2 class="c-section__title">Related articles</h2>
  </header>
  <div class="c-section__main"><ol class="c-listing c-listing--summaries"><li><article class="c-summary h-entry day-15">
  <header class="c-summary__header">
    <h3 class="c-summary__title  p-name"><a class="u-url" rel="bookmark" href="/2015/grid-flexbox-box-alignment-our-new-system-for-layout/">Grid, Flexbox, Box Alignment: Our New System for Layout</a></h3><p class="c-summary__author  p-author h-card">
      <a class="c-summary__author-url  u-url" href="/authors/rachelandrew/">
        <img class="u-photo" src="https://cloud.24ways.org/authors/rachelandrew160.jpg" width="72" height="72" alt=""/>
        <span class="p-name">Rachel Andrew</span>
      </a>
    </p></header>
  <div class="c-summary__main">
    <p class="p-summary"><a href="https://rachelandrew.co.uk/">Rachel Andrew</a> unwraps the new paradigms of web layout, comparing their features and showing how they can free us from grid-based, <code>div</code>-infested frameworks. Beautifully wrapped boxes look lovely under the Christmas tree, but we need to think and break out of them.
</p>
  </div><footer class="c-summary__footer">
    <p class="c-summary__meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">
        15 <span>December 2010</span>
      </time>
    </p>
  </footer></article>
</li><li><article class="c-summary h-entry day-15">
  <header class="c-summary__header">
    <h3 class="c-summary__title  p-name"><a class="u-url" rel="bookmark" href="/2015/grid-flexbox-box-alignment-our-new-system-for-layout/">Grid, Flexbox, Box Alignment: Our New System for Layout</a></h3><p class="c-summary__author  p-author h-card">
      <a class="c-summary__author-url  u-url" href="/authors/rachelandrew/">
        <img class="u-photo" src="https://cloud.24ways.org/authors/rachelandrew160.jpg" width="72" height="72" alt=""/>
        <span class="p-name">Rachel Andrew</span>
      </a>
    </p></header>
  <div class="c-summary__main">
    <p class="p-summary"><a href="https://rachelandrew.co.uk/">Rachel Andrew</a> unwraps the new paradigms of web layout, comparing their features and showing how they can free us from grid-based, <code>div</code>-infested frameworks. Beautifully wrapped boxes look lovely under the Christmas tree, but we need to think and break out of them.
</p>
  </div><footer class="c-summary__footer">
    <p class="c-summary__meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">
        15 <span>December 2010</span>
      </time>
    </p>
  </footer></article>
</li><li><article class="c-summary h-entry day-15">
  <header class="c-summary__header">
    <h3 class="c-summary__title  p-name"><a class="u-url" rel="bookmark" href="/2015/grid-flexbox-box-alignment-our-new-system-for-layout/">Grid, Flexbox, Box Alignment: Our New System for Layout</a></h3><p class="c-summary__author  p-author h-card">
      <a class="c-summary__author-url  u-url" href="/authors/rachelandrew/">
        <img class="u-photo" src="https://cloud.24ways.org/authors/rachelandrew160.jpg" width="72" height="72" alt=""/>
        <span class="p-name">Rachel Andrew</span>
      </a>
    </p></header>
  <div class="c-summary__main">
    <p class="p-summary"><a href="https://rachelandrew.co.uk/">Rachel Andrew</a> unwraps the new paradigms of web layout, comparing their features and showing how they can free us from grid-based, <code>div</code>-infested frameworks. Beautifully wrapped boxes look lovely under the Christmas tree, but we need to think and break out of them.
</p>
  </div><footer class="c-summary__footer">
    <p class="c-summary__meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">
        15 <span>December 2010</span>
      </time>
    </p>
  </footer></article>
</li><li><article class="c-summary h-entry day-15">
  <header class="c-summary__header">
    <h3 class="c-summary__title  p-name"><a class="u-url" rel="bookmark" href="/2015/grid-flexbox-box-alignment-our-new-system-for-layout/">Grid, Flexbox, Box Alignment: Our New System for Layout</a></h3><p class="c-summary__author  p-author h-card">
      <a class="c-summary__author-url  u-url" href="/authors/rachelandrew/">
        <img class="u-photo" src="https://cloud.24ways.org/authors/rachelandrew160.jpg" width="72" height="72" alt=""/>
        <span class="p-name">Rachel Andrew</span>
      </a>
    </p></header>
  <div class="c-summary__main">
    <p class="p-summary"><a href="https://rachelandrew.co.uk/">Rachel Andrew</a> unwraps the new paradigms of web layout, comparing their features and showing how they can free us from grid-based, <code>div</code>-infested frameworks. Beautifully wrapped boxes look lovely under the Christmas tree, but we need to think and break out of them.
</p>
  </div><footer class="c-summary__footer">
    <p class="c-summary__meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">
        15 <span>December 2010</span>
      </time>
    </p>
  </footer></article>
</li></ol>
</div>
</section>
<!-- End: @section--related -->

<!-- Start: @section--authors -->
<section class="c-section" id="a">
  <header class="c-section__header">
    <h2 class="c-section__title">A</h2>
  </header>
  <div class="c-section__main"><ol class="c-listing c-listing--authors"><li><a class="c-author  h-card u-url" href="/authors/drewmclellan/">
  <img class="c-author__image  u-photo" src="https://cloud.24ways.org/authors/drewmclellan160.jpg" width="160" height="160" alt=""/>
  <span class="c-author__meta  p-name">Drew McLellan</span>
</a>
</li><li><a class="c-author  h-card u-url" href="/authors/drewmclellan/">
  <img class="c-author__image  u-photo" src="https://cloud.24ways.org/authors/drewmclellan160.jpg" width="160" height="160" alt=""/>
  <span class="c-author__meta  p-name">Drew McLellan</span>
</a>
</li><li><a class="c-author  h-card u-url" href="/authors/drewmclellan/">
  <img class="c-author__image  u-photo" src="https://cloud.24ways.org/authors/drewmclellan160.jpg" width="160" height="160" alt=""/>
  <span class="c-author__meta  p-name">Drew McLellan</span>
</a>
</li><li><a class="c-author  h-card u-url" href="/authors/drewmclellan/">
  <img class="c-author__image  u-photo" src="https://cloud.24ways.org/authors/drewmclellan160.jpg" width="160" height="160" alt=""/>
  <span class="c-author__meta  p-name">Drew McLellan</span>
</a>
</li></ol>
</div>
</section>
<!-- End: @section--authors -->

  </body>
</html>

