

<!DOCTYPE html>
<!--
    PHP: Check if fonts-loaded cookie has been set.
    If so, add the `fonts-loaded` class to the `html` element.
-->
<html lang="en-gb" dir="ltr" prefix="og: http://ogp.me/ns#" class="no-js fonts-loaded">
  <head>
    <meta charset="utf-8"/>
    <link rel="dns-prefetch" href="https://fonts.gstatic.com"/>
    <link rel="dns-prefetch" href="https://cloud.24ways.org"/>
    <link rel="dns-prefetch" href="https://media.24ways.org"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro%7CSource+Sans+Pro:400,700%7CSource+Serif+Pro:400"/>
    <link rel="stylesheet" href="../../assets/styles/app.css"/>
    <link rel="shortcut icon" href="../../assets/icons/icon.ico" type="image/ico"/>
    <link rel="apple-touch-icon" href="../../assets/icons/icon.png" type="image/png"/>
    <link rel="mask-icon" href="../../assets/icons/icon.svg" color="#f04"/>
    <link rel="manifest" href="/app.webmanifest"/>
    <link rel="alternate" href="https://feeds.feedburner.com/24ways" type="application/rss+xml"/>
    <link rel="author" href="/humans.txt"/>

    <script>
        var docEl = document.documentElement;
        docEl.className = docEl.className.replace('no-js', 'has-js');
    </script>
    <script src="../../assets/scripts/app.js" defer></script><meta name="referrer" content="origin"/>
    <meta name="robots" content="index, follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="format-detection" content="telephone=no"><meta property="og:title" content="Real Animation Using JavaScript, CSS3, and HTML5 Video"/><meta property="og:description" content="24 ways is the advent calendar for web geeks. Each day throughout December we publish a daily dose of web design and development goodness to bring you all a little Christmas cheer."/><meta property="og:url" content="https://24ways.org"/><meta property="og:image" content="../../assets/icons/icon.png"/><meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@24ways"/>

    <!--
      PHP: Get correct hue value for year and day from array.
    -->
    <style>
      :root {
        --color-year: hsl(300, 100%, 16%);
        --color-year--dark: hsl(300, 100%, 8%);
        --color-year--dark-alpha: hsla(300, 100%, 8%, 0.8);
        --color-day: hsl(283, 80%, 60%);
        --color-day--light: hsl(283, 60%, 98%);
        --color-day--dark: hsl(283, 100%, 24%);
        --color-day--dark-alpha: hsla(283, 100%, 24%, 0.33);
      }
    </style>

    <title>Real Animation Using JavaScript, CSS3, and HTML5 Video &#9670; 24 ways</title>
  </head>

  <body>
    <article class="c-summary c-summary--countdown h-entry day-15">
  <header class="c-summary__header">
    <h3 class="c-summary__title  p-name"><a class="u-url" rel="bookmark" href="/2010/real-animation-using-javascript-css3-and-html5-video/">Real Animation Using JavaScript, CSS3, and HTML5 Video</a></h3><p class="c-summary__author  p-author h-card">
      <a class="c-summary__author-url  u-url" href="/authors/danmall/">
        <img class="u-photo" src="https://cloud.24ways.org/authors/danmall160.jpg" width="72" height="72" alt=""/>
        <span class="p-name">Dan Mall</span>
      </a>
    </p></header>
  <div class="c-summary__main">
    <p class="p-summary"><a href="http://danielmall.com/">Dan Mall</a> breathes life into web standards-based animation. By striving for more than just mechanical movement, we can create more believable animated effects to enhance our users’ experience.
</p>
  </div><footer class="c-summary__footer">
    <p class="c-summary__meta">
      <time class="dt-published" datetime="2010-12-15T00:00:00-00:00">
        15 <span>December 2010</span>
      </time>
    </p>
  </footer></article>

  </body>
</html>

